<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}"
        xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title data-translate="менеджер_банерів"></title>
</head>
<body>

<section layout:fragment="content">
    <div class="content-wrapper">
        <div class="container-fluid">
            <h4 class="fw-bold" data-translate="BANNER.TITLE">Название баннера</h4>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}" data-translate="breadcrumb.home">Главная</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/banners}" data-translate="banners">Баннеры</a></li>
                    <li class="breadcrumb-item active" aria-current="page" data-translate="BANNER.TITLE">Название
                        баннера
                    </li>
                </ol>
            </nav>
            <hr style="margin-top: -5px">
            <!--            <br>-->
            <!--            <ul class="nav nav-pills mb-3" role="tablist">-->
            <!--                <li class="nav-item">-->
            <!--                    <button class="nav-link active" type="button" aria-selected="true" data-toggle="tab" role="tab"-->
            <!--                            data-bs-toggle="pill" onclick="changeInput('ru')">Ру-->
            <!--                    </button>-->
            <!--                </li>-->
            <!--                <li class="nav-item">-->
            <!--                    <button class="nav-link" type="button" aria-selected="false" data-toggle="tab" role="tab"-->
            <!--                            data-bs-toggle="pill" onclick="changeInput('eu')">Eng-->
            <!--                    </button>-->
            <!--                </li>-->
            <!--                <li class="nav-item">-->
            <!--                    <button class="nav-link" type="button" aria-selected="false" data-toggle="tab" role="tab"-->
            <!--                            data-bs-toggle="pill" onclick="changeInput('ukr')">Укр-->
            <!--                    </button>-->
            <!--                </li>-->
            <!--            </ul>-->
            <!--            <br>-->
            <div class="card">
                <div class="card-header">
                    <h2 data-translate="INFORMATION">Информация</h2>
                    <hr>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <label data-translate="title">Название</label>
                            <input type="text" class="form-control" id="nameBanners" th:value="${banner.nameBanners}">
                            <br>
                            <input class="form-check-input" type="checkbox" value="true" name="status"
                                   th:checked="${banner.status}">
                            <span class="checkmark" data-translate="ACTIVE">Активен</span>
                        </div>
                    </div>
                    <h2 data-translate="SLIDES">Слайды</h2>
                    <div id="card-container">
                    </div>
                    <br>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-info" onclick="addLayoutCard()">Добавить слайд</button>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-end">
                        <a th:href="@{/banners}">
                            <button class="btn btn-default" data-translate="cancel">Отменить</button>
                        </a>
                        <button class="btn btn-success" onclick="sendForm()" data-translate="save">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-warning notification  d-flex align-items-center hidden" role="alert"
             id="notification">
            <strong id="text_notification"></strong>
            <div>
                <span id="notification-message"></span>
            </div>
        </div>
    </div>
    <script th:src="@{/vendor/libs/block-ui/block-ui.js}"></script>
    <script th:inline="javascript">
        let langOld = "ru";

        function changeInput(lang) {
            $(".nameContent").css("display", "none")
            $("." + lang + "Content").css("display", "block");
            langOld = lang.toString();
            console.log(langOld)
        }

        let imgThymeleafPath = [];
        document.addEventListener("DOMContentLoaded", function () {
            let thymeleafDto =/*[[${bannerList}]]*/'';
            let num_thymeleaf = 1;
            thymeleafDto.forEach(function (s) {
                addLayoutCard();
                $("#previewImage" + num_thymeleaf).attr("src", "data:image/jpeg;base64, " + s.oldImgPath).addClass('d-block w-px-300 h-px-300 rounded');
                $("#nameSlide" + num_thymeleaf).attr("value", s.name);
                $("#quantitySlide" + num_thymeleaf).attr("value", s.queue);
                $("#previewImage" + num_thymeleaf);
                imgThymeleafPath.push(s.oldImgName);
                num_thymeleaf++;
            });
        })

        function validAllInput() {
            let isValidated = true
            cleanInputs();
            if (layoutArray.length > 0) {
                layoutArray.forEach(function (element) {
                    if (!validString("1", "33", $("#nameSlide" + element))) {
                        isValidated = false;
                    }
                    if (!validateNumber("1", "20", $("#quantitySlide" + element))) {
                        isValidated = false;
                    }
                    if (!$("#previewImage" + element).attr("src")) {
                        if (!validateFile('file' + element, ['.jpeg', '.jpg', '.png'])) isValidated = false
                    }
                })
            }
            if (!validString("1", "33", $("#nameBanners"))) {
                isValidated = false;
            }
            return isValidated;
        }

        function sendForm() {
            $("#full_body").block({
                message: '<div style="display: flex; align-items: center; justify-content: center; height: 100vh;"><div class="pinner-border spinner-border text-primary" role="status" style="height: 10vw; width: 10vw; max-height: 400px; max-width: 400px;"></div></div>',
                css: {
                    backgroundColor: "transparent",
                    border: "0"
                },
                overlayCSS: {
                    backgroundColor: "#000",
                    opacity: 0.5
                }
            })
            let formData = new FormData();
            console.log(layoutArray)
            let index = 0;
            formData.append("status", $('[name="status"]').prop('checked'));
            formData.append("nameBanners", $("#nameBanners").val());
            if (layoutArray.length > 0) {
                layoutArray.forEach(function (element) {
                    console.log(element);
                    let layoutData = {
                        name: $("#nameSlide" + element).val(),
                        queue: $("#quantitySlide" + element).val(),
                    }
                    let inputImage = $("#file" + element).prop('files');
                    if (inputImage.length > 0) {
                        layoutData.imgPath = inputImage[0];
                    } else {
                        if (imgThymeleafPath[index] != null)
                            layoutData.oldImgPath = imgThymeleafPath[index]
                    }
                    for (let key in layoutData) {
                        formData.append(`slides[${index}].${key}`, layoutData[key]);
                    }
                    console.log(layoutData)
                    index = index + 1;
                });
                let contextPath =/*[[@{/}]]*/'';
                let idThymeleaf =/*[[${idModel}]]*/'';
                let url = contextPath.toString() + "banners/" + idThymeleaf;
                if (!validAllInput()) {
                    $("#full_body").unblock();
                    console.log("errors")
                    return
                }
                $.ajax({
                    url: url,
                    method: "POST",
                    contentType: false,
                    processData: false,
                    data: formData,
                    headers: {'X-XSRF-TOKEN': [[${_csrf.token}]]},
                    success: function () {
                        showToastWithTranslate("saveObj", "success");
                        $("#full_body").unblock();
                    },
                    error: function (xhr, status, error) {
                        $("#full_body").unblock();
                        var errors = JSON.parse(xhr.responseText);
                        errors.forEach(function (error) {
                            console.log(error);
                            changeInputValue = 0;
                            if (error === "Один из элементов в очереди повторяется больше 1 раза") {
                                showToastWithTranslate("REPEATED_ELEMENT", "danger");
                                if (layoutArray.length > 0) {
                                    layoutArray.forEach(function (element) {
                                        let input = $("#quantitySlide" + element);
                                        input.css("border", "1px solid #ff0000");
                                    })
                                }
                                changeInputValue = changeInputValue + 1;
                            }
                            if (error === "Очередь вышла за рамки") {
                                showToastWithTranslate("QUEUE_EXCEEDED", "danger");
                                if (layoutArray.length > 0) {
                                    layoutArray.forEach(function (element) {
                                        let input = $("#quantitySlide" + element);
                                        input.css("border", "1px solid #ff0000");
                                    })
                                }
                                changeInputValue = changeInputValue + 1;
                            }
                            if (changeInputValue == 0) {
                                showToast(error, "danger");
                            }
                        });
                    }
                })
            } else {
                showToastWithTranslate("error_one_slide", "danger");
                $("#full_body").unblock();
            }


        }

        let changeInputValue = 0;

        function updatePreviewImage(input, imgId) {
            if (input.files && input.files[0]) {
                var file = input.files[0];
                if (file.type.startsWith('image/')) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#' + imgId).removeAttr('hidden');
                        $('#' + imgId).attr('src', e.target.result);
                        $('#' + imgId).addClass('d-block w-100 h-80 rounded');
                        if (imgId > imgMaxId) {
                            imgMaxId = imgId;
                        }
                    }
                    reader.readAsDataURL(file);
                } else {
                    input.value = '';
                    showToastWithTranslate("show_img_message", "danger");
                }
            }
        }

        let imgMaxId = 1;
        let layoutArray = [];

        function addLayoutCard() {
            let cardContainer = document.getElementById('card-container');
            let newCard = document.createElement('div');
            newCard.className = 'row border';
            newCard.style.padding = '15px';
            newCard.style.marginTop = '20px';
            newCard.id = 'card' + imgMaxId;
            layoutArray.push(imgMaxId);
            newCard.innerHTML = `  <div class="col-lg-3 col-sm-6">
                            <img id="previewImage` + imgMaxId + `" style=" max-width: 100%; height: auto; margin-bottom: 5px">
                            <br>
                            <input type="file" class="form-control" name="file" id="file` + imgMaxId + `"
                                   onchange="updatePreviewImage(this, 'previewImage` + imgMaxId + `')">
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <label data-translate="title">Название</label>
                            <input type="text" class="form-control" id="nameSlide` + imgMaxId + `">
                            <label data-translate="ORDER">Порядок</label>
                            <input type="number" class="form-control"  id="quantitySlide` + imgMaxId + `">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="display: flex; justify-content: end; height: 40px; padding: 5px">
                            <button class="btn btn-info waves-effect waves-light position-absolute" onclick="deleteLayout(` + imgMaxId + `)" style="width: 40px;">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>`
            cardContainer.appendChild(newCard);
            imgMaxId++;
        }

        function deleteLayout(imgId) {
            let textCard = "#card" + imgId;
            layoutArray = layoutArray.filter(function (item) {
                return item !== imgId;
            });
            $(textCard).remove();
        }


    </script>
</section>
</body>
</html>