<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}"
        xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Content page</title>
</head>

<body>

<section layout:fragment="content">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="d-flex justify-content-between">
                <h4 class="fw-bold" data-translate="object">Об'єкт</h4>
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" data-translate="breadcrumb.home"><a th:href="@{/}">Главная</a></li>
                        <li class="breadcrumb-item" data-translate="houses_and_plots"><a th:href="@{/houses}">Дома и
                            участки</a></li>
                        <li class="breadcrumb-item active" aria-current="page" data-translate="houses">Дома</li>
                    </ol>
                </nav>
            </div>
            <hr style="margin-top: -5px">
            <div id="main-content">
            </div>
        </div>
    </div>
    <div class="modal fade" id="smallModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2" data-translate="buyers">Покупатели</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function checkModalWindow() {
            $.ajax({
                url: '[[@{/buyers/filter/forObject}]]',
                data: {
                    id: getLastDigitFromPath(),
                    type: 'HOUSE'
                },
                success: function (buyers) {
                    $('#smallModal').modal('show');
                    var modalBody = $('#modal-body')
                    modalBody.html('')
                    if (buyers) {
                        buyers.forEach(function (buyer) {
                            modalBody.html(modalBody.html() + `
                    <a href='[[@{/buyers/}]]` + buyer.id + `'>
                        ` + buyer.surname + ` ` + buyer.name + ` ` + buyer.middleName + `
                    </a><br/>
                            `);
                        });
                    }
                }
            })
        }

        $(document).ready(function () {
            var url
            var houseId = getLastDigitFromPath(window.location.pathname)

            $.ajax({
                url: '[[@{/houses/getUrl/}]]' + houseId,
                success: function (url) {
                    this.url = url
                }
            })

            $.ajax({
                url: '[[@{/houses/getById/}]]' + houseId,
                success: function (house) {
                    var content = document.getElementById("main-content")
                    $.ajax({
                        url: '[[@{/houses/getUrl/}]]' + houseId,
                        success: function (url) {
                            this.url = url
                            content.innerHTML = `
                <div class="card">
                    <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h3 data-translate="edit">Редактировать</h3>
                        </div>
                        <div class="col">
                            <a href="[[@{/houses/edit/}]]` + houseId + `" class="float-end btn btn-primary" data-translate="edit">Редактировать</a>
                            <a href="#" onclick="checkModalWindow()" class="float-end btn btn-primary" style="margin-right: 5px" data-translate="searchBuyer">Поиск покупателя</a>
                        </div>
                    </div>
                    </div>
                    <div class="card-body">
                    <img src="` + url + `" style=" margin-bottom: 5px" class="d-block w-px-auto h-px-300 rounded">
                        <table class="table table-bordered table-view">
                            <tr>
                                <td data-translate="object_code">Код об'єкта</td>
                                <td>` + house.objectCode + `</td>
                            </tr>
                            <tr>
                                <td data-translate="realtor">Риелтор</td>
                                <td>` + house.realtor.surname + ' ' + house.realtor.name + ' ' + house.realtor.middleName + `</td>
                            </tr>
                            <tr>
                                <td data-translate="price">Цена</td>
                                <td>` + house.price + `</td>
                            </tr>
                            <tr>
                                <td data-translate="district">Район</td>
                                <td>` + house.address.district + `</td>
                            </tr>
                            <tr>
                                <td data-translate="street">Улица</td>
                                <td>` + house.address.street + `</td>
                            </tr>
                            <tr>
                                <td data-translate="floors">Етажей</td>
                                <td>` + house.floorQuantity + `</td>
                            </tr>
                            <tr>
                                <td data-translate="room_quantity">Количество комнат</td>
                                <td>` + house.roomQuantity + `</td>
                            </tr>
                            <tr>
                                <td data-translate="area">Площадь</td>
                                <td>` + house.areaTotal + `</td>
                            </tr>
                            <tr>
                                <td data-translate="сeiling_height">Висота потолков</td>
                                <td>` + house.roomMeters + `</td>
                            </tr>
                            <tr>
                                <td data-translate="wall_material">Тип стен</td>
                                <td>` + house.wallMaterial + `</td>
                            </tr>
                            <tr>
                                <td data-translate="plotArea">Участок</td>
                                <td>` + house.plotAreaTotal + `</td>
                            </tr>
                            <tr>
                                <td data-translate="water_type">Водоснабжение</td>
                                <td>` + house.waterType + `</td>
                            </tr>
                            <tr>
                                <td data-translate="gas_type">Газ. магистраль</td>
                                <td>` + house.gasType + `</td>
                            </tr>
                            <tr>
                                <td data-translate="sewage_type">Канализация</td>
                                <td>` + house.sewageType + `</td>
                            </tr>
                            <tr>
                                <td data-translate="house_quantity">Всего строений</td>
                                <td>` + house.houseQuantity + `</td>
                            </tr>
                            <tr>
                                <td data-translate="state">Состояние</td>
                                <td>` + house.stateHouse + `</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <b data-translate="description">Описание</b><br/>
                ` + house.description + `<br/><br/>
                <b data-translate="enter_ad_title">Рекламний заголовок</b><br/>
                ` + house.advertisementHeadline + `<br/><br/>
                <b data-translate="enter_ad_text">Рекламний текст</b><br/>
                ` + house.advertisementText + `<br/>
                `
                            changeLanguageNav(languageSecondExample)
                        }
                    })
                }
            })
        })
    </script>
</section>

</body>
</html>