<!DOCTYPE html>
<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title data-translate="обєкти_від_інвесторів"></title>

</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">

        <div class="content-wrapper">
            <div>
                <br>
                <div class="d-flex justify-content-between">
                    <h4 class="fw-bold" data-translate="builder_objects_from_investors">Объекты от инвесторов</h4>
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb"
                         class="d-flex align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}" data-translate="breadcrumb.home">Главная</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page"
                                data-translate="builder_objects_from_investors">Объекты от инвесторов
                            </li>
                        </ol>
                    </nav>
                </div>
                <hr style="margin-top: -5px">
                <div style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 17px;">

                </div>
                <div style="width: 100%; display: flex; justify-content: flex-end;" id="flex-container">

                    <div style="display: flex;margin: 20px;align-items: center">
                        <input type="checkbox" id="printWithAddress" class="form-check-input" data-translate="printWithAddress">
                        <div data-translate="printWithAddress"></div>
                    </div>
                    <button class="btn btn-submit" id="printButton" data-translate="print" onclick="printElements()"
                            style="margin: 20px">
                        Распечатать
                    </button>
                    <a th:href="@{/investor_objects/create}" style="margin: 20px">
                        <button class="btn btn-submit" data-translate="builder_object_add">Добавить объект</button>
                    </a>
                </div>
                <br>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6">
                                <h6 data-translate="district">Район</h6>
                                <select id="select2Multiple24" class="select2 form-select for-filter select2find"
                                        multiple>
                                    <script th:inline="javascript">
                                        let pathLink = /*[[@{/}]]*/ '';
                                        let selectElement = document.getElementById("select2Multiple24");
                                        $.ajax({
                                            url: pathLink + "getAllDistricts",
                                            method: "GET",
                                            dataType: 'json',
                                            success: function (districts) {
                                                for (let i = 0; i < districts.length; i++) {
                                                    let option = document.createElement("option");
                                                    option.value = districts[i];
                                                    option.text = districts[i];
                                                    option.setAttribute("data-translate", districts[i].replace(" ", "_"));
                                                    selectElement.add(option);
                                                }
                                            },
                                            error: function (e) {
                                                console.log(e)
                                            }
                                        });
                                    </script>
                                </select>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <h6 data-translate="property.numberOfRooms">Количество комнат</h6>
                                <input type="radio" class="form-check-input for-filter" name="flexRadioDefault"
                                       value="1">1
                                <input type="radio" class="form-check-input for-filter" name="flexRadioDefault"
                                       value="2">2
                                <input type="radio" class="form-check-input for-filter" name="flexRadioDefault"
                                       value="3">3
                                <input type="radio" class="form-check-input for-filter" name="flexRadioDefault"
                                       value="4">>3
                            </div>
                            <div class="col-lg-5 col-sm-6">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div style="display: flex">
                                            <h6 data-translate="floor"></h6><span>:</span>
                                        </div>
                                        <div style="display: flex">
                                            <input class="form-control for-filter" data-num="limited"
                                                   oninput="this.value = this.value.replace(/\D/g, '')">
                                            <div class="mt-2">—</div>
                                            <input class="form-control for-filter" data-num="limited"
                                                   oninput="this.value = this.value.replace(/\D/g, '')">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div style="display: flex">
                                            <h6 data-translate="price">Цена</h6><span> ($):</span>
                                        </div>
                                        <div style="display: flex">
                                            <input class="form-control for-filter" data-num="limited"
                                                   oninput="this.value = this.value.replace(/\D/g, '')">
                                            <div class="mt-2">—</div>
                                            <input class="form-control for-filter" data-num="limited"
                                                   oninput="this.value = this.value.replace(/\D/g, '')">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6">
                                <h6 data-translate="topzone">Топозона</h6>
                                <select class="select2 form-select for-filter select2find" multiple
                                        id="select2MultipleTopozone">
                                    <option th:each="entity : ${selectTopozone}"
                                            th:value="${entity}" th:data-translate="${entity}"
                                            th:text="${entity}"></option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <h6 data-translate="RC">ЖК</h6>
                                <select class="select2 form-select for-filter" multiple
                                        id="select2MultipleResidentialComplexId">
                                </select>
                            </div>
                            <div class="col-lg-5 col-sm-6">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div style="display: flex">
                                            <h6 data-translate="number_of_floors">Этажность</h6><span>:</span>
                                        </div>
                                        <div style="display: flex">
                                            <input class="form-control for-filter" data-num="limited"
                                                   oninput="this.value = this.value.replace(/\D/g, '')">
                                            <div class="mt-2">—</div>
                                            <input class="form-control for-filter" data-num="limited"
                                                   oninput="this.value = this.value.replace(/\D/g, '')">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <h6 data-translate="S_area_sqm">Площадь(кв. м):</h6>
                                        <div style="display: flex">
                                            <input class="form-control for-filter" data-num="limited"
                                                   oninput="this.value = this.value.replace(/\D/g, '')">
                                            <div class="mt-2">—</div>
                                            <input class="form-control for-filter" data-num="limited"
                                                   oninput="this.value = this.value.replace(/\D/g, '')">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6">
                                <h6 data-translate="street">Улица</h6>
                                <input class="form-control for-filter" type="text" name="street" id="street"
                                       placeholder="Введите улицу" data-translate-placeholder="enter_street">
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <h6 data-translate="contact_date">Дата последнего контакта</h6>
                                <select id="day" name="day" class="form-select select2 for-filter select2find">
                                    <option selected value="" disabled></option>
                                    <option value="1" data-translate="one_day">1 день</option>
                                    <script>
                                        for (let i = 2; i <= 31; i++) {
                                            document.write('<option value="' + i + '" data-translate="' + i + 'multiple_days">' + i + ' дней' + '</option>');
                                        }
                                    </script>
                                </select>
                            </div>
                            <div class="col-lg-4 col-sm-6" style="display: flex;align-items: end;justify-content: end">
                                <button class="btn btn-submit" id="clean-filter" data-translate="clear_filter">Очистить
                                    фильтр
                                </button>
                                <button class="btn btn-submit" id="search-btn" data-translate="search">Поиск</button>
                            </div>

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="invoice-list-table table border-top dataTable no-footer dtr-column"
                                   id="branchTable">
                                <thead>
                                <tr style="text-align: center">
                                    <th data-translate="contact_date">Дата контакта</th>
                                    <th data-translate="code">Код</th>
                                    <th data-translate="district">Район</th>
                                    <th data-translate="topzone">Топозона</th>
                                    <th data-translate="street">Улица</th>
                                    <th data-translate="rooms">Комнат</th>
                                    <th data-translate="floor">Этаж</th>
                                    <th data-translate="number_of_floors">Этажность</th>
                                    <th data-translate="S_area_sqm">Площадь</th>
                                    <th data-translate="advertisement">Реклама</th>
                                    <th data-translate="status">Статус</th>
                                    <th data-translate="photo">Фото</th>
                                    <th></th>
                                    <th></th>
                                </tr>

                                </thead>
                                <tbody>
                                <tr>
                                    <td>Дата контакта</td>
                                    <td>Код</td>
                                    <td>Район</td>
                                    <td>Топозона</td>
                                    <td>Улица</td>
                                    <td>Комнат</td>
                                    <td>Этаж</td>
                                    <td>Этажность</td>
                                    <td>Площадь</td>
                                    <td>Реклама</td>
                                    <td>Статус</td>
                                    <td>Фото</td>
                                    <td><input class="form-check-input" type="checkbox"></td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a th:href="@{/}">
                                                <button class="btn btn-default btn-sm float-right"
                                                        title="Редактировать"><i
                                                        class="fa fa-pencil-alt"></i></button>
                                            </a>
                                            <button class="btn btn-default btn-sm float-right for-delete"><i
                                                    class="fa fa-trash"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                    </div>
                    <div class="card-footer">
                        <ul class="pagination pagination-sm m-0 mt-1" style="display: flex; justify-content: flex-end"
                            id="paginationItems">
                        </ul>
                    </div>
                </div>
            </div>
            <div id="deleteModal" class="modal animate__animated animate__flipInX"
                 tabindex="-1" aria-labelledby="flipInXAnimationModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"
                                data-translate="confirmDeletionInvestorObject">Вы точно хотите удалить объект от
                                инвесторов?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelBtn"
                                        data-translate="cancel">
                                    Отмена
                                </button>
                                <button type="button" class="btn btn-primary" id="okBtn" data-translate="yes">Да
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script th:src="@{/js/pagination.js}"></script>
    <script th:src="@{/vendor/libs/select2/select2.js}"></script>

    <script>
        const limitedInputs = document.querySelectorAll('input[data-num="limited"]');
        limitedInputs.forEach(input => {
            input.addEventListener('input', function() {
                const parsedValue = parseInt(input.value, 10);

                if (!isNaN(parsedValue)) { // Проверка, что parsedValue является числом
                    if (parsedValue > 2147483647) {
                        input.value = '2147483647';
                    } else if (parsedValue < -2147483647) {
                        input.value = '-2147483647';
                    }
                }
            });
        });
        function printElements() {
            var bodyRows = []
            var selectedCheckboxes = document.querySelectorAll('.print-checkbox:checked');
            if (selectedCheckboxes.length === 0) {
                showToastWithTranslate("printErrorCheckbox", "danger");
                return;
            }
            var ajaxPromises = [];
            var headerRow
            if (document.getElementById('printWithAddress').checked) {
                selectedCheckboxes.forEach(function (checkbox) {
                    console.log(checkbox.value)
                    var promise = new Promise(function (resolve, reject) {
                        $.ajax({
                            type: "Get",
                            url: '[[@{/investor_objects/getById/}]]' + checkbox.value,
                            success: function (house) {
                                bodyRows.push(`<td style="border: 1px solid black;">` + house.objectCode + `</td><td style="border: 1px solid black;">` + house.address.district + `</td><td style="border: 1px solid black;">` + house.address.zone + `</td><td style="border: 1px solid black;">` + house.address.street + `</td><td style="border: 1px solid black;">` + house.roomQuantity + `</td><td style="border: 1px solid black;">` + house.floorQuantity + `</td><td style="border: 1px solid black;">` + house.areaTotal + `</td><td style="border: 1px solid black;">` + house.price + `</td><td style="border: 1px solid black;">` + house.ownerName + `</td><td style="border: 1px solid black;">` + (house.realtor?house.realtor.name:null) + `</td>`)
                                resolve();
                            },
                            error: function () {
                                reject();
                            }
                        });
                    });
                    headerRow = '<tr style="border: 1px solid black;"><th style="border: 1px solid black;">Код</th><th style="border: 1px solid black;">Район</th><th style="border: 1px solid black;">Топозона</th><th style="border: 1px solid black;">Улиця</th><th style="border: 1px solid black;">Кімнати</th><th style="border: 1px solid black;">Поверх</th><th style="border: 1px solid black;">Площа</th><th style="border: 1px solid black;">Ціна</th><th style="border: 1px solid black;">Власник</th><th style="border: 1px solid black;">Ріелтор</th></tr>';
                    ajaxPromises.push(promise);
                });
            } else {
                selectedCheckboxes.forEach(function (checkbox) {
                    var promise = new Promise(function (resolve, reject) {
                        $.ajax({
                            type: "Get",
                            url: '[[@{/investor_objects/getById/}]]' + checkbox.value,
                            success: function (house) {
                                bodyRows.push(`<td style="border: 1px solid black;">` + house.objectCode + `</td><td style="border: 1px solid black;">` + house.roomQuantity + `</td><td style="border: 1px solid black;">` + house.floorQuantity + `</td><td style="border: 1px solid black;">` + house.areaTotal + `</td><td style="border: 1px solid black;">` + house.price + `</td><td style="border: 1px solid black;">` + house.ownerName + `</td><td style="border: 1px solid black;">` + (house.realtor?house.realtor.name:null) + `</td>`)
                                resolve();
                            },
                            error: function () {
                                reject();
                            }
                        });
                    });
                    headerRow = '<tr style="border: 1px solid black;"><th style="border: 1px solid black;">Код</th><th style="border: 1px solid black;">Кімнати</th><th style="border: 1px solid black;">Поверх</th><th style="border: 1px solid black;">Площа</th><th style="border: 1px solid black;">Ціна</th><th style="border: 1px solid black;">Власник</th><th style="border: 1px solid black;">Ріелтор</th></tr>';
                    ajaxPromises.push(promise);
                })
            }

            Promise.all(ajaxPromises)
                .then(function () {
                    printTable(headerRow, bodyRows);
                })
                .catch(function (error) {
                    console.error("Error fetching data:", error);
                });

        }
    </script>
    <script th:inline="javascript">
        $("#pageSize").select2({placeholder: translateValue('виберіть_обєкт'), language: languageForSelect2});


        $(function () {
            $("#select2Multiple24").select2({
                placeholder: translateValue('виберіть_обєкт'),
                language: languageForSelect2
            });
            $("#select2MultipleTopozone").select2({
                placeholder: translateValue('виберіть_обєкт'),
                language: languageForSelect2
            });
            select2MultipleResidential();
            getPageWithFilter(0);
        });

        function openModal(elem) {
            console.log(elem);
            elementDelete = elem;
            $("#deleteModal").modal("show");
        }

        $(document).on("click", "#okBtn", function () {
            let contextPath =/*[[@{/}]]*/ '';
            let url = contextPath + "investor_objects/delete/" + elementDelete;
            console.log(url)
            $.ajax({
                url: url,
                method: "DELETE",
                headers: {'X-XSRF-TOKEN': [[${_csrf.token}]]},
                success: function (response) {
                    $("#elementTable" + elementDelete).empty();
                    $("#cancelBtn").click();
                    showToastWithTranslate("deleteObj", "danger");
                    getPageWithFilter(0);
                },
                error: function (context) {
                    console.log("ERROR " + context);
                }
            })
        });
        let page = 0;
        let elementTr = 0;
        $("#pageSize").on("change", function () {
            getPageWithFilter(0);
        });

        function setNumberOfElement(numberOfElement){
            localStorage.setItem('numberOfElementForInvestor', numberOfElement)
            getPageWithFilter(0)
        }

        function getPageWithFilter(page) {
            let filterElements = $('.for-filter');
            let contextPath = /*[[@{/}]]*/ '';
            let url = contextPath.toString() + "investor_objects/filter";
            let rooms;
            let selectMultipartDistrict = [];
            let selectMultipartZone = [];
            let selectMultipartRC = [];
            Array.from(filterElements).forEach(function (element) {
                var el = $(element);
                if (el.is(':radio')) {
                    console.log(el.prop('checked'));
                    if (el.prop('checked')) {
                        console.log(el.val());
                        rooms = el.val();
                    }
                } else {
                    console.log(element.value);
                }
            });
            let el1 = $(filterElements[0]);
            el1.find('option:selected').each(function () {
                selectMultipartDistrict.push($(this).val());
            })
            el1 = $(filterElements[9]);
            el1.find('option:selected').each(function () {
                selectMultipartZone.push($(this).val());
            })
            el1 = $(filterElements[10]);
            el1.find('option:selected').each(function () {
                selectMultipartRC.push($(this).val());
            })

            var currentDate = new Date();
            var numberOfDays = parseInt($(filterElements[16]).val(), 10);
            let formattedDate = "";
            if (!isNaN(numberOfDays)) {
                var newDate = new Date(currentDate);
                newDate.setDate(currentDate.getDate() - numberOfDays);
                formattedDate = newDate.toISOString().split('T')[0];

                console.log(formattedDate);
            } else {
                console.log("Invalid number of days");
            }
            let pageSize = $("#pageSize").val();
            if (!pageSize) {
                pageSize = 10;
            }
            $.ajax({
                    method: "GET",
                    url: url,
                    data: {
                        page: page,
                        pageSize: localStorage.getItem('numberOfElementForInvestor') || 10,
                        district: selectMultipartDistrict,
                        numberRooms: rooms,
                        minFloor: $(filterElements[5]).val(),
                        maxFloor: $(filterElements[6]).val(),
                        minPrice: $(filterElements[7]).val(),
                        maxPrice: $(filterElements[8]).val(),
                        topozone: selectMultipartZone,
                        residentialComplexId: selectMultipartRC,
                        minNumberFloors: $(filterElements[11]).val(),
                        maxNumberFloors: $(filterElements[12]).val(),
                        minArea: $(filterElements[13]).val(),
                        maxArea: $(filterElements[14]).val(),
                        street: $(filterElements[15]).val(),
                        lastContactDate: formattedDate
                    },
                    dataType: 'json',
                    success: function (builderObjects) {
                        console.log(builderObjects)
                        var table = document.getElementById("branchTable");
                        var tbody = table.querySelector("tbody");
                        $('#branchTable tbody').empty().css('text-align', 'center');

                        if($("#empty-block"))$("#empty-block").remove();
                        if(builderObjects.totalElements == 0){
                            table.insertAdjacentHTML('beforebegin', '<center id="empty-block"><h1 data-translate="empty">'+translateValue("empty")+'</h1></center>');
                            table.style.display = "none";
                        }
                        else {
                            table.style.display = '';
                        }
                        for (var object of builderObjects.content) {
                            var newRow = tbody.insertRow();
                            newRow.setAttribute('data-id', elementTr);
                            var cell1 = newRow.insertCell(0);
                            var today = new Date();
                            var otherDate = new Date(object.lastContactDate)
                            console.log(object.lastContactDate)
                            console.log(otherDate)
                            var timeDifference = today - otherDate;
                            var daysDifference = Math.ceil(timeDifference / (1000 * 60 * 60 * 24));
                            console.log(daysDifference)
                            if (daysDifference > 3 && daysDifference <= 7) {
                                cell1.innerHTML = `<i class="ti ti-alert-triangle ti-tada" style="color: deepskyblue"></i>`;
                            }
                            if (daysDifference > 7 && daysDifference <= 18) {
                                cell1.innerHTML = `<i class="ti ti-alert-triangle ti-tada" style="color: darkorange"></i>`;
                            }
                            if (daysDifference > 18) {
                                cell1.innerHTML = `<i class="ti ti-alert-triangle ti-tada" style="color: #ff0000"></i>`;
                            } else {
                                cell1.innerHTML = `<i class="ti ti-alert-triangle ti-tada" style="color: forestgreen"></i>`;
                            }

                            var cell2 = newRow.insertCell(1);
                            cell2.innerHTML = ` <a href="` + contextPath + `investor_objects/card/` + object.id + `">` + object.objectCode + `</a>`;

                            var cell3 = newRow.insertCell(2);
                            cell3.innerHTML = object.address.district;

                            var cell4 = newRow.insertCell(3);
                            cell4.innerHTML = object.address.zone;

                            var cell5 = newRow.insertCell(4);
                            cell5.innerHTML = object.address.street;


                            var cell6 = newRow.insertCell(5);
                            cell6.innerHTML = object.roomQuantity;

                            var cell7 = newRow.insertCell(6);
                            cell7.innerHTML = object.floor;

                            var cell8 = newRow.insertCell(7);
                            cell8.innerHTML = object.floorQuantity;

                            var cell9 = newRow.insertCell(8);
                            cell9.innerHTML = object.areaTotal;

                            var cell10 = newRow.insertCell(9);
                            if (object.advertisementEnabled) {
                                cell10.innerHTML = '<div class="alert alert-success" data-translate="yes">Да</div>';
                            } else {
                                cell10.innerHTML = '<div class="alert alert-danger" data-translate="no">Нет</div>';
                            }

                            var cell11 = newRow.insertCell(10);
                            if (object.buildStatus == "FINISHED") {
                                cell11.innerHTML = '<div class="alert alert-success" data-translate="FINISHED">Закончена</div>';
                            } else if (object.buildStatus == "IN_PROGRESS") {
                                cell11.innerHTML = '<div class="alert alert-info" data-translate="IN_PROGRESS">В процессе</div>';
                            } else {
                                cell11.innerHTML = '<div  class="alert alert-danger" data-translate="NOT_STARTED">Еще не начата</div>';
                            }


                            var cell12 = newRow.insertCell(11);
                            cell12.innerHTML = '<alert class="alert alert-success" data-translate="yes">Да</alert>';

                            var cell13 = newRow.insertCell(12);
                            cell13.innerHTML = `<input class="form-check-input print-checkbox" type="checkbox" name="checkPrint"
                                   value="` + object.id + `" data-id="` + elementTr + `">`;

                            var cell14 = newRow.insertCell(13);
                            cell14.innerHTML = `
                                        <div class="btn-group" role="group" aria-label="Basic example">

                       <a href="` + contextPath + `investor_objects/edit/` + object.id + `">
                                                <button class="btn btn-default btn-sm float-right"
                                                        title="Редактировать"><i class="fa fa-pencil-alt"></i></button>
                                            </a>
                         <button class="btn btn-default btn-sm float-right for-delete"
                                                    onclick="openModal(` + object.id + `)"><i class="fa fa-trash"></i></button>
                        </div>`;
                            elementTr++;
                        }
                        $('#paginationItems').empty();
                        if (builderObjects.totalPages > 1) {
                            updatePagination(page, builderObjects.totalPages, 'paginationItems', localStorage.getItem('numberOfElementForInvestor') || 10, 'numberOfElementForInvestor')
                        }
                        else {
                            var pagination = document.getElementById('paginationItems');
                            pagination.innerHTML = '';
                            var row = document.createElement('div');
                            row.style.marginRight = 'auto'
                            row.style.width='100%'
                            row.innerHTML += `
<div class="row" style="width: 25%">
    <select class="form-select" id="number-of-element" onchange="setNumberOfElement(this.value)">
        <option value="2" ${localStorage.getItem('numberOfElementForInvestor') == 2 ? 'selected' : ''}>2</option>
        <option value="5" ${localStorage.getItem('numberOfElementForInvestor') == 5 ? 'selected' : ''}>5</option>
        <option value="10" ${localStorage.getItem('numberOfElementForInvestor') == 10 || localStorage.getItem('numberOfElementForInvestor') == null ? 'selected' : ''}>10</option>
        <option value="25" ${localStorage.getItem('numberOfElementForInvestor') == 25 ? 'selected' : ''}>25</option>
    </select>
</div>`;
                            pagination.appendChild(row)
                        }
                        $('#number-of-element').select2({
                            minimumResultsForSearch: -1,
                        })
                    }
                }
            )

        }
        ;

        $('#clean-filter').click(function () {
            let filterElements = $('.for-filter').not(':radio');
            filterElements.each(function () {
                $(this).val("");
            });
            $('#day').select2({
                placeholder: translateValue('виберіть_обєкт'),
                language: languageForSelect2,
                minimumResultsForSearch: -1,
            })
            $(".select2-container").find(".select2-selection__choice").remove();
            // $(".select2").find(".select2-selection__rendered").remove();
            let radioFilters = $('[name="flexRadioDefault"]');
            radioFilters.prop("checked", false);
            getPageWithFilter(0)

        });

        $('#search-btn').click(function () {
            getPageWithFilter(0)
        });

        function select2MultipleResidential() {
            let contextPath = /*[[@{/}]]*/ '';

            $('#select2MultipleResidentialComplexId').select2({
                placeholder: translateValue('виберіть_обєкт'),
                language: languageForSelect2,
                ajax: {
                    url: contextPath + 'builder_objects/for/select',
                    dataType: 'json',
                    delay: 1500,
                    data: function (params) {
                        var number = params.page > 0 ? params.page - 1 : 0;
                        return {
                            query: params.term || '',
                            page: number,
                            size: 10
                        };
                    },
                    processResults: function (data, params) {
                        var results = data.content.map(function (item) {
                            return {id: item.id, text: item.name};
                        });
                        var hasMore = data.totalPages > data.number;
                        return {
                            results: results,
                            pagination: {
                                more: hasMore
                            }
                        };
                    },
                    cache: true
                }
            });
        }
    </script>
</div>
</body>
</html>