<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}"
        xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Content page</title>
</head>

<body>

<section layout:fragment="content">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="d-flex justify-content-between">
            <h4 class="fw-bold">Об'єкт</h4>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Главная</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/commercial}">Комерческая</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Дома</li>
                </ol>
            </nav>
        </div>
        <hr style="margin-top: -5px">
        <div id="main-content">
        </div>
    </div>
    <div class="modal fade" id="smallModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Покупатели</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function checkModalWindow() {
            $.ajax({
                url: '[[@{/buyers/filter/forObject}]]',
                data: {
                    id: getLastDigitFromPath(),
                    type: 'COMMERCIAL'
                },
                success: function (buyers) {
                    $('#smallModal').modal('show');
                    var modalBody = $('#modal-body')
                    modalBody.html('')
                    if (buyers) {
                        buyers.forEach(function (buyer) {
                            modalBody.html(modalBody.html() + `
                    <a href='[[@{/buyers/}]]`+buyer.id+`'>
                        `+buyer.surname+` `+buyer.name+` `+buyer.middleName+`
                    </a><br/>
                            `);
                        });
                    }
                }
            })
        }

        $(document).ready(function () {
            var url
            var houseId = getLastDigitFromPath(window.location.pathname)

            $.ajax({
                url: '[[@{/commercial/getUrl/}]]' + houseId,
                success: function (url) {
                    this.url = url
                }
            })

            $.ajax({
                url: '[[@{/commercial/getById/}]]' + houseId,
                success: function (house) {
                    var content = document.getElementById("main-content")
                    $.ajax({
                        url: '[[@{/commercial/getUrl/}]]' + houseId,
                        success: function (url) {
                            this.url = url
                            content.innerHTML = `
                <div class="card">
                    <div class="card-header">
                        <h3>Редактировать
                        <a href="[[@{/commercial/edit/}]]` + houseId + `" class="float-end btn btn-primary">Редактировать</a>
                        <a href="#" onclick="checkModalWindow()" class="float-end btn btn-primary" style="margin-right: 5px">Поиск покупателя</a>
                        </h3>
                    </div>
                    <div class="card-body">
                    <img src="` + url + `" style="width: 55%; height: auto; margin-bottom: 5px">
                        <table class="table table-bordered table-view">
                            <tr>
                                <td>Код об'єкта</td>
                                <td>` + house.objectCode + `</td>
                            </tr>
                            ${house.realtor !== null ? `
                            <tr>
                                <td>Риелтор</td>
                                <td>${house.realtor.surname} ${house.realtor.name} ${house.realtor.middleName}</td>
                            </tr>
                            ` : ''}
                            <tr>
                                <td>Цена</td>
                                <td>` + house.price + `</td>
                            </tr>
                            <tr>
                                <td>Район</td>
                                <td>` + house.address.district + `</td>
                            </tr>
                            <tr>
                                <td>Улица</td>
                                <td>` + house.address.street + `</td>
                            </tr>
                            <tr>
                                <td>Етажей</td>
                                <td>` + house.floorQuantity + `</td>
                            </tr>
                            <tr>
                                <td>Количество комнат</td>
                                <td>` + house.roomQuantity + `</td>
                            </tr>
                            <tr>
                                <td>Площадь</td>
                                <td>` + house.areaTotal + `</td>
                            </tr>
                            <tr>
                                <td>Висота потолков</td>
                                <td>` + house.roomMeters + `</td>
                            </tr>
                            <tr>
                                <td>Тип стен</td>
                                <td>` + house.wallMaterial + `</td>
                            </tr>
                            <tr>
                                <td>ЖК</td>
                                <td>` + house.builderObject + `</td>
                            </tr>
                            <tr>
                                <td>Газ</td>
                                <td>` + house.gasType + `</td>
                            </tr>
                            <tr>
                                <td>Состояние</td>
                                <td>` + house.stateInterior + `</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <b>Описание</b><br/>
                ` + house.description + `<br/><br/>
                <b>Рекламний заголовок</b><br/>
                ` + house.advertisementHeadline + `<br/><br/>
                <b>Рекламний текст</b><br/>
                ` + house.advertisementText + `<br/>
                `
                        }
                    })
                }
            })
        })
    </script>
</section>

</body>
</html>