<!DOCTYPE html>
<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon/1644809631_5-abrakadabra-fun-p-domik-na-belom-fone-12.png}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js"
            type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/vendor/fonts/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/vendor/fonts/tabler-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/fonts/flag-icons.css}">
    <link rel="stylesheet" th:href="@{/css/demo.css}">
    <link rel="stylesheet" th:href="@{/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/vendor/libs/node-waves/node-waves.css}">
    <link rel="stylesheet" th:href="@{/vendor/libs/typeahead-js/typeahead.css}">
    <link rel="stylesheet" th:href="@{/vendor/libs/select2/select2.css}">
    <link rel="stylesheet" th:href="@{/vendor/libs/formvalidation/dist/css/formValidation.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/libs/animate-css/animate.css}">
    <link rel="stylesheet" th:href="@{/vendor/libs/sweetalert2/sweetalert2.css}">
    <!--    <script th:src="@{/js/config.js}"></script>-->
    <!--    <script th:src="@{/vendor/js/template-customizer.js}"></script>-->
    <script th:src="@{/vendor/js/helpers.js}"></script>
    <link rel="stylesheet" th:href="@{/vendor/libs/typeahead-js/typeahead.css}">
    <link rel="stylesheet" th:href="@{/vendor/libs/dropzone/dropzone.css}">
    <style>
        .notification {
            position: fixed;
            top: 90px;
            right: 40px; /* Расстояние справа */
            padding: 10px;
            border: 1px solid #ccc;
            text-align: center;
            transition: opacity 0.5s ease-in-out;
        }

        .notification.hidden {
            opacity: 0;
            pointer-events: none;
        }
    </style>
</head>
<body>
<div layout:fragment="content">

    <main>
        <div class="content-wrapper">
            <div class="container-fluid">
                <br>
                <div class="d-flex justify-content-between">
                    <h4 class="fw-bold" th:text="${objectBuilder.getName()}"></h4>
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb"
                         class="d-flex align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Главная</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/builder_objects}">Объекты от строителей</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Редакция объекта строителя</li>
                        </ol>
                    </nav>
                </div>
                <hr style="margin-top: -5px">
                <br>
                <ul class="nav nav-pills mb-3" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active" type="button" aria-selected="true" data-toggle="tab" role="tab"
                                data-bs-toggle="pill" onclick="changeInput('ru')">Ру
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" type="button" aria-selected="false" data-toggle="tab" role="tab"
                                data-bs-toggle="pill" onclick="changeInput('eu')">Eu
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" type="button" aria-selected="false" data-toggle="tab" role="tab"
                                data-bs-toggle="pill" onclick="changeInput('ukr')">Укр
                        </button>
                    </li>
                </ul>
                <br>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home"
                                type="button" role="tab" aria-controls="pills-home" aria-selected="true">Основное
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-profile"
                                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Галерея
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-contact"
                                type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Планировки
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab">
                        <div class="row">
                            <div class="col-2">
                                <h6>Название</h6>
                                <input type="text" class="form-control" name="nameObject" id="nameObject"
                                       th:value="${objectBuilder.getName()}" placeholder="Введите имя объекта">
                            </div>
                            <div class="col-3">
                                <h6>Обл.район</h6>
                                <select class="select2 form-select form-select" name="region" id="region">
                                    <option selected></option>
                                    <option th:each="entity : ${selectRegion}"
                                            th:value="${entity}"
                                            th:text="${entity}"
                                            th:selected="${objectBuilder.getAddress().getRegion() == entity}"></option>
                                </select>
                            </div>
                            <div class="col-3">
                                <h6>Нас.пункт</h6>
                                <select class="select2 form-select form-select" name="city">
                                    <option selected></option>
                                    <option th:each="entity : ${selectRegion}"
                                            th:value="${entity}"
                                            th:text="${entity}"
                                            th:selected="${objectBuilder.getAddress().getCity() == entity}"></option>
                                </select>
                            </div>
                            <div class="col-3">
                                <h6>Район</h6>
                                <select class="select2 form-select form-select" name="district">
                                    <option selected value=""></option>
                                </select></div>
                            <div class="col-1"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-2">
                                <h6>Топозона</h6>
                                <select class="select2 form-select form-select" name="topozone">
                                    <option value="" selected></option>
                                    <option th:each="entity : ${selectTopozone}"
                                            th:value="${entity}"
                                            th:text="${entity}"
                                            th:selected="${objectBuilder.getAddress().getZone() == entity}"></option>
                                </select>
                            </div>
                            <div class="col-2">
                                <h6>Улица</h6>
                                <input class="form-control" type="text" name="street" id="street"
                                       th:value="${objectBuilder.getAddress().getStreet()}" placeholder="Введите название улицы">
                            </div>
                            <div class="col-8"></div>
                        </div>
                        <br>
                        <div class="tab-content">


                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>Номер дома</h6>
                                <input class="form-control" type="number" name="houseNumber"
                                       th:value="${objectBuilder.getAddress().getHouseNumber()}" placeholder="Введите номер дома">
                            </div>
                            <div class="col-2">
                                <h6>Секция/Корпус</h6>
                                <input class="form-control" type="number" name="section"
                                       th:value="${objectBuilder.getAddress().getSection()}" placeholder="Введите секцию/корпус">
                            </div>
                            <div class="col-2">
                                <h6>Этажность</h6>
                                <input class="form-control" type="number" name="floorQuantity"
                                       th:value="${objectBuilder.getFloorQuantity()}" placeholder="Введите этажность">
                            </div>
                            <div class="col-3">
                                <h6>Строительная компания</h6>
                                <select class="select2 form-select form-select" name="nameCompany">
                                    <option th:selected="${objectBuilder.getNameCompany() == ''}" value=""></option>
                                    <option th:selected="${objectBuilder.getNameCompany() == '1'}" value="1">One
                                    </option>
                                    <option th:selected="${objectBuilder.getNameCompany() == '2'}" value="2">Two
                                    </option>
                                    <option th:selected="${objectBuilder.getNameCompany() == '3'}" value="3">Three
                                    </option>
                                </select>
                            </div>
                            <div class="col-3">
                                <h6>Срок сдачи</h6>
                                <select id="buildStatus" class="select2 form-select form-select" name="buildStatus">
                                    <option></option>
                                    <option th:each="status : ${propertyBuildStatus}"
                                            th:value="${status}"
                                            th:text="${status.status}"
                                            th:selected="${status==objectBuilder.getBuildStatus()}"></option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <h6>Телефон</h6>
                        <input type="tel" name="telephone" id="telephone" class="form-control"
                               th:value="${objectBuilder.getPhone()}" placeholder="Введите номер телефона">
                        <br>
                        <br>
                        <br>
                        <h6>Шахматка</h6>
                        <input type="file" class="form-control" name="chessboard" id="chessboard">
                        <br>
                        <h6>Условия рассрочки</h6>
                        <input type="file" class="form-control" name="installmentTerms" id="installmentTerms">
                        <br>
                        <h6>Файл с ценами</h6>
                        <input type="file" class="form-control" name="prices" id="prices">
                        <br>
                        <br>
                        <h3>Описание</h3>
                        <textarea style="width: 100%; height: 300px" name="descriptionObject"
                                  class="form-control"
                                  th:text="${objectBuilder.getDescription_builder()}" placeholder="Введите описание"></textarea>
                        <br>
                        <h1>Акция</h1>
                        <input type="text" name="promotionName" id="promotionName" class="form-control"
                               th:value="${objectBuilder.getPromotion().getName()}" placeholder="Введите имя акции">
                        <br>
                        <h3>Описание</h3>
                        <textarea style="width: 100%; height: 300px" name="descriptionPromotion"
                                  class="form-control"
                                  th:text="${objectBuilder.getPromotion().getDescription()}" placeholder="Введите описание акции"></textarea>
                        <br>
                        <input class="form-check-input" type="checkbox" value="true" name="statusPromotion"
                               th:checked="${objectBuilder.getPromotion().getActive() == true}"><span
                            class="checkmark">Включить акцию</span>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-body">
                                    <form action="/uploadFile" class="dropzone needsclick dz-clickable"
                                          id="my-dropzone">
                                        <div class="dz-message needsclick">
                                            <span class="note needsclick"></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div id="card-container">
                            <div class="card" id="card1" style="padding: 20px; margin-top: 20px;">
                                <div class="row">
                                    <div class="col-6">
                                        <h6>Название</h6>
                                    </div>
                                    <div class="col-6" style="text-align: right">
                                    </div>
                                </div>
                                <input class="form-control col-md-6" type="text" id="nameLayout1"
                                       th:value="${layouts.get(0).getName()}" placeholder="Введите имя">
                                <br>
                                <div class="row">
                                    <div class="col-2">
                                        <h6>Цена от (м.кв)</h6>
                                        <input class="form-control" type="number" id="priceLayout1"
                                               th:value="${layouts.get(0).getPrice()}" placeholder="Введите цену">
                                    </div>
                                    <div class="col-2">
                                        <h6>Комнат</h6>
                                        <input class="form-control" type="number" id="roomsLayout1"
                                               th:value="${layouts.get(0).getRoomQuantity()}" placeholder="Введите кол-во комнат">
                                    </div>
                                    <div class="col-2">
                                        <h6>S общая (м.кв.)*</h6>
                                        <input class="form-control" type="number" id="areaTotalLayout1"
                                               th:value="${layouts.get(0).getAreaTotal()}" placeholder="Введите общую площадь">
                                    </div>
                                    <div class="col-2">
                                        <h6>S жилая (м.кв.)*</h6>
                                        <input class="form-control" type="number" id="areaLivingLayout1"
                                               th:value="${layouts.get(0).getAreaLiving()}" placeholder="Введите жилую площадь">
                                    </div>
                                    <div class="col-2">
                                        <h6>S кухни (м.кв.)*</h6>
                                        <input class="form-control" type="number" id="areaKitchenLayout1"
                                               th:value="${layouts.get(0).getAreaKitchen()}" placeholder="Введите площадь кухни">
                                    </div>
                                    <div class="col-2">
                                    </div>
                                </div>
                                <br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="" id="statusLayout1"
                                           th:checked="${layouts.get(0).getActive() == true}" >
                                    <span class="checkmark">Показать сайт</span>
                                </div>
                                <br>
                                <h6>Описание</h6>
                                <input class="form-control" type="text" id="descriptionLayout1"
                                       th:value="${layouts.get(0).getDescription()}" placeholder="Введите описание">
                                <br>
                                <div class="row" style="text-align: center">
                                    <div class="col-4">
                                        <img id="previewImage1" style="justify-content: center"
                                             th:src="'data:image/jpeg;base64, ' + ${img1.get(0)}"
                                             class="d-block w-px-300 h-px-300 rounded">
                                        <input type="file" class="form-control" id="inputImage1"
                                               onchange="updatePreviewImage(this, 'previewImage1')"
                                               style="margin-top: 5px">
                                    </div>
                                    <div class="col-4">
                                        <img id="previewImage2" style="justify-content: center"
                                             th:src="'data:image/jpeg;base64, ' + ${img2.get(0)}"
                                             class="d-block w-px-300 h-px-300 rounded">
                                        <input type="file" class="form-control" id="inputImage2"
                                               onchange="updatePreviewImage(this, 'previewImage2')"
                                               style="margin-top: 5px">
                                    </div>
                                    <div class="col-4">
                                        <img id="previewImage3" th:src="'data:image/jpeg;base64, ' + ${img3.get(0)}"
                                             class="d-block w-px-300 h-px-300 rounded">
                                        <input type="file" class="form-control" id="inputImage3"
                                               onchange="updatePreviewImage(this, 'previewImage3')"
                                               style="margin-top: 5px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: right; margin: 20px">
                            <button class="btn btn-submit" onclick="addLayoutCard()" type="button">Добавить планировку
                            </button>
                        </div>
                    </div>
                </div>
                <div style="text-align: right; margin: 20px">
                    <button class="btn btn-submit">Отмена</button>
                    <span>
                <button class="btn btn-success" hx-trigger="click" onclick="sendForm()">
                Сохранить </button>
            </span>
                </div>
            </div>
        </div>

    </main>
    <div class="alert alert-warning notification  d-flex align-items-center hidden" role="alert"
         id="notification">
        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.94118 10.7474V20.7444C5.94118 21.0758 5.81103 21.3936 5.57937 21.628C5.3477 21.8623 5.0335 21.994 4.70588 21.994H2.23529C1.90767 21.994 1.59347 21.8623 1.36181 21.628C1.13015 21.3936 1 21.0758 1 20.7444V11.997C1 11.6656 1.13015 11.3477 1.36181 11.1134C1.59347 10.879 1.90767 10.7474 2.23529 10.7474H5.94118ZM5.94118 10.7474C7.25166 10.7474 8.50847 10.2207 9.43512 9.28334C10.3618 8.34594 10.8824 7.07456 10.8824 5.74887V4.49925C10.8824 3.83641 11.1426 3.20071 11.606 2.73201C12.0693 2.26331 12.6977 2 13.3529 2C14.0082 2 14.6366 2.26331 15.0999 2.73201C15.5632 3.20071 15.8235 3.83641 15.8235 4.49925V10.7474H19.5294C20.1847 10.7474 20.8131 11.0107 21.2764 11.4794C21.7397 11.9481 22 12.5838 22 13.2466L20.7647 19.4947C20.5871 20.2613 20.25 20.9196 19.8045 21.3704C19.3589 21.8211 18.8288 22.04 18.2941 21.994H9.64706C8.6642 21.994 7.72159 21.599 7.0266 20.896C6.33162 20.1929 5.94118 19.2394 5.94118 18.2451"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
        </svg>
        <strong id="text_notification"></strong>
        <div>
            <span id="notification-message"></span>
        </div>
    </div>
    <script th:src="@{/vendor/libs/dropzone/dropzone.js}"></script>
    <script th:inline="javascript">
        function changeInput(lang) {
            $(".nameContent").css("display","none")
            $("." + lang + "Content").css("display", "block");
        }

        const previewTemplate = `<div class="dz-preview dz-file-preview">
<div class="dz-details">
  <div class="dz-thumbnail">
    <img data-dz-thumbnail>
    <span class="dz-nopreview">No preview</span>
    <div class="dz-success-mark"></div>
    <div class="dz-error-mark"></div>
    <div class="dz-error-message"><span data-dz-errormessage></span></div>
    <div class="progress">
      <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="1000" data-dz-uploadprogress></div>
    </div>
  </div>
  <div class="dz-filename" data-dz-name></div>
  <div class="dz-size" data-dz-size></div>
</div>
</div>`;
        let uploadedFiles = new Map();
        let oldImagesArray = [];

        function updateDropzoneMaxFiles() {
            const newMaxFiles = (15 - oldImagesArray.length);
            myDropzone.options.maxFiles = newMaxFiles;
        }

        var myDropzone = new Dropzone("#my-dropzone", {
            url: "/uploadFile",
            previewTemplate: previewTemplate,
            parallelUploads: 5,
            maxFilesize: 10,
            addRemoveLinks: true,
            maxFiles: 15,
            success: function (file, response) {
                console.log("Файл загружен: " + file.name);
                console.log("Ответ сервера: " + response);
                const imageElement = file.previewElement.querySelector("img[data-dz-thumbnail]");
                imageElement.src = file.dataURL;
            }
        })
        myDropzone.on('success', function (file, response) {
            console.log('Файл успешно загружен:', file.name);
            if (oldImagesArray.includes(file.name)) {
                uploadedFiles.set("wrr2142" + file.name, file);
            } else {
                uploadedFiles.set(file.name, file);
            }
        });
        myDropzone.on('removedfile', function (file) {
            console.log('Файл был удален:', file.name);
            if (uploadedFiles.has(file.name)) {
                uploadedFiles.delete(file.name);
            } else {
                console.log('Файл не найден в uploadedFiles Map.');
                oldImagesArray = oldImagesArray.filter(function (item) {
                    return item !== file.name;
                });
                console.log(oldImagesArray);
            }
            updateDropzoneMaxFiles()
        });
        myDropzone.on("addedfile", function (file) {
            console.log("Начало загрузки файла: " + file.name);
        });
        myDropzone.on('queuecomplete', function () {
            console.log('Загрузка всех файлов завершена.');
        });


        function sendForm() {
            let formData = new FormData();
            formData.append("nameObject", $("#nameObject").val());
            formData.append("region", $("#region").val());
            formData.append("street", $("#street").val());
            formData.append("district", $('[name="district"]').val());
            formData.append("city", $('[name="city"]').val());
            formData.append("topozone", $('[name="topozone"]').val());
            formData.append("promotionName", $("#promotionName").val());
            formData.append("houseNumber", $('[name="houseNumber"]').val());
            formData.append("section", $('[name="section"]').val());
            formData.append("floorQuantity", $('[name="floorQuantity"]').val());
            formData.append("nameCompany", $('[name="nameCompany"]').val());
            formData.append("buildStatus", $('[name="buildStatus"]').val());
            formData.append("telephone", $('[name="telephone"]').val());
            if ($("#chessboard").prop('files')[0] != null)
                formData.append("chessboardFile", $("#chessboard").prop('files')[0]);
            if ($("#installmentTerms").prop('files')[0] != null)
                formData.append("installmentTerms", $("#installmentTerms").prop('files')[0]);
            if ($("#prices").prop('files')[0] != null)
                formData.append("prices", $("#prices").prop('files')[0]);
            formData.append("description", $('[name="descriptionObject"]').val());
            formData.append("descriptionPromotion", $('[name="descriptionPromotion"]').val());
            formData.append("statusPromotion", $('[name="statusPromotion"]').prop('checked'));
            console.log("1" + $('[name="descriptionPromotion"]').val());
            console.log("2" + $('[name="descriptionObject"]').val())
            let index = 0;
            let checkErrors = true;
            console.log(oldImagesArray);
            formData.append("oldFiles", oldImagesArray);
            layoutArray.forEach(function (element) {
                console.log(element);
                let layoutData = {
                    nameLayout: $("#nameLayout" + element).val(),
                    priceLayout: $("#priceLayout" + element).val(),
                    roomQuantityLayout: $("#roomsLayout" + element).val(),
                    areaTotalLayout: $("#areaTotalLayout" + element).val(),
                    areaLivingLayout: $("#areaLivingLayout" + element).val(),
                    areaKitchenLayout: $("#areaKitchenLayout" + element).val(),
                    statusLayout: $("#statusLayout" + element).prop('checked'),
                    descriptionLayout: $("#descriptionLayout" + element).val()
                }
                let inputImage1 = $("#inputImage" + element).prop('files');
                if (inputImage1.length > 0) {
                    layoutData.img1Layout = inputImage1[0];
                } else {
                    if (img1ThymeleafPath[index] != null)
                        layoutData.img1Old = img1ThymeleafPath[index]
                }
                let inputImage2 = $("#inputImage" + (element + 1)).prop('files');
                if (inputImage2.length > 0) {
                    layoutData.img2Layout = inputImage2[0];
                } else {
                    if (img2ThymeleafPath[index] != null)
                        layoutData.img2Old = img2ThymeleafPath[index]
                }
                let inputImage3 = $("#inputImage" + (element + 2)).prop('files');
                if (inputImage3.length > 0) {
                    layoutData.img3Layout = inputImage3[0];
                } else {
                    if (img3ThymeleafPath[index] != null)
                        layoutData.img3Old = img3ThymeleafPath[index]
                }
                for (let key in layoutData) {
                    formData.append(`layoutDTOList[${index}].${key}`, layoutData[key]);
                }
                console.log(layoutData)
                index = index + 1;
            });

            console.log(uploadedFiles);
            let i = 1;
            for (let [fileName, file] of uploadedFiles) {
                if (i > (15 - oldImagesArray.length)) {
                    break;
                }
                formData.append("files[]", file);
                i++;
            }
            console.log(formData.get("files[]"))

            let contextPath =/*[[@{/}]]*/'';
            let idThymeleaf =/*[[${id}]]*/'';
            let url = contextPath.toString() + "builder_objects/edit/" + idThymeleaf;
            // for (let pair of formData.entries()) {
            //     let value = pair[1];
            //     if (value === "" || value === null || value === undefined || !value) {
            //         showNotification("Warning!", "Пожалуйста, заполните все данные. ", false);
            //         checkErrors = false;
            //         break;
            //     }
            // }
            if (checkErrors) {
                $.ajax({
                    url: url,
                    method: "POST",
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function () {
                        showNotification("Объект сохранен!", "", true);
                    },
                    error: function (xhr, status, error) {
                        console.log(error)
                        var errors = JSON.parse(xhr.responseText);
                        errors.forEach(function (error) {
                            console.log("Ошибка: " + error);
                            showNotification("Ошибка!", error, false);
                        });
                    }
                })
            }
        }

        let imgMaxId = 4;

        function updatePreviewImage(input, imgId) {
            if (input.files && input.files[0]) {
                var file = input.files[0];
                if (file.type.startsWith('image/')) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#' + imgId).removeAttr('hidden');
                        $('#' + imgId).attr('src', e.target.result);
                        $('#' + imgId).addClass('d-block w-px-300 h-px-300 rounded');
                        if (imgId > imgMaxId) {
                            imgMaxId = imgId;
                        }
                    }
                    reader.readAsDataURL(file);
                } else {
                    input.value = '';
                    showNotification("Warning!", "Только изображения", false)
                }
            }
        }

        let layoutArray = [1];

        function addLayoutCard() {
            let cardContainer = document.getElementById('card-container');
            let newCard = document.createElement('div');
            newCard.className = 'card';
            newCard.style.padding = '20px';
            newCard.style.marginTop = '20px';
            newCard.id = 'card' + imgMaxId;
            layoutArray.push(imgMaxId)
            newCard.innerHTML = `<div class="row">
                <div class="col-6">
                    <h6>Название</h6>
                </div>
                <div class="col-6" style="text-align: right">
                    <button class="btn btn-danger" onClick="deleteLayout(` + imgMaxId + `)" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash"
                             width="24"
                             height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round" >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M4 7l16 0"></path>
                            <path d="M10 11l0 6"></path>
                            <path d="M14 11l0 6"></path>
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <input class="form-control" type="text" class="col-6" id="nameLayout` + imgMaxId + `" placeholder="Введите название">
                <br>
                    <div class="row">
                        <div class="col-2">
                            <h6>Цена от (м.кв)</h6>
                            <input class="form-control" type="number" id="priceLayout` + imgMaxId + `" placeholder="Введите цену">
                        </div>
                        <div class="col-2">
                            <h6>Комнат</h6>
                            <input class="form-control" type="number" id="roomsLayout` + imgMaxId + `" placeholder="Введите кол-во комнат">
                        </div>
                        <div class="col-2">
                            <h6>S общая (м.кв.)*</h6>
                            <input class="form-control" type="number" id="areaTotalLayout` + imgMaxId + `" placeholder="Введите общую площадь">
                        </div>
                        <div class="col-2">
                            <h6>S жилая (м.кв.)*</h6>
                            <input class="form-control" type="number" id="areaLivingLayout` + imgMaxId + `" placeholder="Введите жилую площадь">
                        </div>
                        <div class="col-2">
                            <h6>S кухни (м.кв.)*</h6>
                            <input class="form-control" type="number" id="areaKitchenLayout` + imgMaxId + `" placeholder="Введите площадь кухни">
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                    <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="statusLayout` + imgMaxId + `">
                                <span class="checkmark">Показать сайт</span>
                        </div>
                        <br>
                            <h6>Описание</h6>
                            <input class="form-control" type="text" id="descriptionLayout` + imgMaxId + `" placeholder="Введите описание">
                                <br>
                                    <div class="row" style="text-align: center">
                                        <div class="col-4">
                                            <img id="previewImage` + (imgMaxId) + `" style="justify-content: center">
                                                <input  type="file" class="form-control" id="inputImage` + (imgMaxId) + `"
                                                       onChange="updatePreviewImage(this, 'previewImage` + imgMaxId + `')"
                                                       style="margin-top: 5px">
                                        </div>
                                        <div class="col-4">
                                            <img id="previewImage` + (imgMaxId + 1) + `" style="justify-content: center">
                                                <input type="file" class="form-control" id="inputImage` + (imgMaxId + 1) + `"
                                                       onChange="updatePreviewImage(this, 'previewImage` + (imgMaxId + 1) + `')"
                                                       style="margin-top: 5px">
                                        </div>
                                        <div class="col-4">
                                            <img id="previewImage` + (imgMaxId + 2) + `">
                                                <input type="file" class="form-control" id="inputImage` + (imgMaxId + 2) + `"
                                                       onChange="updatePreviewImage(this, 'previewImage` + (imgMaxId + 2) + `')"
                                                       style="margin-top: 5px">
                                        </div>
                                    </div>  `
            cardContainer.appendChild(newCard);
            console.log("Добавление Layout");

            imgMaxId = imgMaxId + 3;
        }

        function deleteLayout(imgId) {
            let textCard = "#card" + imgId;
            layoutArray = layoutArray.filter(function (item) {
                return item !== imgId;
            });
            $(textCard).remove();
            showNotification("Warning!", "Планировка удалена", false)
            console.log("Удаление Layout");
            var myDropzone = Dropzone.forElement("#my-dropzone");

// Получите массив всех файлов, загруженных с Dropzone
            var uploadedFiles1 = myDropzone.getAcceptedFiles();
            console.log(uploadedFiles1)
            console.log(uploadedFiles)
            console.log(oldImagesArray)
        }

        // Настройки
        $('#telephone').mask('+380999999999');
        let img1ThymeleafPath = /*[[${img1Name}]]*/ '';
        let img2ThymeleafPath = /*[[${img2Name}]]*/ '';
        let img3ThymeleafPath = /*[[${img3Name}]]*/ '';

        let img1Thymeleaf = /*[[${img1}]]*/ '';
        let img2Thymeleaf = /*[[${img2}]]*/ '';
        let img3Thymeleaf = /*[[${img3}]]*/ '';

        document.addEventListener("DOMContentLoaded", function () {
            let contextPath = /*[[@{/}]]*/ '';
            let checkObject = /*[[${objectBuilder.getAddress().getRegion()}]]*/ '';
            let checkObjectCity = /*[[${objectBuilder.getAddress().getCity()}]]*/ '';
            let checkObjectDistrict = /*[[${objectBuilder.getAddress().getDistrict()}]]*/ '';
            let url = contextPath.toString() + "getCity/" + checkObject.toString();
            console.log(url)
            $.ajax({
                url: url,
                method: "GET",
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    if (Array.isArray(data)) {
                        const container = $('[name="city"]');
                        if (container.is(':disabled')) {
                            container.removeAttr('disabled');
                        }
                        container.empty();
                        let selectionItem = '<option value=""></option> ';
                        if (data.length > 0) {
                            data.forEach(function (category) {
                                selectionItem += '<option value="' + category + '"';
                                if (category === checkObjectCity) {
                                    console.log("Успех")
                                    selectionItem += ' selected '
                                }
                                selectionItem += '>' + category + '</option>';

                            });
                        }
                        container.append(selectionItem);
                    }
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });

            url = contextPath.toString() + "getDistrict/" + checkObjectCity.toString();
            $.ajax({
                url: url,
                method: "GET",
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    if (Array.isArray(data)) {
                        const container = $('[name="district"]');
                        if (container.is(':disabled')) {
                            container.removeAttr('disabled');
                        }
                        container.empty();
                        let selectionItem = '<option value=""></option> ';
                        if (data.length > 0) {
                            data.forEach(function (category) {
                                selectionItem += '<option value="' + category + '"';
                                console.log(category)
                                if (category === checkObjectDistrict) {
                                    selectionItem += ' selected '
                                }
                                selectionItem += '>' + category + '</option>';

                            });
                        }
                        container.append(selectionItem);
                    }
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });


            let imagesDropzoneBase64 = /*[[${base64Images}]]*/ '';
            let base64ImagesSize = /*[[${base64ImagesSize}]]*/ '';
            let base64ImagesName = /*[[${base64ImagesListName}]]*/ '';
            let i = 1;
            imagesDropzoneBase64.forEach(function (base64Image) {
                let img = `data:image/jpeg;base64, ${base64Image}`;
                oldImagesArray.push(base64ImagesName[i - 1])
                const mockFile = {name: base64ImagesName[i - 1], dataURL: img, size: base64ImagesSize[i - 1]};
                myDropzone.emit("addedfile", mockFile);
                myDropzone.emit("thumbnail", mockFile, img);
                myDropzone.emit("complete", mockFile);

                i++;
            });
            updateDropzoneMaxFiles()
            // let progressBars = document.querySelectorAll(".progress");
            // progressBars.forEach(function (progressBar) {
            //     progressBar.remove();
            // });
            // console.log(myDropzone);


            let layouts = /*[[${layouts}]]*/ '';


            let sizeLayouts = layouts.length;
            console.log(layouts);
            let q = 1;
            layouts.forEach(function () {
                if (q != 1) {

                }
                q++;
            })


            if (sizeLayouts > 1) {
                for (let i = 0; i <= (layouts.length - 1); i++) {
                    if (i > 0) {
                        console.log(layouts[i].name)

                        let cardContainer = document.getElementById('card-container');
                        let newCard = document.createElement('div');
                        newCard.className = 'card';
                        newCard.style.padding = '20px';
                        newCard.style.marginTop = '20px';
                        newCard.id = 'card' + imgMaxId;
                        layoutArray.push(imgMaxId)
                        let textHtml = `<div class="row">
                <div class="col-6">
                    <h6>Название</h6>
                </div>
                <div class="col-6" style="text-align: right">
                    <button class="btn btn-danger" onClick="deleteLayout(` + imgMaxId + `)" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash"
                             width="24"
                             height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round" >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M4 7l16 0"></path>
                            <path d="M10 11l0 6"></path>
                            <path d="M14 11l0 6"></path>
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <input class="form-control" type="text" class="col-6" id="nameLayout` + imgMaxId + `" value="` + layouts[i].name + `">
                <br>
                    <div class="row">
                        <div class="col-2">
                            <h6>Цена от (м.кв)</h6>
                            <input class="form-control" type="number" id="priceLayout` + imgMaxId + `" value="` + layouts[i].price + `">
                        </div>
                        <div class="col-2">
                            <h6>Комнат</h6>
                            <input class="form-control" type="number" id="roomsLayout` + imgMaxId + `" value="` + layouts[i].roomQuantity + `">
                        </div>
                        <div class="col-2">
                            <h6>S общая (м.кв.)*</h6>
                            <input class="form-control" type="number" id="areaTotalLayout` + imgMaxId + `" value="` + layouts[i].areaTotal + `">
                        </div>
                        <div class="col-2">
                            <h6>S жилая (м.кв.)*</h6>
                            <input class="form-control" type="number" id="areaLivingLayout` + imgMaxId + `" value="` + layouts[i].areaLiving + `">
                        </div>
                        <div class="col-2">
                            <h6>S кухни (м.кв.)*</h6>
                            <input class="form-control" type="number" id="areaKitchenLayout` + imgMaxId + `" value="` + layouts[i].areaKitchen + `">
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                    <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="statusLayout` + imgMaxId + `" `;
                        if (layouts[i].active = true) {
                            textHtml += `checked`
                        }
                        textHtml += ` > <span class="checkmark">Показать сайт</span>
                        </div>
                        <br>
                            <h6>Описание</h6>
                            <input class="form-control" type="text" id="descriptionLayout` + imgMaxId + `" value="` + layouts[i].description + `">
                                <br>
                                    <div class="row" style="text-align: center">
                                        <div class="col-4">
                                            <img id="previewImage` + (imgMaxId) + `" style="justify-content: center" src="data:image/jpeg;base64, ` + img1Thymeleaf[i] + `" class="d-block w-px-300 h-px-300 rounded">
                                                <input  type="file" class="form-control" id="inputImage` + (imgMaxId) + `"
                                                       onChange="updatePreviewImage(this, 'previewImage` + imgMaxId + `')"
                                                       style="margin-top: 5px">
                                        </div>
                                        <div class="col-4">
                                            <img id="previewImage` + (imgMaxId + 1) + `" style="justify-content: center" src="data:image/jpeg;base64, ` + img2Thymeleaf[i] + `" class="d-block w-px-300 h-px-300 rounded">
                                                <input type="file" class="form-control" id="inputImage` + (imgMaxId + 1) + `"
                                                       onChange="updatePreviewImage(this, 'previewImage` + (imgMaxId + 1) + `')"
                                                       style="margin-top: 5px">
                                        </div>
                                        <div class="col-4">
                                            <img id="previewImage` + (imgMaxId + 2) + `" src="data:image/jpeg;base64, ` + img3Thymeleaf[i] + `" class="d-block w-px-300 h-px-300 rounded">
                                                <input type="file" class="form-control" id="inputImage` + (imgMaxId + 2) + `"
                                                       onChange="updatePreviewImage(this, 'previewImage` + (imgMaxId + 2) + `')"
                                                       style="margin-top: 5px">
                                        </div>
                                    </div>  `
                        newCard.innerHTML = textHtml;
                        cardContainer.appendChild(newCard);
                        console.log("Добавление Layout");

                        imgMaxId = imgMaxId + 3;
                    }
                }
            }
        })


        $('[name="city"]').change(function () {
            let selectedValue = $(this).val();
            console.log(selectedValue)
            let contextPath = /*[[@{/}]]*/ '';
            let url = contextPath.toString() + "getDistrict/" + selectedValue.toString();
            console.log(url)
            if (selectedValue.toString() == "") {
                const container2 = $('[name="district"]');
                container2.empty();
                container2.prop('disabled', true);
            } else {
                $.ajax({
                    url: url,
                    method: "GET",
                    data: {
                        selectedValue: selectedValue
                    },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data)
                        if (Array.isArray(data)) {
                            const container = $('[name="district"]');
                            if (container.is(':disabled')) {
                                container.removeAttr('disabled');
                            }
                            container.empty();
                            let selectionItem = '<option value=""></option> ';
                            if (data.length > 0) {
                                data.forEach(function (category) {
                                    selectionItem += '<option value="' + category + '">' + category + '</option>';
                                });
                            }
                            container.append(selectionItem);
                        }
                    },
                    error: function (error) {
                        console.log("Error:", error);
                    }
                });
            }
        });
        $("#region").change(function () {
            let selectedValue = $(this).val();
            console.log(selectedValue)
            let contextPath = /*[[@{/}]]*/ '';
            let url = contextPath.toString() + "getCity/" + selectedValue.toString();
            console.log(url)
            if (selectedValue.toString() == "") {
                const container = $('[name="city"]');
                container.empty();
                container.prop('disabled', true);
                const container2 = $('[name="district"]');
                container2.empty();
                container2.prop('disabled', true);
            } else {
                $.ajax({
                    url: url,
                    method: "GET",
                    data: {
                        selectedValue: selectedValue
                    },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data)
                        if (Array.isArray(data)) {
                            const container = $('[name="city"]');
                            if (container.is(':disabled')) {
                                container.removeAttr('disabled');
                            }
                            container.empty();
                            let selectionItem = '<option value=""></option> ';
                            if (data.length > 0) {
                                data.forEach(function (category) {
                                    selectionItem += '<option value="' + category + '">' + category + '</option>';
                                });
                            }
                            container.append(selectionItem);
                            const container2 = $('[name="district"]');
                            container2.empty();
                            container2.prop('disabled', true);
                        }
                    },
                    error: function (error) {
                        console.log("Error:", error);
                    }
                });
            }
        });

        function showNotification(bigTextMessage, message, isSuccess) {
            const notification = document.getElementById("notification");
            const notificationMessage = document.getElementById("notification-message");

            var element = document.getElementById("text_notification");
            element.textContent = bigTextMessage;

            notificationMessage.textContent = message;
            notification.classList.remove("hidden");
            notification.classList.toggle("alert-success", isSuccess);
            notification.classList.toggle("alert-warning", !isSuccess);
            setTimeout(() => {
                notification.classList.add("hidden");
            }, 5000);
        }


    </script>
</div>

</body>
</html>