<!DOCTYPE html>
<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title data-translate="обєкти_від_будівельників"></title>
<!--    <style>-->
<!--        @media print {-->
<!--            body * {-->
<!--                visibility: hidden;-->
<!--            }-->

<!--            #branchTable * {-->
<!--                visibility: visible;-->
<!--            }-->

<!--            #branchTable .btn-group * {-->
<!--                visibility: hidden;-->
<!--                display: none;-->
<!--                top: 0px;-->
<!--            }-->

<!--            #branchTable {-->
<!--                position: fixed;-->
<!--                left: 0;-->
<!--                top: 0;-->
<!--                margin: 0;-->
<!--                padding: 0;-->
<!--            }-->

<!--            #filterSearch_H {-->
<!--                visibility: hidden;-->
<!--                display: none;-->
<!--                top: 0px;-->
<!--            }-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">

        <div class="content-wrapper">
            <div>
                <br>
                <div class="d-flex justify-content-between">
                    <h4 class="fw-bold" data-translate="breadcrumb.builder_objects">Объекты от строителей</h4>
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb"
                         class="d-flex align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}" data-translate="breadcrumb.home">Главная</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page"
                                data-translate="breadcrumb.builder_objects">Объекты от строителей
                            </li>
                        </ol>
                    </nav>
                </div>
                <hr style="margin-top: -5px">
                <div style="width: 100%; display: flex; justify-content: flex-end;">
                    <button class="btn btn-submit" id="printButton" data-translate="print" style="margin: 20px" onclick="printElements()">
                        Распечатать
                    </button>
                    <a th:href="@{/builder_objects/create}" style="margin: 20px">
                        <button class="btn btn-submit" data-translate="builder_object_add">Добавить объект</button>
                    </a>
                </div>
                <br>

                <div class="card">
                    <div class="card-header" style="text-align: right">
                        <button class="btn btn-submit" id="clean-filter" data-translate="clear">Очистить</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="invoice-list-table table border-top"
                                   id="branchTable">
                                <thead>
                                <tr style="text-align: center">
                                    <th data-translate="title">Название</th>
                                    <th data-translate="district">Район</th>
                                    <th data-translate="topzone">Топозона</th>
                                    <th data-translate="street">Улица</th>
                                    <th data-translate="number_of_floors">Этажность</th>
                                    <th data-translate="price_from">Цена от</th>
                                    <th></th>
                                </tr>
                                <tr id="filterSearch_H">
                                    <td><input type="text" class="form-control for-filter"></td>
                                    <td><input type="text" class="form-control for-filter"></td>
                                    <td><input type="text" class="form-control for-filter"></td>
                                    <td><input type="text" class="form-control for-filter"></td>
                                    <td><input type="number" min="0" class="form-control for-filter" data-num="limited">
                                    </td>
                                    <td><input type="number" min="0" class="form-control for-filter" data-num="limited">
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="card-footer">
                    <ul class="pagination pagination-sm m-0 mt-1" style="display: flex; justify-content: flex-end"
                        id="paginationItems">
                    </ul>
                </div>
            </div>

            <div id="deleteModal" class="modal animate__animated animate__flipInX"
                 tabindex="-1" aria-labelledby="flipInXAnimationModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"
                                data-translate="confirmDeletionBuilderObject">Вы точно хотите удалить объект от
                                строителя?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelBtn"
                                        data-translate="cancel">
                                    Отмена
                                </button>
                                <button type="button" class="btn btn-primary" id="okBtn" data-translate="yes">Да
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-warning notification  d-flex align-items-center hidden" role="alert"
                 id="notification">

                <strong id="text_notification"></strong>
                <div>
                    <span id="notification-message"></span>
                </div>
            </div>
        </div>

    </div>
    <script th:src="@{/js/pagination.js}"></script>


    <script>
        function printElements() {
            var bodyRows = [];
            var selectedCheckboxes = document.querySelectorAll('tbody tr .btn-group');
            if (selectedCheckboxes.length === 0) {
                showToastWithTranslate("printErrorCheckbox", "danger");
                return;
            }
            var ajaxPromises = [];
            var headerRow
            selectedCheckboxes.forEach(function (checkbox) {
                var promise = new Promise(function (resolve, reject) {
                    console.log(checkbox)
                    console.log(checkbox.getAttribute('value'))

                    $.ajax({
                        type: "Get",
                        url: '[[@{/builder_objects/getById/}]]' + checkbox.getAttribute('value'),
                        success: function (house) {
                            let minLayout = house.layouts.reduce(function (min, layout) {
                                return layout.price < min.price ? layout : min;
                            }, house.layouts[0]);
                            bodyRows.push(`<td style="border: 1px solid black;">` + house.name + `</td><td style="border: 1px solid black;">` + house.address.district + `</td><td style="border: 1px solid black;">` + house.address.zone + `</td><td style="border: 1px solid black;">` + house.address.street + `</td><td style="border: 1px solid black;">` + house.floorQuantity + `</td><td style="border: 1px solid black;">` + minLayout.price + `</td>`)
                            resolve();
                        },
                        error: function () {
                            reject();
                        }
                    });
                });
                ajaxPromises.push(promise);
            })
            console.log("end")
            headerRow = '<tr style="border: 1px solid black;"><th style="border: 1px solid black;">Имя</th><th style="border: 1px solid black;">Район</th><th style="border: 1px solid black;">Топозона</th><th style="border: 1px solid black;">Улиця</th><th style="border: 1px solid black;">Этажность</th><th style="border: 1px solid black;">Ціна</th></tr>';
            Promise.all(ajaxPromises)
                .then(function () {
                    console.log(bodyRows);
                    printTable(headerRow, bodyRows);
                })
                .catch(function (error) {
                    console.error("Error fetching data:", error);
                });

        }
    </script>
    <script th:inline="javascript">
        let dtoArray = new Map();
        // document.getElementById("printButton").addEventListener("click", function () {
        //         window.print();
        //     }
        // )

        $(document).ready(function () {
            getPageWithFilter(0)
        })


        $('.for-filter').on('input', function () {
            clearTimeout($(this).data('timeout'));
            var $input = $(this);
            var timeout = setTimeout(function () {
                getPageWithFilter(0);
            }, 1000);
            $input.data('timeout', timeout);
        });

        function setNumberOfElement(numberOfElement) {
            localStorage.setItem('numberOfElementForBuilder', numberOfElement)
            getPageWithFilter(0)
        }

        function getPageWithFilter(page) {
            var filterElements = $('.for-filter');
            let contextPath = /*[[@{/}]]*/ '';
            let url = contextPath.toString() + "builder_objects/filter";

            $.ajax({
                method: "GET",
                url: url,
                data: {
                    page: page,
                    numberOfElement: localStorage.getItem('numberOfElementForBuilder') || 10,
                    name: filterElements[0].value,
                    district: filterElements[1].value,
                    topozone: filterElements[2].value,
                    street: filterElements[3].value,
                    floorQuantity: filterElements[4].value,
                    minPrice: filterElements[5].value
                },
                dataType: 'json',
                success: function (builderObjects) {
                    var table = document.getElementById("branchTable");
                    var tbody = table.querySelector("tbody");
                    $('#branchTable tbody').empty().css('text-align', 'center');
                    if ($("#empty-block")) $("#empty-block").remove();
                    if (builderObjects.totalElements == 0) {
                        table.insertAdjacentHTML('afterend', '<center id="empty-block"><h1 data-translate="empty">' + translateValue("empty") + '</h1></center>');
                        tbody.style.display = "none";
                    } else {
                        tbody.style.display = '';
                    }
                    for (var object of builderObjects.content) {
                        var newRow = tbody.insertRow();
                        var cell1 = newRow.insertCell(0);
                        cell1.innerHTML = `<a href="` + contextPath + `builder_objects/card/` + object.id + `">` + object.name + `</a>`;
                        var cell2 = newRow.insertCell(1);
                        cell2.innerHTML = object.address.district;

                        var cell3 = newRow.insertCell(2);
                        cell3.innerHTML = object.address.zone;

                        var cell4 = newRow.insertCell(3);
                        cell4.innerHTML = object.address.street;

                        var cell5 = newRow.insertCell(4);
                        cell5.innerHTML = object.floorQuantity;

                        var products = object.layouts;

                        var minPrice = products.reduce(function (min, product) {
                            return product.price < min ? product.price : min;
                        }, products[0].price);

                        var cell6 = newRow.insertCell(5);
                        cell6.innerHTML = minPrice;

                        var cell7 = newRow.insertCell(6);
                        cell7.innerHTML = `
                                        <div class="btn-group" role="group" aria-label="Basic example" value="` + object.id + `">
                       <a href="` + contextPath + `builder_objects/edit/` + object.id + `">
                                                <button class="btn btn-default btn-sm float-right"
                                                        title="Редактировать"><i class="fa fa-pencil-alt"></i></button>
                                            </a>
                         <button class="btn btn-default btn-sm float-right for-delete"
                                                    onclick="openModal(` + object.id + `)"><i class="fa fa-trash"></i></button>
                        </div>`;
                    }
                    $('#paginationItems').empty();
                    if (builderObjects.totalPages > 1) {
                        updatePagination(page, builderObjects.totalPages, 'paginationItems', localStorage.getItem('numberOfElementForBuilder') || 10, 'numberOfElementForBuilder')
                    } else {
                        var pagination = document.getElementById('paginationItems');
                        pagination.innerHTML = '';
                        var row = document.createElement('div');
                        row.style.marginRight = 'auto'
                        row.style.width = '100%'
                        row.innerHTML += `
<div class="row" style="width: 25%">
    <select class="form-select" id="number-of-element" onchange="setNumberOfElement(this.value)">
        <option value="2" ${localStorage.getItem('numberOfElementForBuilder') == 2 ? 'selected' : ''}>2</option>
        <option value="5" ${localStorage.getItem('numberOfElementForBuilder') == 5 ? 'selected' : ''}>5</option>
        <option value="10" ${localStorage.getItem('numberOfElementForBuilder') == 10 || localStorage.getItem('numberOfElementForBuilder') == null ? 'selected' : ''}>10</option>
        <option value="25" ${localStorage.getItem('numberOfElementForBuilder') == 25 ? 'selected' : ''}>25</option>
    </select>
</div>`;
                        pagination.appendChild(row)
                    }
                    $('#number-of-element').select2({
                        minimumResultsForSearch: -1,
                    })

                },
            });
        }

        $('#clean-filter').click(function () {
            let filterElements = $('.for-filter');
            filterElements.each(function () {
                $(this).val("");
            });
            getPageWithFilter(0)
        });
        let elementDelete;

        function openModal(elem) {
            console.log(elem);
            elementDelete = elem;
            $("#deleteModal").modal("show");
        }

        const limitedInputs = document.querySelectorAll('input[data-num="limited"]');
        limitedInputs.forEach(input => {
            input.addEventListener('input', function () {
                const parsedValue = parseInt(input.value, 10);

                if (!isNaN(parsedValue)) { // Проверка, что parsedValue является числом
                    if (parsedValue > 2147483647) {
                        input.value = '2147483647';
                    } else if (parsedValue < -2147483647) {
                        input.value = '-2147483647';
                    }
                }
            });
        });

        $(document).on("click", "#okBtn", function () {
            let contextPath =/*[[@{/}]]*/ '';
            let url = contextPath + "builder_objects/delete/" + elementDelete;
            console.log(url)
            $.ajax({
                url: url,
                method: "DELETE",
                headers: {'X-XSRF-TOKEN': [[${_csrf.token}]]},
                success: function (response) {
                    $("#elementTable" + elementDelete).empty();
                    $("#cancelBtn").click();
                    console.log(response);
                    showToastWithTranslate(response, "danger");
                    getPageWithFilter(0);
                },
                error: function (context) {
                    console.log("ERROR " + context);
                }
            })
        });

        function showNotification(bigTextMessage, message, isSuccess) {
            const notification = document.getElementById("notification");
            const notificationMessage = document.getElementById("notification-message");

            var element = document.getElementById("text_notification");
            element.textContent = bigTextMessage;

            notificationMessage.textContent = message;
            notification.classList.remove("hidden");
            notification.classList.toggle("alert-success", isSuccess);
            notification.classList.toggle("alert-warning", !isSuccess);
            setTimeout(() => {
                notification.classList.add("hidden");
            }, 5000);
        }
    </script>
</div>
</body>
</html>