<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}"
        xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Content page</title>
    <link rel="stylesheet" th:href="@{/vendor/libs/flatpickr/flatpickr.css}"/>
    <script th:src="@{/vendor/libs/flatpickr/flatpickr.js}"></script>

</head>

<body>

<section layout:fragment="content">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="d-flex justify-content-between">
            <h4 class="fw-bold" data-translate="newRealtor">Новый риелтор</h4>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}" data-translate="main">Главная</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/realtors}" data-translate="realtors">Риелторы</a></li>
                    <li class="breadcrumb-item active" aria-current="page" data-translate="newRealtor">Новый риелтор
                    </li>
                </ol>
            </nav>
        </div>
        <hr style="margin-top: -5px">
        <div th:if="${realtorDto.id}">
            <ul class="nav nav-pills mb-3" role="tablist">
                <li class="nav-item">
                    <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" id="top-home"
                            data-bs-target="#navs-pills-top-info" aria-controls="navs-pills-top-home"
                            aria-selected="true" data-translate="INFORMATION">
                        Информация
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" id="top-profile"
                            data-bs-target="#navs-pills-top-reviews" aria-controls="navs-pills-top-profile"
                            aria-selected="false" data-translate="reviews">Отзывы
                    </button>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="navs-pills-top-info" aria-labelledby="top-home">
                        <form method="post" th:action="@{/realtors/add}" th:object="${realtorDto}"
                              enctype="multipart/form-data" id="realtorAdd">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <img id="previewImage" class="d-block w-px-auto h-px-300 rounded"
                                         src="http://myhouse24.avada-media.ua/site/glide?path=%2Fupload%2Fplaceholder.jpg"
                                         style="width: 50%; height: 200px">
                                    <br>
                                    <input type="file" class="form-control fileInput" accept=".jpg, .jpeg, .png"
                                           onchange="validateAndUpload('previewImage', ['.jpg', '.jpeg', '.png'])"
                                           th:field="*{img}">
                                    <input th:field="*{id}" type="text" class="form-control" hidden>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label class="form-label" data-translate="code">Код</label>
                                    <input placeholder="11" type="number" class="form-control onlyNumber"
                                           th:field="*{code}">
                                    <br/>
                                    <label class="form-label" data-translate="branches">Филиалы</label>
                                    <select id="branchSelect2" style="margin-right: 12px; margin-left: 12px;"
                                            th:field="*{branch}"></select>
                                    <br/>
                                    <br/>
                                    <label class="form-label" data-translate="dateOfBirth">Дата рождения</label>
                                    <input type="text" id="dateOfPurchase" class="form-control flatpickr-datetime"
                                           placeholder="YYYY/MM/DD" th:field="*{birthdate}"/>
                                    <br/>
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control"
                                           th:field="*{email}"
                                           placeholder="test@gmail.com"
                                           aria-describedby="defaultFormControlHelp"/>
                                </div>
                                <div class="col-6">
                                    <br/>
                                    <ul class="nav nav-pills mb-4" id="pills-block" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="pills-for-uk" data-bs-toggle="pill"
                                                    data-bs-target="#pills-uk"
                                                    type="button" role="tab" aria-controls="pills-home"
                                                    aria-selected="true">Укр
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-for-ru" data-bs-toggle="pill"
                                                    data-bs-target="#pills-ru"
                                                    type="button" role="tab" aria-controls="pills-profile"
                                                    aria-selected="false">Ру
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-for-en" data-bs-toggle="pill"
                                                    data-bs-target="#pills-en"
                                                    type="button" role="tab" aria-controls="pills-contact"
                                                    aria-selected="false">En
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-blovk-content" style="padding: 0px">
                                        <div class="tab-pane fade show active" id="pills-uk" role="tabpanel"
                                             aria-labelledby="pills-for-uk">
                                            <label class="form-label" data-translate="lastName">Фамилия</label>
                                            <input type="text" class="form-control" th:field="*{surnameUK}"
                                                   placeholder="Пушкин" aria-describedby="defaultFormControlHelp"/>
                                            <br/>
                                            <label class="form-label" data-translate="firstName">Имя</label>
                                            <input type="text" class="form-control" th:field="*{nameUK}"
                                                   placeholder="Александр"
                                                   aria-describedby="defaultFormControlHelp"/>
                                            <br/>
                                            <label class="form-label" data-translate="middleName">Отчество</label>
                                            <input type="text" class="form-control" th:field="*{middleNameUK}"
                                                   placeholder="Сергеевич"
                                                   aria-describedby="defaultFormControlHelp"/>
                                        </div>
                                        <div class="tab-pane fade show" id="pills-ru" role="tabpanel"
                                             aria-labelledby="pills-for-ru">
                                            <label class="form-label" data-translate="lastName">Фамилия</label>
                                            <input type="text" class="form-control" th:field="*{surname}"
                                                   placeholder="Пушкин" aria-describedby="defaultFormControlHelp"/>
                                            <br/>
                                            <label class="form-label" data-translate="firstName">Имя</label>
                                            <input type="text" class="form-control" th:field="*{name}"
                                                   placeholder="Александр"
                                                   aria-describedby="defaultFormControlHelp"/>
                                            <br/>
                                            <label class="form-label" data-translate="middleName">Отчество</label>
                                            <input type="text" class="form-control" th:field="*{middleName}"
                                                   placeholder="Сергеевич"
                                                   aria-describedby="defaultFormControlHelp"/>
                                        </div>
                                        <div class="tab-pane fade show" id="pills-en" role="tabpanel"
                                             aria-labelledby="pills-for-en">
                                            <label class="form-label" data-translate="lastName">Фамилия</label>
                                            <input type="text" class="form-control" th:field="*{surnameEN}"
                                                   placeholder="Пушкин" aria-describedby="defaultFormControlHelp"/>
                                            <br/>
                                            <label class="form-label" data-translate="firstName">Имя</label>
                                            <input type="text" class="form-control" th:field="*{nameEN}"
                                                   placeholder="Александр"
                                                   aria-describedby="defaultFormControlHelp"/>
                                            <br/>
                                            <label class="form-label" data-translate="middleName">Отчество</label>
                                            <input type="text" class="form-control" th:field="*{middleNameEN}"
                                                   placeholder="Сергеевич"
                                                   aria-describedby="defaultFormControlHelp"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <h3 data-translate="phones">Телефоны</h3>
                                </div>
                                <div id="phones">
                                    <div class="row mb-3" th:each="contact: ${realtorDto.getContacts()}">
                                        <div class="col-5">
                                            <input type="text" class="form-control"
                                                   th:value="${contact.getId()}" hidden>
                                            <input type="text" class="form-control"
                                                   th:value="${contact.getPhone()}"
                                                   aria-describedby="defaultFormControlHelp"/>
                                        </div>
                                        <div class="col-5">
                                            <select class="form-control for-select">
                                                <option th:each="type: ${contactTypes}" th:value="${type}"
                                                        th:text="${type}" th:selected="${type == contact.type}">Viber
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-1">
                                            <button type="button" class="btn btn-default btn-sm"
                                                    th:onclick="@{deletePhone(this,'{id}')(id=${contact.id})}">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>

                                <div class="row mb-3">
                                    <div class="col-5">
                                    </div>
                                    <div class="col-5 d-flex justify-content-end" id="addPhone">
                                        <button type="button" onclick="addBlockForPhone()" class="btn btn-info"
                                                data-translate="add">Добавить
                                        </button>
                                    </div>
                                    <div class="col-1">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <h3 data-translate="changePassword">Сменить пароль</h3>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label class="form-label" data-translate="newPassword">Новый пароль</label>
                                        <input type="password" class="form-control"
                                               th:field="*{password}"
                                               aria-describedby="defaultFormControlHelp"/>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label" data-translate="repeatPassword">Повтор пароля</label>
                                        <input type="password" class="form-control" id="password2"
                                               aria-describedby="defaultFormControlHelp"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="navs-pills-top-reviews" aria-labelledby="top-profile">
                        <div class="row mb-3">
                            <h5 data-translate="attachPdfFiles">Прикрепить PDF файлы</h5>
                            <input type="file" accept=".pdf" id="file" class="form-control"
                                   onchange="downloadFileToFeedBack()">
                            <div id="block-for-file">
                                <div class="row" th:each="file: ${realtorDto.getFiles()}" style="margin-top: 5px">
                                    <div class="col-2"><a href="#" class="text-decoration-none"
                                                          th:onclick="@{downloadFileFromFeedBack('{file}')(file=${file})}"
                                                          data-translate="downloadFile">Скачать
                                        файл</a></div>
                                    <div class="col"><a href="#" class="text-decoration-none for-delete"
                                                        th:onclick="@{deleteFileFromFeedBack(this,'{file}')(file=${file})}">
                                        <button class="btn btn-danger" style="padding: 5px" width="18" height="18"
                                                type="button">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 class="icon icon-tabler icon-tabler-trash" width="20" height="20"
                                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                 stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M4 7l16 0"></path>
                                                <path d="M10 11l0 6"></path>
                                                <path d="M14 11l0 6"></path>
                                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                            </svg>
                                        </button>
                                    </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="row" th:each="body: ${realtorDto.getRealtorFeedBacks()}"
                             th:id="'feedback-' + ${body.id}">
                            <div class="row">
                                <div class="col-5">
                                    <label>Имя</label>
                                    <input type="text" class="form-control for-feedback" name="id" th:value="${body.id}"
                                           hidden>
                                    <input type="text" class="form-control for-feedback" name="name"
                                           th:value="${body.name}">
                                </div>
                                <div class="col-5">
                                    <label>Контакт</label>
                                    <input type="text" class="form-control for-feedback" name="phone"
                                           th:value="${body.phone}">
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-default btn-sm" style="margin-top: 22.042px;"
                                            th:onclick="@{deleteFeedBackBody(this,'{idBody}')(idBody=${body.id})}">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10">
                                    <label>Отзыв</label>
                                    <textarea name="description" class="form-control  for-feedback" cols="30" rows="10"
                                              th:text="${body.description}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <a th:href="@{/realtors}" class="btn btn-default" data-translate="cancel">Отменить</a>
                    <button onclick="sendForm()" type="button" class="btn btn-success" data-translate="save">Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script th:href="@{/vendor/libs/flatpickr/ru.js}"></script>

    <script>
        const urlForAddFeedBack = '[[@{/realtors/feedback/save}]]'
        const urlForValidCode = '[[@{/realtors/countCode/}]]'

        $(document).ready(function () {
            if (realtor.branch != null) branchSelect2(realtor.branch.id, realtor.branch.name)
            else branchSelect2()
            if (realtor.id != null && realtor.img) {
                $.ajax({
                    type: "Get",
                    url: '[[@{/realtors/getUrl}]]',
                    data: {
                        url: realtor.img
                    },
                    success: function (url) {
                        $('#previewImage').attr('src', url);
                    },
                });
            } else
                $('#previewImage').attr('src', 'http://myhouse24.avada-media.ua/site/glide?path=%2Fupload%2Fplaceholder.jpg');
            $('.for-select').select2({
                minimumResultsForSearch: -1,
            })
        })

        function deletePhone(button, id) {
            $('#confirmationModal').modal('show');

            $('.confirm-delete').on('click', function () {
                var rowElement = button.closest('.row');
                if (rowElement) {
                    rowElement.remove();
                }
                $.ajax({
                    type: "Get",
                    url: '[[@{/realtors/delete/contact/}]]' + id,
                    success: function (response) {
                        showToast(response, "success")
                    },
                });
                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
            $('#confirmationModal .close, #confirmationModal [data-dismiss="modal"]').on('click', function () {
                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
        }

        function deleteFeedBackBody(button, idBody) {
            $('#confirmationModal').modal('show');

            $('.confirm-delete').on('click', function () {
                var feedbackElement = document.getElementById('feedback-' + idBody);
                if (feedbackElement) {
                    feedbackElement.remove();
                }
                $.ajax({
                    type: "Get",
                    url: '[[@{/realtors/feedback/delete/}]]' + idBody,
                    success: function (response) {
                        showToast(response, "success")
                    },
                });
                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
            $('#confirmationModal .close, #confirmationModal [data-dismiss="modal"]').on('click', function () {
                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
        }

        function downloadFileToFeedBack() {
            if (validateFile('file', ['.pdf'])) {
                var fileInput = document.getElementById('file');
                var formData = new FormData();
                formData.append("file", fileInput.files[0]);
                formData.append("idRealtor", realtor.id);
                fileInput.value = ''
                $.ajax({
                    url: '[[@{/realtors/download/file}]]',
                    type: "POST",
                    data: formData,
                    headers: { 'X-XSRF-TOKEN': '[[${_csrf.token}]]' },
                    processData: false,
                    contentType: false,
                    success: function (url) {
                        var blockForFile = $("#block-for-file");

                        var row = $("<div class='row' style='margin-top: 5px'></div>");
                        var col1 = $("<div class='col-2'><a href='#' class='text-decoration-none'>Скачать файл</a></div>");
                        col1.on("click", function () {
                            downloadFileFromFeedBack(url);
                        });

                        var col2 = $("<div class='col'><a href='#' class='text-decoration-none for-delete'><button class=\"btn btn-danger\" style='padding: 5px'   width=\"18\"\n" +
                            "                                     height=\"18\"   type=\"button\">\n" +
                            "                                <svg xmlns=\"http://www.w3.org/2000/svg\" className=\"icon icon-tabler icon-tabler-trash\"\n" +
                            "                                     width=\"20\"\n" +
                            "                                     height=\"20\" viewBox=\"0 0 24 24\" stroke-width=\"2\" stroke=\"currentColor\" fill=\"none\"\n" +
                            "                                     stroke-linecap=\"round\" stroke-linejoin=\"round\">\n" +
                            "                                    <path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\"></path>\n" +
                            "                                    <path d=\"M4 7l16 0\"></path>\n" +
                            "                                    <path d=\"M10 11l0 6\"></path>\n" +
                            "                                    <path d=\"M14 11l0 6\"></path>\n" +
                            "                                    <path d=\"M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12\"></path>\n" +
                            "                                    <path d=\"M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3\"></path>\n" +
                            "                                </svg>\n" +
                            "                            </button></a></div>");
                        col2.on("click", function () {
                            deleteFileFromFeedBack(this, url);
                        });

                        row.append(col1);
                        row.append(col2);

                        blockForFile.append(row);
                    },
                    error: function (error) {
                        console.error("Помилка завантаження файлу", error);
                    }
                });
            }
        }

        function deleteFileFromFeedBack(button, link) {
            $('#confirmationModal').modal('show');

            $('.confirm-delete').on('click', function () {
                var rowElement = button.closest('.row');
                if (rowElement) {
                    rowElement.remove();
                }
                $.ajax({
                    url: '[[@{/realtors/delete}]]',
                    type: "GET",
                    data: {
                        url: link,
                        idRealtor: realtor.id
                    },
                    success: function (response) {
                        showToast(response, "success")
                    },
                    error: function (error) {
                        console.error("Помилка видалення файлу", error);
                    }
                });
                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
            $('#confirmationModal .close, #confirmationModal [data-dismiss="modal"]').on('click', function () {
                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
        }

        function downloadFileFromFeedBack(link) {
            $.ajax({
                type: "GET",
                url: "[[@{/realtors/download}]]?url=" + link,
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (data) {
                    var blob = new Blob([data], {type: 'application/octet-stream'});
                    var filename = "file.pdf";

                    if (window.navigator.msSaveOrOpenBlob) {
                        window.navigator.msSaveOrOpenBlob(blob, filename);
                    } else {
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = filename;
                        link.click();
                    }
                },
                error: function () {
                    console.log("Помилка завантаження файлу");
                }
            });
        }

        function save(form) {
            $.ajax({
                type: 'POST',
                url: '[[@{/realtors/add}]]',
                data: new FormData(form[0]),
                headers: { 'X-XSRF-TOKEN': '[[${_csrf.token}]]' },
                contentType: false,
                processData: false,
                success: function (response) {
                    showToast(response, "success");
                },
                error: function (error) {
                    console.error('Помилка відправки файлів на сервер:', error);
                }
            });
        }
    </script>
    <script th:inline="javascript">
        var realtor = [[${realtorDto}]]
        var realtorForPhoneBlock = 0;

        function sendForm() {
            cleanInputs()
            if (!getLastDigitFromPath() && !validateOneFile($('.fileInput').get(0).files[0], ['.jpg', '.jpeg', '.png'])) {
                $('.fileInput').css('border-color', '#ff0000')
                return;
            }
            if (!validateNumber(1, 99999, $("#code"))) return

            if (!validSelect2($("#branchSelect2"))) return
            if (!validString(3, 50, $("#surname"))) return
            if (!validString(3, 50, $("#name"))) return
            if (!validString(3, 50, $("#middleName"))) return
            if (!validString(3, 50, $("#surnameUK"))) return
            if (!validString(3, 50, $("#nameUK"))) return
            if (!validString(3, 50, $("#middleNameUK"))) return
            if (!validString(3, 50, $("#surnameEN"))) return
            if (!validString(3, 50, $("#nameEN"))) return
            if (!validString(3, 50, $("#middleNameEN"))) return


            if (!validateDate($("#dateOfPurchase"))) return
            if (!validateEmail($("#email"))) return
            if (!validString(3, 50, $("#middleName"))) return


            const phoneContainer = document.getElementById("phones");
            const id = document.getElementById("id");
            const password = document.getElementById("password");
            const password2 = document.getElementById("password2");
            const inputsAndSelects = phoneContainer.querySelectorAll('input, select');

            if (id.value === "" && (password.value === "" || password.value.length < 8 || password.value.length > 50)) {
                password.style.borderColor = '#ff0000'
                showToast("Пароль повинен бути вказаний і містити більше 8 і менше 50 символів", 'danger')
                return
            }
            if (id.value !== "" && password.value !== "" && password.value.length < 8 || password.value.length > 50) {
                password.style.borderColor = '#ff0000'
                showToast("Пароль повинен містити більше 8 і менше 50 символів", 'danger')
                return
            }
            if (password.value !== password2.value) {
                password.style.borderColor = '#ff0000'
                password2.style.borderColor = '#ff0000'
                showToast("Паролі не співпалають", 'danger')
                return
            }
            if (inputsAndSelects.length < 1) {
                showToast("Повинен бути вказаний хоть один номер телефону", 'danger')
                return
            }
            var index = 0;
            for (let i = 0; i < inputsAndSelects.length; i += 3) {
                if (!validatePhoneNumber($(inputsAndSelects[i + 1]))) {
                    return
                }
                inputsAndSelects[i].name = "contacts[" + index + "].id"
                inputsAndSelects[i + 1].name = "contacts[" + index + "].phone"
                inputsAndSelects[i + 2].name = "contacts[" + (index++) + "].type"
            }
            var feedbacks = document.getElementsByClassName('for-feedback');
            for (let i = 0; i < feedbacks.length; i += 4) {
                if (!validString(3, 50, $(feedbacks[i + 1]))) {
                    return
                }
                if (!validatePhoneNumber($(feedbacks[i + 2]))) {
                    return
                }
                if (!validString(3, 300, $(feedbacks[i + 3]))) {
                    return
                }
            }
            for (let i = 0; i < feedbacks.length; i += 4) {
                $.ajax({
                    type: "GET",
                    url: urlForAddFeedBack,
                    data: {
                        id: feedbacks[i].value,
                        name: feedbacks[i + 1].value,
                        phone: feedbacks[i + 2].value,
                        description: feedbacks[i + 3].value
                    },
                    success: function (url) {
                    },
                });
            }
            if ($("#code").val() != realtor.code) {
                var ajaxRequest = $.ajax({
                    type: "GET",
                    url: urlForValidCode + $("#code").val()
                });

                ajaxRequest.done(function (count) {
                    if (count > 0) {
                        showToast("Такий код належить іншому ріелтору", "danger")
                        $("#code").css("border", "1px solid #ff0000")
                        return
                    } else {
                        save($('#realtorAdd'));
                    }
                });
            } else save($('#realtorAdd'));
        }

        function addBlockForPhone() {
            const phoneContainer = document.getElementById("phones");
            const newPhoneBlock = document.createElement("div");
            var contactTypes = [[${contactTypes}]]

            newPhoneBlock.className = "row mb-3";

            newPhoneBlock.innerHTML = `
            <div class="col-5">
                <input type="text" class="form-control" hidden/>
                <input type="text" id="pppp` + (++realtorForPhoneBlock) + `" placeholder="+380989898989" class="form-control phone  for-phone" aria-describedby="defaultFormControlHelp" name="phone" />
            </div>
            <div class="col-5">
                <select class="form-control for-select" name="type">
                    ${contactTypes.map(type => `<option value="${type}">${type}</option>`).join('')}
                </select>
            </div>
            <div class="col-1">
                <button class="btn btn-default btn-sm delete-phone">
                    <i class="fa fa-trash"></i>
                </button>
            </div>`;
            phoneContainer.appendChild(newPhoneBlock);

            const deleteButtons = newPhoneBlock.querySelectorAll(".delete-phone")
            deleteButtons.forEach((button) => {
                button.addEventListener("click", function () {
                    phoneContainer.removeChild(newPhoneBlock)
                });
            });
            $(".for-phone").each(function (index, element) {
                new Cleave("#" + element.id, {
                    blocks: [13],
                    numericOnly: true,
                    prefix: "+380"
                })
            });
            $('.for-select').select2({
                minimumResultsForSearch: -1,
            })
        };
    </script>
</section>

</body>
</html>