<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}"
>
<head>
    <title>Content page</title>

</head>

<body>

<section layout:fragment="content">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="d-flex justify-content-between">
            <h4 class="fw-bold">Филиалы</h4>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Филиалы</li>
                </ol>
            </nav>
        </div>
        <hr style="margin-top: -5px">
        <div style="width: 100%; display: flex; justify-content: flex-end">
            <a th:href="@{/branches/create}" class="btn btn-success mb-1">Добавить филиал</a>
        </div>

        <div class="card border">
            <div class="card-header border">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-default" id="clean-filter">Очистить</button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped linkedRow" id="branchTable">
                        <thead>
                        <tr>
                            <th>Код</th>
                            <th>Название</th>
                            <th>Адрес</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control ">
                            </td>
                            <td>
                                <input type="text" class="form-control for-filter" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control for-filter" value="">
                            </td>
                            <td>

                            </td>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-sm m-0 mt-1" style="display: flex; justify-content: flex-end"
                    id="pagination_container">

                </ul>
            </div>
        </div>

    </div>
    <script th:src="@{/js/pagination.js}"></script>
    <script>
        $(document).ready(function () {
            getPage(1)
        })

        function getPage(page) {
            $.ajax({
                type: "Get",
                url: '[[@{/branches/getAll/}]]' + page,
                success: function (branches) {
                    console.log(branches)
                    var table = document.getElementById("branchTable");
                    var tbody = table.querySelector("tbody");
                    $('#branchTable tbody').empty();
                    for (var branche of branches.content) {
                        var newRow = tbody.insertRow();
                        var cell1 = newRow.insertCell(0);
                        cell1.innerHTML = branche.code;

                        var cell2 = newRow.insertCell(1);
                        cell2.innerHTML = branche.name;

                        var cell3 = newRow.insertCell(2);
                        cell3.innerHTML = branche.address;

                        var cell4 = newRow.insertCell(3);
                        cell4.innerHTML = `
                        <button class='btn btn-default btn-sm float-right for-delete' data-parameter="` + branche.id + `"><i class='fa fa-trash'></i></button>
                        <a class='btn btn-default btn-sm float-right' href='[[@{/branches/edit/}]]` + branche.id + `' title='Редактировать'><i class='fa fa-pencil-alt'></i></a>`;
                    }
                    $('#pagination_container').empty();
                    if (branches.totalPages > 1) updatePagination(page, branches.totalPages, 'pagination_container', false)
                },
            });
        }

        $('.for-filter').on('input', function () {
            clearTimeout($(this).data('timeout'));
            var $input = $(this);
            var timeout = setTimeout(function () {
                getPageWithFilter(1);
            }, 1000);
            $input.data('timeout', timeout);
        });

        function getPageWithFilter(page) {
            var filterElements = $('.for-filter');
            $.ajax({
                type: "Get",
                url: '[[@{/branches/filter}]]',
                data: {
                    page: page,
                    name: filterElements[0].value,
                    address: filterElements[1].value
                },
                success: function (branches) {
                    var table = document.getElementById("branchTable");
                    var tbody = table.querySelector("tbody");
                    $('#branchTable tbody').empty();

                    for (var branche of branches.content) {
                        var newRow = tbody.insertRow();
                        var cell1 = newRow.insertCell(0);
                        cell1.innerHTML = branche.code;

                        var cell2 = newRow.insertCell(1);
                        cell2.innerHTML = branche.name;

                        var cell3 = newRow.insertCell(2);
                        cell3.innerHTML = branche.address;

                        var cell4 = newRow.insertCell(3);
                        cell4.innerHTML = `
                        <a class='btn btn-default btn-sm float-right modal1' data-redirect='[[@{/branches/delete/}]]` + branche.id + `' title='Удалить' data-toggle='modal' data-target='#myModal'><i class='fa fa-trash'></i></a>
                        <a class='btn btn-default btn-sm float-right' href='[[@{/branches/edit/}]]` + branche.id + `' title='Редактировать'><i class='fa fa-pencil-alt'></i></a>`;
                    }
                    $('#pagination_container').empty();
                    if (branches.totalPages > 1) updatePagination(page, branches.totalPages, 'pagination_container', true)
                },
            });
        }

        $('#clean-filter').click(function () {
            var filterElements = $('.for-filter');
            filterElements[0].value = "";
            filterElements[1].value = "";
            getPage(1)
        });

        document.addEventListener('click', function(event) {
            console.log("Єйцук")
            console.log(event)
            if (event.target && event.target.classList.contains('for-delete')) {
                var parameterValue = event.target.getAttribute('data-parameter');
                var buttonToDelete = event.target;
                var rowToDelete = buttonToDelete.closest('tr');
                $.ajax({
                    type: "Get",
                    url: '[[@{/branches/delete/}]]'+parameterValue,
                    success: function () {
                        $(rowToDelete).remove();
                    },
                });
                getPage(1)
            }
        });
    </script>
</section>

</body>
</html>