<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}"
        xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title data-translate="менеджер_користувачів"></title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var titleElement = document.getElementById("title_page");
            var h4Element = document.createElement("h4");
            h4Element.classList.add("fw-bold");
            if (getLastDigitFromPath()) {
                h4Element.setAttribute("data-translate", "edit_object");
            } else {
                h4Element.setAttribute("data-translate", "new_object");
            }
            titleElement.appendChild(h4Element);
        });
    </script>
</head>

<body>

<section layout:fragment="content">
    <div class="content-wrapper">
        <div class="container-fluid">
            <br>
            <div class="d-flex justify-content-between">
                <h4 id="title_page"></h4>
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/}" data-translate="main">Главная</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/users}" data-translate="users">Пользователи</a></li>
                        <li class="breadcrumb-item active" aria-current="page" data-translate="newUser">Новый
                            пользователь
                        </li>
                    </ol>
                </nav>
            </div>
            <hr style="margin-top: -5px">

            <ul class="nav nav-pills mb-3" role="tablist" id="navigationBlock">
                <li class="nav-item">
                    <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                            data-bs-target="#navs-pills-top-info" aria-controls="navs-pills-top-home"
                            aria-selected="true" data-translate="INFORMATION">
                        Информация
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                            data-bs-target="#navs-pills-top-reviews" aria-controls="navs-pills-top-profile"
                            aria-selected="false" data-translate="reviews">Отзывы
                    </button>
                </li>
            </ul>
            <div class="card">
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="navs-pills-top-info">
                            <div class="row gy-3">
                                <div class="col-lg-6">
                                    <img id="previewImage" class="pull-left img-responsive mb-2"
                                         th:src="@{/img/default.png}"
                                         style="width: 50%; height: 200px">
                                    <input type="file" class="form-control fileInput" accept=".jpg, .jpeg, .png"
                                           onchange="validateAndUpload('previewImage', ['.jpg', '.jpeg', '.png'])"
                                           th:id="img">
                                </div>
                            </div>
                            <div class="row gy-3">
                                <div class="col-lg-6">
                                    <label class="form-label" data-translate="branches">Филиалы</label>
                                    <select id="branchSelect2Multiple" name="branches" multiple>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-label" data-translate="role">Роль</label>
                                    <select id="roleSelect2" name="roles" class="form-select"></select>
                                </div>
                            </div>
                            <div class="row gy-3">
                                <div class="col-lg-6">
                                    <label class="form-label" data-translate="lastName">Фамилия</label>
                                    <input id="surname" type="text" class="form-control"
                                           placeholder="Пушкин" aria-describedby="defaultFormControlHelp"/>
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-label" data-translate="firstName">Имя</label>
                                    <input type="text" class="form-control" id="name"
                                           placeholder="Александр" aria-describedby="defaultFormControlHelp"/>
                                </div>
                            </div>
                            <div class="row gy-3">
                                <div class="col-lg-6">
                                    <label class="form-label" data-translate="middleName">Отчество</label>
                                    <input type="text" class="form-control" id="middleName"
                                           placeholder="Сергеевич" aria-describedby="defaultFormControlHelp"/>
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-label" data-translate="phone">Телефон</label>
                                    <input type="tel" class="form-control phone" id="phone"/>
                                </div>
                            </div>
                            <div class="row gy-3">
                                <div class="col-lg-6">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control" id="email"
                                           placeholder="test@gmail.com" aria-describedby="defaultFormControlHelp"/>
                                </div>
                            </div>
                            <div class="row gy-3">
                                <h3 data-translate="changePassword">Сменить пароль</h3>
                            </div>
                            <div class="row gy-3">
                                <div class="col-lg-6">
                                    <label class="form-label" data-translate="newPassword">Новый пароль</label>
                                    <input type="password" class="form-control" id="password"
                                           aria-describedby="defaultFormControlHelp"/>
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-label" data-translate="repeatPassword">Повтор пароля</label>
                                    <input type="password" class="form-control" id="confirmPassword"
                                           aria-describedby="defaultFormControlHelp"/>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="navs-pills-top-reviews">
                            <div class="row gy-3 mb-3">
                                <h5 data-translate="attachPdfFiles">Прикрепить PDF файлы</h5>
                                <input type="file" class="form-control" accept=".pdf" id="file"
                                       onchange="downloadFileTo()">
                                <div id="block-for-file">
                                </div>
                            </div>
                            <div id="review-block"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-default" data-translate="cancel">Отменить</button>
                        <button onclick="sendForm()" class="btn btn-success" data-translate="save">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var userId
        var filesForDelete = [];

        function deleteReviewBody(button, idReview) {
            $('#confirmationModal').modal('show');

            $('.confirm-delete').on('click', function () {
                var rowElement = button.closest('.row');
                var parentRowElement = rowElement.parentElement;
                if (parentRowElement) {
                    parentRowElement.remove();
                }
                showBlockForAllBody(true)
                $.ajax({
                    type: "Get",
                    url: '[[@{/users/delete/review}]]',
                    data: {
                        id: idReview,
                    },
                    success: function (response) {
                        showToast(response, "success")
                        showBlockForAllBody(false)
                    },
                });

                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
            $('#confirmationModal .close, #confirmationModal [data-dismiss="modal"]').on('click', function () {
                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
        }

        function downloadFileFrom(url) {
            $.ajax({
                type: "GET",
                url: "[[@{/users/download}]]",
                xhrFields: {
                    responseType: 'blob'
                },
                data: {
                    url: url
                },
                success: function (data) {
                    var blob = new Blob([data], {type: 'application/octet-stream'});
                    var filename = "file.pdf";

                    if (window.navigator.msSaveOrOpenBlob) {
                        window.navigator.msSaveOrOpenBlob(blob, filename);
                    } else {
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = filename;
                        link.click();
                    }
                },
                error: function () {
                    console.log("Помилка завантаження файлу");
                }
            });
        }

        function deleteFile(button, url) {
            $('#confirmationModal').modal('show');

            $('.confirm-delete').on('click', function () {
                var rowElement = button.closest('.row');
                if (rowElement) {
                    rowElement.remove();
                }

                filesForDelete.push(decodeURIComponent(url));

                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
            $('#confirmationModal .close, #confirmationModal [data-dismiss="modal"]').on('click', function () {
                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
        }

        function downloadFileTo() {
            if (validateFile('file', ['.pdf'])) {
                var fileInput = document.getElementById('file');
                var formData = new FormData();
                formData.append("file", fileInput.files[0]);
                formData.append("idUser", userId);
                fileInput.value = ''
                $.ajax({
                    url: '[[@{/users/download/file}]]',
                    type: "POST",
                    data: formData,
                    headers: {'X-XSRF-TOKEN': '[[${_csrf.token}]]'},
                    processData: false,
                    contentType: false,
                    success: function (url) {
                        var blockForFile = $("#block-for-file");

                        var row = $("<div class='row'></div>");
                        var col1 = $("<div class='col-2'><a href='#' class='text-decoration-none'>"+removeBeforeFirstDot(url)+"</a></div>");
                        col1.on("click", function () {
                            downloadFileFrom(url);
                        });

                        var col2 = $("<div class='col'><a href='#' class='text-decoration-none for-delete'>х удалить</a></div>");
                        col2.on("click", function () {
                            deleteFile(this, url);
                        });

                        row.append(col1);
                        row.append(col2);

                        blockForFile.append(row);
                    }
                })
            }
        }

        $(document).ready(function () {
            userId = getLastDigitFromPath(window.location.pathname)
            if (getLastDigitFromPath(window.location.pathname) != null) {
                $.ajax({
                    url: '[[@{/users/get/id/}]]' + getLastDigitFromPath(window.location.pathname),
                    success: function (user) {
                        this.user = user
                        $("#name").val(user.name)
                        $("#surname").val(user.surname)
                        $("#middleName").val(user.middleName)
                        $("#phone").val(user.phone)
                        $("#email").val(user.email)
                        roleSelect2(translateByOriginName(user.roles), user.roles)
                        if (user.img)
                            $.ajax({
                                type: "GET",
                                url: '[[@{/users/get/url}]]',
                                data: {
                                    url: user.img
                                },
                                success: function (url) {
                                    $('#previewImage').attr('src', url);
                                },
                            });
                        else $('#previewImage').attr('src', '[[@{/img/default.png}]]');
                        $('#branchSelect2Multiple').select2({
                            placeholder: translateValue('виберіть_обєкт'),
                            language: languageForSelect2,
                            ajax: {
                                url: '[[@{/branches/for/select}]]',
                                dataType: 'json',
                                delay: 1500,
                                data: function (params) {
                                    var number = params.page > 0 ? params.page - 1 : 0;
                                    return {
                                        query: params.term || '',
                                        page: number,
                                        size: 10
                                    };
                                },
                                processResults: function (data, params) {
                                    var results = data.content.map(function (item) {
                                        return {id: item.id, text: item.name};
                                    });
                                    var hasMore = data.totalPages > data.number;
                                    return {
                                        results: results,
                                        pagination: {
                                            more: hasMore
                                        }
                                    };
                                },
                            }
                        })
                        for (var branch of user.branches) {
                            $('#branchSelect2Multiple').append(new Option(branch.name, branch.id, true, true));
                        }
                        var fileBlock = document.getElementById("block-for-file")
                        if (user.files != null)
                            for (var file of user.files) {
                                var newFileBlock = document.createElement("div");
                                newFileBlock.innerHTML = `
                        <div class="row">
                            <div class="col-2"><a href="#" class="text-decoration-none" onclick="downloadFileFrom('` + file + `')">`+removeBeforeFirstDot(file)+`</a></div>
                            <div class="col"><a href="#" class="text-decoration-none" onclick="deleteFile(this,'` + file + `')">х удалить</a></div>
                        </div>`
                                fileBlock.appendChild(newFileBlock)
                            }
                        var reviewBlock = document.getElementById("review-block")
                        if (user.reviews)
                            for (var review of user.reviews) {
                                var newReviewBlock = document.createElement("div");
                                newReviewBlock.innerHTML = `
                            <div class="row">
                                <div class="col-5">
                                    <label>Имя</label>
                                    <input type="text" class="form-control for-review" value="` + review.id + `" hidden>
                                    <input type="text" class="form-control for-review" value="` + review.name + `">
                                </div>
                                <div class="col-5">
                                    <label>Контакт</label>
                                    <input type="text" class="form-control for-review" value="` + review.phone + `">
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-default btn-sm" style="margin-top: 22.042px;" onclick="deleteReviewBody(this,'` + review.id + `')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10">
                                    <label>Отзыв</label>
                                    <textarea class="form-control for-review" cols="30" rows="10">` + review.content + `</textarea>
                                </div>
                            </div>`
                                reviewBlock.appendChild(newReviewBlock)
                            }
                    },
                    error: function (xhr, status, error) {
                        var errors = JSON.parse(xhr.responseText);
                        errors.forEach(function (error) {
                            console.log("Ошибка: " + error);
                            showToast(error, "danger");
                        });
                    }
                })
            } else {
                $("#navigationBlock").css("display", "none")
                roleSelect2()
                $('#branchSelect2Multiple').select2({
                    language: languageForSelect2,
                    ajax: {
                        url: '[[@{/branches/for/select}]]',
                        dataType: 'json',
                        delay: 1500,
                        data: function (params) {
                            var number = params.page > 0 ? params.page - 1 : 0;
                            return {
                                query: params.term || '',
                                page: number,
                                size: 10
                            };
                        },
                        processResults: function (data, params) {
                            var results = data.content.map(function (item) {
                                return {id: item.id, text: item.name};
                            });
                            var hasMore = data.totalPages > data.number;
                            return {
                                results: results,
                                pagination: {
                                    more: hasMore
                                }
                            };
                        },
                    }
                })
            }
        })

        function sendForm() {
            cleanInputs()
            var img = $("#img").prop("files")[0];
            var branches = $("#branchSelect2Multiple").val();
            var role = $("#roleSelect2").val();
            var name = $("#name").val();
            var surname = $("#surname").val();
            var middleName = $("#middleName").val();
            var phone = $("#phone").val();
            var email = $("#email").val();
            var password = $("#password").val();
            var confirmPassword = $("#confirmPassword").val();
            var isValidated = true
            $("#branchSelect2Multiple").next().find(".select2-selection").css("border", "");
            if (branches.length === 0) {
                if (languageSecondExample == 'eng')
                    addText($("#branchSelect2Multiple").next().find(".select2-selection"), "The element must be selected");
                else if (languageSecondExample == 'ru')
                    addText($("#branchSelect2Multiple").next().find(".select2-selection"), "Элемент должен быть выбран");
                else
                    addText($("#branchSelect2Multiple").next().find(".select2-selection"), "Елемент має бути вибраний");

                $("#branchSelect2Multiple").next().find(".select2-selection").css("border", "1px solid #ff0000");
                isValidated = false;
            }
            if (role == null) {
                if (languageSecondExample == 'eng')
                    addText($("#roleSelect2").next().find(".select2-selection"), "The element must be selected");
                else if (languageSecondExample == 'ru')
                    addText($("#roleSelect2").next().find(".select2-selection"), "Элемент должен быть выбран");
                else
                    addText($("#roleSelect2").next().find(".select2-selection"), "Елемент має бути вибраний");

                $("#roleSelect2").next().find(".select2-selection").css("border", "1px solid #ff0000");
                isValidated = false;
            }
            $("#name").css("border-color", "");
            if (!validString("1", "50", $("#name"))) {
                isValidated = false
            }
            $("#surname").css("border-color", "");
            if (!validString("1", "50", $("#surname"))) {
                isValidated = false
            }
            $("#middleName").css("border-color", "");
            if (!validString("1", "50", $("#middleName"))) {
                isValidated = false
            }
            $("#phone").css("border-color", "");
            if (!validatePhoneNumber($("#phone"))) {
                isValidated = false
            }
            $("#email").css("border-color", "");
            if (!validateEmail($("#email"))) {
                isValidated = false
            }
            let formData = new FormData();

            if (getLastDigitFromPath(window.location.pathname) == null) {
                $("#img").css("border-color", "");
                if (img === undefined) {
                    if (languageSecondExample == 'eng')
                        addText($("#img"), "The photo must be uploaded");
                    else if (languageSecondExample == 'ru')
                        addText($("#img"), "Фото должно быть загружено");
                    else
                        addText($("#img"), "Фото повинно бути завантажене");
                    $("#img").css("border-color", "#ff0000");
                    isValidated = false
                }
                formData.append("confirmPassword", confirmPassword)
                formData.append("img", img)
            } else {
                formData.append("id", getLastDigitFromPath(window.location.pathname))
                if (img != null)
                    formData.append("img", img)
                var reviews = document.getElementsByClassName('for-review');
                for (let i = 0; i < reviews.length; i += 4) {
                    let reviewForm = new FormData();

                    reviews[i + 1].style.borderColor = '';
                    if (!validString(1, 50, reviews[i + 1])) {
                        isValidated = false;
                    }
                    reviews[i + 2].style.borderColor = '';
                    if (!validatePhoneNumber(reviews[i + 2])) {
                        isValidated = false;
                    }
                    reviews[i + 3].style.borderColor = '';
                    if (!validString(1, 1000, reviews[i + 3])) {
                        isValidated = false;
                    }

                    countError = 0
                    if(!isValidated)return
                    reviewForm.append("id", reviews[i].value)
                    reviewForm.append("name", reviews[i + 1].value)
                    reviewForm.append("phone", reviews[i + 2].value)
                    reviewForm.append("content", reviews[i + 3].value)
                    reviewForm.append("user", userId)
                    showBlockForAllBody(true)
                    $.ajax({
                        url: '[[@{/users/save/review}]]',
                        method: "POST",
                        cache: false,
                        processData: false,
                        contentType: false,
                        data: reviewForm,
                        headers: {'X-XSRF-TOKEN': '[[${_csrf.token}]]'},
                        success: function (response) {
                            showToast(response, "success")
                            showBlockForAllBody(false)
                        },
                        error: function (xhr, status, error) {
                            var errors = JSON.parse(xhr.responseText);
                            errors.forEach(function (error) {
                                console.log("Ошибка: " + error);
                                showToast(error, "danger");
                            });
                            showBlockForAllBody(false)
                        }
                    })
                }
            }
            countError = 0

            if (getLastDigitFromPath()==null && ($("#password").val() === "" || $("#password").val().length < 8 || $("#password").val().length > 50)) {
                $("#password").css('borderColor', '#ff0000')
                $("#confirmPassword").css('borderColor', '#ff0000')
                if (languageSecondExample == 'eng')
                    addText($("#password"), "The password must be between 8 and 50 characters long")
                else if (languageSecondExample == 'ru')
                    addText($("#password"), "Пароль должен быть от 8 до 50 символов")
                else
                    addText($("#password"), "Пароль повинен бути від 8 до 50 символів")
                isValidated = false
            }
            if (getLastDigitFromPath() != null && $("#password").val() !== "" && $("#password").val().length < 8 || $("#password").val().length > 50) {
                $("#password").css('borderColor', '#ff0000')
                $("#confirmPassword").css('borderColor', '#ff0000')
                if (languageSecondExample == 'eng')
                    addText($("#password"), "The password must be between 8 and 50 characters long")
                else if (languageSecondExample == 'ru')
                    addText($("#password"), "Пароль должен быть от 8 до 50 символов")
                else
                    addText($("#password"), "Пароль повинен бути від 8 до 50 символів")
                isValidated = false
            }
            if ($("#password").val() !== $("#confirmPassword").val() && isValidated) {
                $("#password").css('borderColor', '#ff0000')
                $("#confirmPassword").css('borderColor', '#ff0000')
                if (languageSecondExample == 'eng')
                    addText($("#password"), "Passwords do not match");
                else if (languageSecondExample == 'ru')
                    addText($("#password"), "Пароли не совпадают");
                else
                    addText($("#password"), "Паролі не співпадають");
                isValidated = false
            }
            if(isValidated  &&  !validAllNumberInput())isValidated = false
            if(!isValidated)return
            formData.append("name", name)
            formData.append("email", email)
            formData.append("branches", branches)
            formData.append("roles", role)
            formData.append("surname", surname)
            formData.append("middleName", middleName)
            formData.append("phone", phone)
            if(password != null) formData.append('password', password)

            showBlockForAllBody(true)
            $.ajax({
                url: '[[@{/users/add}]]',
                method: "POST",
                cache: false,
                processData: false,
                contentType: false,
                data: formData,
                headers: {'X-XSRF-TOKEN': '[[${_csrf.token}]]'},
                success: function (response) {
                    showToast(response, "success")
                    showBlockForAllBody(false)
                },
                error: function (xhr, status, error) {
                    var errors = JSON.parse(xhr.responseText);
                    errors.forEach(function (error) {
                        console.log("Ошибка: " + error);
                        showToast(error, "danger");
                    });
                    showBlockForAllBody(false)
                }
            })
            if(filesForDelete.length !== 0)deleteAllFiles()
        }
        function deleteAllFiles() {
            $.ajax({
                type: 'DELETE',
                url: '[[@{/users/delete/files}]]',
                data: {
                    urls: filesForDelete.join(','),
                    id: getLastDigitFromPath()
                },
                headers: {'X-XSRF-TOKEN': '[[${_csrf.token}]]'},
                success: function (response) {
                },
            });
        }
    </script>
</section>

</body>
</html>