<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}"
>
<head>
  <title>Content page</title>
</head>

<body>

<section layout:fragment="content">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="d-flex justify-content-between">
      <h4 class="fw-bold">Новый пользователь</h4>
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex align-items-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Главная</a></li>
          <li class="breadcrumb-item"><a href="#">Пользователи</a></li>
          <li class="breadcrumb-item active" aria-current="page">Новый пользователь</li>
        </ol>
      </nav>
    </div>
    <hr style="margin-top: -5px">

    <ul class="nav nav-pills mb-3" role="tablist">
      <li class="nav-item">
        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-info" aria-controls="navs-pills-top-home" aria-selected="true">Информация</button>
      </li>
      <li class="nav-item">
        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-reviews" aria-controls="navs-pills-top-profile" aria-selected="false">Отзывы</button>
      </li>
    </ul>
    <div class="card">
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="navs-pills-top-info">
            <div class="row">
              <p>image</p>
              <input type="file" name="" id="">
            </div>
            <div class="row">
              <div class="col-6">
                <label for="select2Multiple" class="form-label">Филиалы</label>
                <select id="select2Multiple" class="select2 form-select" multiple>
                  <option value="AK">Филиал 1</option>
                  <option value="HI">Филиал 2</option>
                </select>
              </div>
              <div class="col-6">
                <label for="largeSelect" class="form-label">Роль</label>
                <select id="largeSelect" class="form-select form-select-lg">
                  <option value="">Select</option>
                  <option value="1">Директор</option>
                  <option value="2">Администратор филиала</option>
                  <option value="3">Администратор по новостроям</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="defaultFormControlInput" class="form-label">Фамилия</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="Пушкин" aria-describedby="defaultFormControlHelp" />
              </div>
              <div class="col-6">
                <label for="defaultFormControlInput" class="form-label">Имя</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="Александр" aria-describedby="defaultFormControlHelp" />
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="defaultFormControlInput" class="form-label">Отчество</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="Сергеевич" aria-describedby="defaultFormControlHelp" />
              </div>
              <div class="col-6">
                <label for="defaultFormControlInput" class="form-label">Телефон</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="+380123456789" aria-describedby="defaultFormControlHelp" />
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="defaultFormControlInput" class="form-label">Email</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="test@gmail.com" aria-describedby="defaultFormControlHelp" />
              </div>
            </div>
            <div class="row">
              <h3>Сменить пароль</h3>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="defaultFormControlInput" class="form-label">Новый пароль</label>
                <input type="password" class="form-control" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp" />
              </div>
              <div class="col-6">
                <label for="defaultFormControlInput" class="form-label">Повтор пароля</label>
                <input type="password" class="form-control" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp" />
              </div>
            </div>
            <div class="row">
              <h3>Отзывы о сотруднике</h3>
              <textarea id="summernote" name="editordata"></textarea>
            </div>
          </div>
          <div class="tab-pane fade" id="navs-pills-top-reviews">
            <div class="row">
              <h5>Прикрепить PDF файлы</h5>
              <input type="file" name="" id="">
              <ul>
                <div class="row">
                  <div class="col-1">1.pdf</div>
                  <div class="col-2"><a href="#">Скачать файл</a></div>
                  <div class="col-1"><a href="#">х Удалить</a></div>
                </div>
                <div class="row">
                  <div class="col-1">1.pdf</div>
                  <div class="col-2"><a href="#">Скачать файл</a></div>
                  <div class="col-1"><a href="#">х Удалить</a></div>
                </div>
                <div class="row">
                  <div class="col-1">1.pdf</div>
                  <div class="col-2"><a href="#">Скачать файл</a></div>
                  <div class="col-1"><a href="#">х Удалить</a></div>
                </div>
              </ul>
            </div>
            <div class="row">
              <div class="row">
                <div class="col-5">
                  <label>Имя</label>
                  <input type="text" class="form-control" name="" id="">
                </div>
                <div class="col-5">
                  <label>Контакт</label>
                  <input type="text" class="form-control" name="" id="">
                </div>
                <div class="col-1">
                  [icon]
                </div>
              </div>
              <div class="row">
                <div class="col-10">
                  <label>Отзыв</label>
                  <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row">
                <div class="col-5">
                  <label>Имя</label>
                  <input type="text" class="form-control" name="" id="">
                </div>
                <div class="col-5">
                  <label>Контакт</label>
                  <input type="text" class="form-control" name="" id="">
                </div>
                <div class="col-1">
                  [icon]
                </div>
              </div>
              <div class="row">
                <div class="col-10">
                  <label>Отзыв</label>
                  <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-end">
          <button class="btn btn-default">Отменить</button>
          <button class="btn btn-success">Сохранить</button>
        </div>
      </div>
    </div>

  </div>
</section>

</body>
</html>