<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}"
        xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title data-translate="менеджер_сторінок"></title>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <style>
        .white-text {
            color: white !important;
        }
    </style>
    <style>
        .notification {
            position: fixed;
            top: 90px;
            right: 40px;
            padding: 10px;
            border: 1px solid #ccc;
            text-align: center;
            transition: opacity 0.5s ease-in-out;
        }

        .notification.hidden {
            opacity: 0;
            pointer-events: none;
        }
    </style>
</head>

<body>

<section layout:fragment="content">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="d-flex justify-content-between">
                <h4 class="fw-bold" data-translate="PAGE.TITLE">Название страницы</h4>
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/}" data-translate="main">Главная</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/pages}" data-translate="pages">Страницы</a></li>
                        <li class="breadcrumb-item active" aria-current="page" data-translate="PAGE.TITLE">Название
                            страницы
                        </li>
                    </ol>
                </nav>
            </div>
            <hr style="margin-top: -5px">

            <div class="card">
                <div class="card-header">
                    <h2 data-translate="INFORMATION">Информация</h2>
                    <hr>
                </div>
                <div class="card-body">
                    <div>
                        <div>
                            <label data-translate="title">Название</label><span>(Ру)</span>
                            <input type="text" class="form-control" name="" id="namePage" th:value="${page.getName()}">
                        </div>
                    </div>

                    <div>
                        <label data-translate="CONTENT">Контент</label>
                        <div>
                            <div id="editor" th:utext="${page.getContent()}">
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 100px">
                        <div>
                            <label data-translate="title">Название</label><span>(Eng)</span>
                            <input type="text" class="form-control" name="" id="namePageEng"
                                   th:value="${page.getNameEng()}">
                        </div>
                    </div>

                    <div>
                        <label data-translate="CONTENT">Контент</label>
                        <div>
                            <div id="editor2" th:utext="${page.getContentEng()}">
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 100px">
                        <div>
                            <label data-translate="title">Название</label><span>(Укр)</span>
                            <input type="text" class="form-control" name="" id="namePageUkr"
                                   th:value="${page.getNameUkr()}">
                        </div>
                    </div>

                    <div>
                        <label data-translate="CONTENT">Контент</label>
                        <div>
                            <div id="editor3" th:utext="${page.getContentUkr()}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-default" data-translate="cancel">Отменить</button>
                        <button class="btn btn-success" onclick="save()" data-translate="save">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow'
        });
        var quill = new Quill('#editor2', {
            theme: 'snow'
        });
        var quill = new Quill('#editor3', {
            theme: 'snow'
        });
    </script>
    <script th:src="@{/vendor/libs/block-ui/block-ui.js}"></script>
    <script th:inline="javascript">
        function validAllInput() {
            let isValidated = true
            cleanInputs();
            if (!validString("1", "45", $("#namePageUkr"))) isValidated = false
            if (!validString("1", "45", $("#namePageUkr"))) isValidated = false
            if (!validString("1", "45", $("#namePageUkr"))) isValidated = false
            if (!validQuill("1", "10000", $("#editor").find(".ql-editor"))) isValidated = false
            if (!validQuill("1", "10000", $("#editor2").find(".ql-editor"))) isValidated = false
            if (!validQuill("1", "10000", $("#editor3").find(".ql-editor"))) isValidated = false

            return isValidated;
        }

        function save() {
            $("#full_body").block({
                message: '<div style="display: flex; align-items: center; justify-content: center; height: 100vh;"><div class="pinner-border spinner-border text-primary" role="status" style="height: 10vw; width: 10vw; max-height: 400px; max-width: 400px;"></div></div>',
                css: {
                    backgroundColor: "transparent",
                    border: "0"
                },
                overlayCSS: {
                    backgroundColor: "#000",
                    opacity: 0.5
                }
            })
            console.log($("#editor2").find(".ql-editor").html())
            let name = $("#namePage")
            let formData = new FormData();
            formData.append("name", name.val());
            formData.append("nameUkr", $("#namePageUkr").val());
            formData.append("nameEng", $("#namePageEng").val());
            formData.append("content", $("#editor").find(".ql-editor").html());
            formData.append("contentEng", $("#editor2").find(".ql-editor").html());
            formData.append("contentUkr", $("#editor3").find(".ql-editor").html());
            let contextPath =/*[[@{/}]]*/'';
            let idThymeleaf =/*[[${id}]]*/'';
            let url = contextPath.toString() + "pages/edit/" + idThymeleaf;
            if (!validAllInput(formData)) {
                $("#full_body").unblock();
                return
            }
            $.ajax({
                url: url,
                method: "POST",
                contentType: false,
                processData: false,
                data: formData,
                headers: {'X-XSRF-TOKEN': [[${_csrf.token}]]},
                success: function () {
                    showToastWithTranslate("save_something","success");
                    $("#full_body").unblock();
                },
                error: function (xhr, status, error) {
                    $("#full_body").unblock();
                    console.log(error);
                }
            })
        }
    </script>
    <div class="alert alert-warning notification  d-flex align-items-center hidden" role="alert"
         id="notification">
        <strong id="text_notification"></strong>
        <div>
            <span id="notification-message"></span>
        </div>
    </div>
</section>

</body>
</html>