<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}"
        xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title data-translate="пропозиції_на_зміни"></title>
</head>

<body>

<section layout:fragment="content">
    <div class="content-wrapper">
        <div class="container-fluid">
            <br>
            <div class="d-flex justify-content-between">
                <h4 class="fw-bold" data-translate="Changes">Изменения</h4>
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/}" data-translate="Home">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page" data-translate="Changes">Изменения</li>
                    </ol>
                </nav>
            </div>
            <hr style="margin-top: -5px">
            <div class="card border">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped linkedRow" id="offersTable">
                            <thead>
                            <tr>
                                <th data-translate="Object">Объект</th>
                                <th data-translate="Text">Текст</th>
                                <th data-translate="Sender">Отправитель</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination pagination-sm m-0 mt-1" style="display: flex; justify-content: flex-end"
                        id="paginationItems">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal animate__animated animate__flipInX" id="modalForOffer" tabindex="-1"
         aria-labelledby="flipInXAnimationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" data-translate="Changes">Изменения</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <span data-translate="Sender">ОТПРАВИТЕЛЬ</span>
                    <input class="form-control" name="sender" disabled>
                    <span data-translate="Text">ТЕКСТ</span>
                    <textarea class="form-control" name="text" rows="8" disabled></textarea>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/pagination.js}"></script>
    <script>
        $(document).ready(function () {
            getPageWithFilter(0)
        })

        function deleteElement(button, id) {
            $('#confirmationModal').modal('show');

            $('.confirm-delete').on('click', function () {
                var table = document.getElementById("offersTable");
                var row = button.parentElement.parentElement;
                table.deleteRow(row.rowIndex);
                showBlockForAllBody(true)
                $.ajax({
                    type: "Get",
                    url: '[[@{/proposals_for_changes/delete/}]]' + id,
                    success: function (response) {
                        getPageWithFilter(page)
                        showToast(response, "success")
                        showBlockForAllBody(false)
                    },
                });

                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
            $('#confirmationModal .close, #confirmationModal [data-dismiss="modal"]').on('click', function () {
                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
        }

        function showModal(id) {
            $.ajax({
                type: "Get",
                url: '[[@{/proposals_for_changes/getById}]]',
                data: {
                    id: id
                },
                success: function (offer) {
                    var modal = new bootstrap.Modal(document.getElementById('modalForOffer'))
                    var modalElement = document.getElementById('modalForOffer')
                    modalElement.querySelector('input[name="sender"]').value = offer.sender
                    modalElement.querySelector('textarea[name="text"]').value = offer.text
                    modal.show()
                }
            })
        }

        function getPageWithFilter(page) {
            this.page = page
            $.ajax({
                type: "Get",
                url: '[[@{/proposals_for_changes/get-all}]]',
                data: {
                    page: page,
                    size: localStorage.getItem('numberForChangesTable') || 10
                },
                success: function (offers) {
                    var table = document.getElementById("offersTable");
                    var tbody = table.querySelector("tbody");
                    $('#offersTable tbody').empty();
                    if (offers.totalElements == 0) {
                        table.insertAdjacentHTML('beforebegin', '<center id="empty-block"><h1 data-translate="empty">' + translateValue("empty") + '</h1></center>');
                        table.style.display = "none";
                    } else {
                        table.style.display = '';
                    }
                    for (var offer of offers.content) {
                        var newRow = tbody.insertRow();
                        var offerId = offer.id;
                        var cell1 = newRow.insertCell(0);
                        cell1.innerHTML = textForTable(offer.id, 10);
                        cell1.setAttribute('onclick', 'showModal(' + offerId + ')');

                        var cell2 = newRow.insertCell(1);
                        cell2.innerHTML = textForTable(offer.text, 40);
                        cell2.setAttribute('onclick', 'showModal(' + offerId + ')');

                        var cell3 = newRow.insertCell(2);
                        cell3.innerHTML = textForTable(offer.sender, 40);
                        cell3.setAttribute('onclick', 'showModal(' + offerId + ')');

                        var cell4 = newRow.insertCell(3);
                        cell4.innerHTML = `
                        <button class='btn btn-default btn-sm float-right' onclick="deleteElement(this, ` + offerId + `);" title='Удалить'><i class='fa fa-trash'></i></button>`
                    }
                    $('#pagination_container').empty();
                    if (offers.totalPages > 1) {
                        updatePagination(page, offers.totalPages, 'paginationItems', localStorage.getItem('numberForChangesTable') || 10, 'numberForChangesTable')
                    } else {
                        var pagination = document.getElementById('paginationItems');
                        pagination.innerHTML = '';
                        var row = document.createElement('div');
                        row.style.marginRight = 'auto'
                        row.style.width = '100%'
                        row.innerHTML += `
<div class="row" style="width: 25%">
    <select class="form-select" id="number-of-element" onchange="setNumberOfElement(this.value)">
        <option value="2" ${localStorage.getItem('numberForChangesTable') == 2 ? 'selected' : ''}>2</option>
        <option value="5" ${localStorage.getItem('numberForChangesTable') == 5 ? 'selected' : ''}>5</option>
        <option value="10" ${localStorage.getItem('numberForChangesTable') == 10 || localStorage.getItem('numberForChangesTable') == null ? 'selected' : ''}>10</option>
        <option value="25" ${localStorage.getItem('numberForChangesTable') == 25 ? 'selected' : ''}>25</option>
    </select>
</div>`;
                        pagination.appendChild(row)
                    }
                    $('#number-of-element').select2({
                        minimumResultsForSearch: -1,
                    })
                },
            });
        }
        function setNumberOfElement(numberOfElement) {
            localStorage.setItem('numberForChangesTable', numberOfElement)
            getPageWithFilter(0)
        }
    </script>
</section>

</body>
</html>