<nav layout:fragment="navbar"
     class="layout-navbar navbar navbar-expand-lg navbar-detached align-items-center bg-navbar-theme "
     id="layout-navbar"
>
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="ti ti-menu-2 ti-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <div class="navbar-nav align-items-center">
            <a class="nav-link style-switcher-toggle hide-arrow" href="javascript:void(0);">
                <i class="ti ti-sm"></i>
            </a>
        </div>

        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- Language -->
            <li class="nav-item dropdown-language dropdown me-2 me-xl-0" id="languageSelector">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="fi fi-us fis rounded-circle me-1 fs-3"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item selected" data-language="eng" onclick="sendLanguage(this)">
                            <i class="fi fi-us fis rounded-circle me-1 fs-3"></i>
                            <span class="align-middle">English</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" data-language="ru" onclick="sendLanguage(this)">
                            <i class="fi fi-ru fis rounded-circle me-1 fs-3"></i>
                            <span class="align-middle">Русский</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" data-language="ukr" onclick="sendLanguage(this)">
                            <i class="fi fi-de fis rounded-circle me-1 fs-3"></i>
                            <span class="align-middle">Український</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                        <img th:src="@{/img/avatars/1.png}" alt class="h-auto rounded-circle"/>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar avatar-online">
                                        <img th:src="@{/img/avatars/1.png}" alt class="h-auto rounded-circle"/>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <span class="fw-semibold d-block">John Doe</span>
                                    <small class="text-muted">Admin</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" th:href="@{/logout}">
                            <i class="ti ti-logout me-2 ti-sm"></i>
                            <span class="align-middle">Log Out</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--/ User -->
        </ul>
    </div>
    <script type="text/javascript">

        function changeLanguage(language) {
            // let selectElements = document.querySelectorAll(".select2");
            //     selectElements.forEach(function (element) {
            //         $(element).select2();
            //     });
            // if (selectElements)
            //     selectElements.forEach(function (element) {
            //         $(element).select2();
            //         var selectedOption = $(element).find(':selected');
            //         selectedOption.attr('data-translate', selectedOption.val());
            //     });
            // var spans = document.getElementsByClassName("select2-selection__rendered");
            // if (spans)
            //     for (var i = 0; i < spans.length; i++) {
            //         spans[i].setAttribute("data-translate", spans[i].val());
            //     }

            fetch('/ProminadaDD' + '/api/translations?language=' + language)
                .then(response => response.json())
                .then(newTranslations => {
                    var translations = newTranslations;

                    for (var lang in translations) {
                        if (translations.hasOwnProperty(lang)) {
                            var langTranslations = translations[lang];
                            for (var key in langTranslations) {
                                if (langTranslations.hasOwnProperty(key)) {
                                    var value = langTranslations[key];
                                    var elements = document.querySelectorAll('[data-translate="' + key + '"]');
                                    elements.forEach(function (element) {
                                        element.innerText = value;
                                    })
                                    var elements = document.querySelectorAll('[data-translate-placeholder="' + key + '"]');
                                    elements.forEach(function (element) {
                                        element.placeholder = value;
                                    })
                                }
                            }
                        }
                    }
                })
                .catch(error => console.error('Error fetching translations:', error));
        }


        function sendLanguage(el) {
            var selectedLanguage = el.getAttribute('data-language');
            document.cookie = "selectedLanguage=" + selectedLanguage + "; path=/";
            changeLanguage(selectedLanguage);
        };


        document.addEventListener('DOMContentLoaded', function () {
            let allCookies = document.cookie;
            let cookiesArray = allCookies.split("; ");
            let cookies = {};
            for (let i = 0; i < cookiesArray.length; i++) {
                let cookie = cookiesArray[i].split("=");
                cookies[cookie[0]] = cookie[1];
            }
            selectedLanguage = cookies["selectedLanguage"];
            console.log(selectedLanguage)
            if (selectedLanguage == undefined) {
                document.cookie = "selectedLanguage=ru; path=/";
                selectedLanguage = "ru";
            }
            changeLanguage(selectedLanguage);
        });
        let path = /*[[@{/}]]*/ '';

        let selectedLanguage;
        document.getElementById('languageSelector').addEventListener('change', function () {
            selectedLanguage = this.value;
            changeLanguage(selectedLanguage);
        });

        function refreshAllTranslate() {
            let allCookies = document.cookie;
            let cookiesArray = allCookies.split("; ");
            let cookies = {};
            for (let i = 0; i < cookiesArray.length; i++) {
                let cookie = cookiesArray[i].split("=");
                cookies[cookie[0]] = cookie[1];
            }
            let selectedLanguage = cookies["selectedLanguage"];
            console.log(selectedLanguage)
            if (selectedLanguage == undefined) {
                document.cookie = "selectedLanguage=ru; path=/";
                selectedLanguage = "ru";
            }
            changeLanguage(selectedLanguage);

        }

    </script>
</nav>