<nav layout:fragment="navbar"
     class="layout-navbar navbar navbar-expand-lg navbar-detached align-items-center bg-navbar-theme "
     id="layout-navbar"
>
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="ti ti-menu-2 ti-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <div class="navbar-nav align-items-center">
            <a class="nav-link style-switcher-toggle hide-arrow" href="javascript:void(0);">
                <i class="ti ti-sm"></i>
            </a>
        </div>

        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- Language -->
            <li class="nav-item dropdown-language dropdown me-2 me-xl-0" id="languageSelector">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                         class="bi bi-translate" viewBox="0 0 16 16" style="margin-right: 20px">
                        <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
                        <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
                    </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item for-language" data-language="eng" onclick="sendLanguageNav(this)">
                            <i class="fi fi-us fis rounded-circle me-1 fs-3"></i>
                            <span class="align-middle">English</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item for-language" data-language="ru" onclick="sendLanguageNav(this)">
                            <i class="fi fi-ru fis rounded-circle me-1 fs-3"></i>
                            <span class="align-middle">Русский</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item for-language" data-language="ukr" onclick="sendLanguageNav(this)">
                            <i class="fi fi-de fis rounded-circle me-1 fs-3"></i>
                            <span class="align-middle">Український</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                        <img th:src="@{/img/avatars/1.png}" alt class="h-auto rounded-circle"/>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar avatar-online">
                                        <img th:src="@{/img/avatars/1.png}" alt class="h-auto rounded-circle"/>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <span class="fw-semibold d-block">John Doe</span>
                                    <small class="text-muted">Admin</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item"  onclick="modalForLogoutModal()">
                            <i class="ti ti-logout me-2 ti-sm"></i>
                            <span class="align-middle">Log Out</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--/ User -->
        </ul>
    </div>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/uk.js"></script>
    <script type="text/javascript">
        var translationsSecondExample
        var languageSecondExample
        var languageForSelect2
        function translateDatePicker(language){
            console.log(language)
            var flatpickrDateTimes = document.querySelectorAll(".flatpickr-datetime");
            flatpickrDateTimes.forEach(function (element) {
                if(language == "ru"){
                    element.flatpickr({
                        dateFormat: "Y/m/d",
                        maxDate: new Date(),
                        locale: "ru"
                    });
                }else if(language == "ukr"){
                    element.flatpickr({
                        dateFormat: "Y/m/d",
                        maxDate: new Date(),
                        locale: "uk"
                    });
                }else {
                    element.flatpickr({
                        dateFormat: "Y/m/d",
                        maxDate: new Date()
                    });
                }
            });
        }
        function translateValue(key) {
            if (!translationsSecondExample)
                $.ajax({
                    url: '/minions-dd/admin/api/translations',
                    method: 'GET',
                    data: {
                        language: languageSecondExample
                    },
                    dataType: 'json',
                    success: function (newTranslations) {
                        translationsSecondExample = newTranslations;
                        key = key.replaceAll(" ", "_")
                        if (translationsSecondExample.hasOwnProperty(languageSecondExample) && translationsSecondExample[languageSecondExample].hasOwnProperty(key)) {
                            return translationsSecondExample[languageSecondExample][key];
                        } else {
                            return key;
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('AJAX request failed: ' + status + ', ' + error);
                    }
                })

            else {
                key = key.replaceAll(" ", "_")
                if (translationsSecondExample.hasOwnProperty(languageSecondExample) && translationsSecondExample[languageSecondExample].hasOwnProperty(key)) {
                    return translationsSecondExample[languageSecondExample][key];
                } else {
                    return key;
                }
            }

        }
        function selectedItemForLanguage(language){
            var items = $('.for-language')
            for (var item of items) {
                if($(item).attr('data-language') == language){
                    $(item).css('background-color', '#7367f0')
                }else $(item).css('background-color', '')
            }
        }
        async function getOriginalValue(translatedName) {
            try {
                const translationsResponse = await fetch('/minions-dd/admin/api/translations');
                const translations = await translationsResponse.json();
                for (const language of ['ukr', 'ru', 'eng']) {
                    const langTranslations = translations[language];
                    for (var key in langTranslations) {
                        if (langTranslations.hasOwnProperty(key)) {
                            var value = langTranslations[key];
                            if (value === translatedName) {
                                return key;
                            }
                        }

                    }
                }
                return translatedName;

            } catch (error) {
                console.error('Error getting original name:', error);
                throw error;
            }
        }
        function refreshSelect2Find() {
            let selectElements = document.querySelectorAll(".select2find");
            if (selectElements) {
                selectElements.forEach(function (element) {
                    $(element).select2({language: languageForSelect2, placeholder: translateValue('виберіть_обєкт')});
                });
            }
            if ($(".select2-selection__choice")) {
                $(".select2-selection__choice").each(function (index, element) {
                    if (element.value !== undefined) {
                        $(element).attr("data-translate", element.value);
                    }
                });
            }
            if ($("span.select2-selection__rendered:not(:has(span))")) {
                $("span.select2-selection__rendered:not(:has(span))").each(function (index, element) {
                    if ($(element).text())
                        if (element.value !== undefined) {
                            $(element).attr('data-translate', element.value);
                        }
                });
            }
        }
        async function changeLanguageNav(language) {
            selectedItemForLanguage(language)
            try {
                // Запрашиваем переводы
                await fetch('/minions-dd/admin' + '/api/translations?language=' + language)
                    .then(response => response.json())
                    .then(newTranslations => {
                        var translations = newTranslations;
                        translationsSecondExample = newTranslations
                        for (var lang in translations) {
                            if (translations.hasOwnProperty(lang)) {
                                var langTranslations = translations[lang];
                                for (var key in langTranslations) {
                                    if (langTranslations.hasOwnProperty(key)) {
                                        var value = langTranslations[key];
                                        var elements = document.querySelectorAll('[data-translate="' + key + '"]');
                                        elements.forEach(function (element) {
                                            element.innerText = value;
                                        })
                                        var elements = document.querySelectorAll('[data-translate-placeholder="' + key + '"]');
                                        elements.forEach(function (element) {
                                            element.placeholder = value;
                                        })
                                        var elements = document.querySelectorAll('[data-translate-value="' + key + '"]');
                                        elements.forEach(function (element) {
                                            element.value = value;
                                        })
                                    }
                                }
                            }
                        }
                        refreshSelect2Find()
                        translateDatePicker(language)
                    })
                    .catch(error => {
                            console.error('Error fetching translations:', error)
                            throw error;
                        }
                    )

            } catch
                (error) {
                console.error('Ошибка при получении переводов:', error);
            }

        }


        function sendLanguageNav(el) {
            translateAllSelect2()
            var selectedLanguage = el.getAttribute('data-language');
            languageSecondExample = selectedLanguage
            document.cookie = "selectedLanguage=" + selectedLanguage + "; path=/";
            changeLanguageNav(selectedLanguage);
        };


        document.addEventListener('DOMContentLoaded', function () {
            let allCookies = document.cookie;
            let cookiesArray = allCookies.split("; ");
            let cookies = {};
            for (let i = 0; i < cookiesArray.length; i++) {
                let cookie = cookiesArray[i].split("=");
                cookies[cookie[0]] = cookie[1];
            }
            if(cookies["selectedLanguage"]=='ru') languageForSelect2='ru'
            else if(cookies["selectedLanguage"]=='ukr') languageForSelect2='uk'
            else languageForSelect2='en'
            selectedLanguage = cookies["selectedLanguage"];
            languageSecondExample = cookies["selectedLanguage"];
            if (selectedLanguage == undefined) {
                document.cookie = "selectedLanguage=ru; path=/";
                selectedLanguage = "ru";
            }
            changeLanguageNav(selectedLanguage);
        });
        let path = /*[[@{/}]]*/ '';

        let selectedLanguage;
        document.getElementById('languageSelector').addEventListener('change', function () {
            selectedLanguage = this.value;
            changeLanguageNav(selectedLanguage);
        });

        function refreshAllTranslate() {
            let allCookies = document.cookie;
            let cookiesArray = allCookies.split("; ");
            let cookies = {};
            for (let i = 0; i < cookiesArray.length; i++) {
                let cookie = cookiesArray[i].split("=");
                cookies[cookie[0]] = cookie[1];
            }
            let selectedLanguage = cookies["selectedLanguage"];
            if (selectedLanguage == undefined) {
                document.cookie = "selectedLanguage=ru; path=/";
                selectedLanguage = "ru";
            }
            changeLanguageNav(selectedLanguage);

        }

    </script>
</nav>