<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}"
>
<head>
    <title>Content page</title>
</head>

<body>

<section layout:fragment="content">
    <select id="branchSelect3" style="margin-right: 12px; margin-left: 12px;"></select>


    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <h5 class="card-header">Basic</h5>
                <div class="card-body">
                    <form action="/upload" class="dropzone needsclick dz-clickable" id="dropzone-basic">
                        <div class="dz-message needsclick">
                            Drop files here or click to upload
                            <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually
                            uploaded.)</span>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="card-body" hidden>
            <form action="/upload" class="dropzone needsclick dz-clickable" id="dropzone-multi">
                <div class="dz-message needsclick">
                    Drop files here or click to upload
                    <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually
                            uploaded.)</span>
                </div>
            </form>
            <script th:src="@{/vendor/libs/dropzone/dropzone.js}"></script>
            <script th:src="@{/js/forms-file-upload.js}"></script>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js"></script>
    <script> $(document).ready(function () {
        branchSelect3() })
        function branchSelect3() {
            $('#branchSelect3').select2({
                allowClear: true,
                ajax: {
                    url: contextPath + '/builder_objects/for/select',
                    dataType: 'json',
                    delay: 1500,
                    data: function (params) {
                        var number = params.page > 0 ? params.page-1 : 0;
                        return {
                            query: params.term || '',
                            page: number,
                            size: 10
                        };
                    },
                    processResults: function(data, params) {
                        var results = data.content.map(function(item) {
                            return { id: item.id, text: item.name };
                        });
                        var hasMore = data.totalPages > data.number;
                        return {
                            results: results,
                            pagination: {
                                more: hasMore
                            }
                        };
                    },
                    cache: true
                }
            });
        }

    </script>
</section>
</body>
</html>