<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}"
        xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Content page</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/vendor/libs/flatpickr/flatpickr.css}"/>
    <script th:src="@{/vendor/libs/flatpickr/flatpickr.js}"></script>

    <!--    <link th:href="@{/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css}" />-->
    <!--    <script th:src="@{/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js}" />-->

</head>

<body>

<section layout:fragment="content">
    <select id="branchSelect3" style="margin-right: 12px; margin-left: 12px;"></select>
    <br>
    <br>
    <h1>title</h1>
    autosize
    <textarea id="autosize-demo" rows="3" class="form-control w-px-300"></textarea>
    <br>
    clave
    <div class="input-group input-group-merge">
        <input type="text" id="creditCardMask" name="creditCardMask" class="form-control credit-card-mask"
               placeholder="1356 3215 6548 7898" aria-describedby="creditCardMask2"/>
        <span class="input-group-text cursor-pointer p-1" id="creditCardMask2"><span class="card-type"></span></span>
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-text">UKR (+380)</span>
        <input class="form-control phone-number-mask" type="text" placeholder="Enter Phone Number"/>
    </div>
    <br>
    <input type="text" id="flatpickr-date" class="form-control flatpickr-datetime"
           placeholder="YYYY/MM/DD"/>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <h5 class="card-header">Basic</h5>
                <div class="card-body">
                    <form action="/upload" class="dropzone needsclick dz-clickable" id="dropzone-basic">
                        <div class="dz-message needsclick">
                            Drop files here or click to upload
                            <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually
                            uploaded.)</span>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <span data-translate="title">цкцк</span>:
        <select id="languageSelector">
            <option value=""></option>
            <option value="eng">eng</option>
            <option value="ru">ru</option>
        </select>

        <div class="card-body" hidden>
            <form action="/upload" class="dropzone needsclick dz-clickable" id="dropzone-multi">
                <div class="dz-message needsclick">
                    Drop files here or click to upload
                    <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually
                            uploaded.)</span>
                </div>
            </form>
            <script th:src="@{/vendor/libs/dropzone/dropzone.js}"></script>
            <script th:src="@{/js/forms-file-upload.js}"></script>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js"></script>
    <script th:src="@{/vendor/libs/cleavejs/cleave.js}"></script>
    <script th:src="@{/vendor/libs/cleavejs/cleave-phone.js}"></script>
    <script th:src="@{/vendor/libs/autosize/autosize.js}"></script>


    <!-- Подключение Moment.js -->
    <!-- Далее подключение daterangepicker.js -->

    <script>

        $(document).ready(function () {
            var flatpickrDate = document.querySelector("#flatpickr-date");

            flatpickrDate.flatpickr({
                dateFormat: "Y/m/d"
            });
            var flatpickrDateTimes = document.querySelectorAll(".flatpickr-datetime");


            let textarea = $("#autosize-demo");
            autosize(textarea);
            new Cleave(".credit-card-mask", {
                creditCard: true
            });
            new Cleave(".phone-number-mask", {
                // phone: true,
                // phoneRegionCode: "US",
                phoneRegionCode: "UA",
                phoneCountryCode: "+380",
                delimiter: ' ',
                numericOnly: true,
                blocks: [3, 2, 3, 2, 2],
            });
            branchSelect3();

        })

        function branchSelect3() {
            $('#branchSelect3').select2({
                allowClear: true,
                ajax: {
                    url: contextPath + '/builder_objects/for/select',
                    dataType: 'json',
                    delay: 1500,
                    data: function (params) {
                        var number = params.page > 0 ? params.page - 1 : 0;
                        return {
                            query: params.term || '',
                            page: number,
                            size: 10
                        };
                    },
                    processResults: function (data, params) {
                        var results = data.content.map(function (item) {
                            return {id: item.id, text: item.name};
                        });
                        var hasMore = data.totalPages > data.number;
                        return {
                            results: results,
                            pagination: {
                                more: hasMore
                            }
                        };
                    },
                    cache: true
                }
            });
        }
    </script>


</section>
</body>
</html>