<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}"
        xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Content page</title>
</head>

<body>

<section layout:fragment="content">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="d-flex justify-content-between">
            <h4 class="fw-bold" data-translate="buyers">Покупатели</h4>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" data-translate="main">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page" data-translate="buyers">Покупатели</li>
                </ol>
            </nav>
        </div>
        <hr style="margin-top: -5px">
        <div style="width: 100%; display: flex; justify-content: flex-end">
            <a th:href="@{/buyers/add}" class="btn btn-success mb-1" data-translate="addBuyer">Добавить покупателя</a>
        </div>

        <div class="card border">
            <div class="card-header border">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-default" id="clean-filter" data-translate="clear">Очистить</button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped linkedRow" id="buyerTable" style="    table-layout: fixed;">
                        <thead>
                        <tr>
                            <th data-translate="contact_date">Дата контакта</th>
                            <th data-translate="branch">Филиал</th>
                            <th data-translate="realtor">Риелтор</th>
                            <th style="min-width: 230px;" data-translate="fullName">ФИО</th>
                            <th data-translate="phone">Телефон</th>
                            <th>Email</th>
                            <th style="min-width: 130px;" data-translate="priceUpTo">Цена до</th>
                            <th style="min-width: 130px;"></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><select class="form-control for-filter" id="branchSelect2"></select></th>
                            <th><select class="form-control for-filter" id="realtorSelect2"></select></th>
                            <th><input class="form-control for-filter"></th>
                            <th><input class="form-control for-filter"></th>
                            <th><input class="form-control for-filter"></th>
                            <th><input class="form-control for-filter"></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <ul class="pagination pagination-sm m-0 mt-1" style="display: flex; justify-content: flex-end"
                    id="pagination_container">
                </ul>
            </div>
        </div>
    </div>
    </div>
    <script>
        $(document).ready(function () {
            branchSelect2()
            realtorSelect2()
            getPageWithFilter(0)
        });
        var buyerId
        function deleteElement(button, userId) {
            $('#confirmationModal').modal('show');

            $('.confirm-delete').on('click', function () {
                var table = document.getElementById("buyerTable");
                var row = button.parentElement.parentElement;
                table.deleteRow(row.rowIndex);

                $.ajax({
                    type: "Get",
                    url: '[[@{/buyers/delete/}]]' + buyerId,
                    success: function (response) {
                        getPageWithFilter(page)
                        showToast(response, "success")
                    },
                });

                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
            $('#confirmationModal .close, #confirmationModal [data-dismiss="modal"]').on('click', function () {
                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
        }
        $('.for-filter').on('input', function () {
            clearTimeout($(this).data('timeout'));
            var $input = $(this);
            var timeout = setTimeout(function () {
                getPageWithFilter(0);
            }, 700);
            $input.data('timeout', timeout);
        });
        function getPageWithFilter(page) {
            this.page = page
            var filterElements = $('.for-filter');
            $.ajax({
                type: "Get",
                url: '[[@{/buyers/get-all}]]',
                data: {
                    page: page,
                    branch: filterElements[0].value,
                    realtor: filterElements[1].value,
                    name: filterElements[2].value,
                    phone: filterElements[3].value,
                    email: filterElements[4].value,
                    price: filterElements[5].value
                },
                success: function (buyers) {
                    var table = document.getElementById("buyerTable");
                    var tbody = table.querySelector("tbody");
                    $('#buyerTable tbody').empty();

                    for (var buyer of buyers.content) {
                        var newRow = tbody.insertRow();
                        buyerId = buyer.id;

                        var cell0 = newRow.insertCell(0);
                        cell0.appendChild(createStatusIcon(buyer.lastContactDate))
                        cell0.setAttribute('onclick', 'window.location.href="[[@{/buyers/}]]' + buyerId + '"');

                        var cell1 = newRow.insertCell(1);
                        cell1.innerHTML = buyer.realtor?buyer.realtor.branch.name:''
                        cell1.setAttribute('onclick', 'window.location.href="[[@{/buyers/}]]' + buyerId + '"');

                        var cell2 = newRow.insertCell(2);
                        cell2.innerHTML = buyer.realtor?buyer.realtor.name:'';
                        cell2.setAttribute('onclick', 'window.location.href="[[@{/buyers/}]]' + buyerId + '"');

                        var cell3 = newRow.insertCell(3);
                        cell3.innerHTML = buyer.middleName + ' ' +buyer.name + ' ' + buyer.surname;
                        cell3.setAttribute('onclick', 'window.location.href="[[@{/buyers/}]]' + buyerId + '"');

                        var cell4 = newRow.insertCell(4);
                        cell4.innerHTML = buyer.phone;
                        cell4.setAttribute('onclick', 'window.location.href="[[@{/buyers/}]]' + buyerId + '"');

                        var cell5 = newRow.insertCell(5);
                        cell5.innerHTML = buyer.email;
                        cell5.setAttribute('onclick', 'window.location.href="[[@{/buyers/}]]' + buyerId + '"');

                        var cell6 = newRow.insertCell(6);
                        cell6.innerHTML = buyer.application?buyer.application.priceMax:'';
                        cell6.setAttribute('onclick', 'window.location.href="[[@{/buyers/}]]' + buyerId + '"');

                        var cell7 = newRow.insertCell(7);
                        cell7.innerHTML = `
                        <button class='btn btn-default btn-sm float-right' onclick="deleteElement(this, ` + buyerId + `);" title='Удалить'><i class='fa fa-trash'></i></button>
                        <a class='btn btn-default btn-sm float-right' href='[[@{/buyers/edit/}]]` + buyerId + `' title='Редактировать'><i class='fa fa-pencil-alt'></i></a>`;
                    }
                    $('#pagination_container').empty();
                    if (buyers.totalPages > 1) updatePagination(page, buyers.totalPages, 'pagination_container')
                },
            });
        }
        $('#clean-filter').click(function () {
            var filterElements = $('.for-filter');
            $('#realtorSelect2').append(new Option(null, '', true, true));
            $('#realtorSelect2').trigger('change');
            $('#branchSelect2').append(new Option(null, '', true, true));
            $('#branchSelect2').trigger('change');
            filterElements[2].value = "";
            filterElements[3].value = "";
            filterElements[4].value = "";
            filterElements[5].value = "";
            getPageWithFilter(0)
        });


    </script>
</section>

</body>
</html>