<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}"
        xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title data-translate="карточка_покупця"></title>
</head>

<body>

<section layout:fragment="content">
    <div>
        <div class="content-wrapper">
            <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <h4 class="fw-bold" data-translate="buyers">Покупатели</h4>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}" data-translate="main">Главная</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/buyers}" data-translate="buyers">Покупатели</a></li>
                    <li class="breadcrumb-item active" aria-current="page" data-translate="buyer">Пкуратель</li>
                </ol>
            </nav>
        </div>
        <hr style="margin-top: -5px">
        <div id="main-content">
        </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '[[@{/buyers/getById/}]]' + getLastDigitFromPath(window.location.pathname),
                success: function (buyer) {
                    var districts = ''
                    if(buyer.application) {
                        for (var i = 0; i < buyer.application.districts.length; i++) {
                            districts += buyer.application.districts[i] + ',  '
                        }
                        var topzones = ''
                        for (var i = 0; i < buyer.application.topzones.length; i++) {
                            topzones += buyer.application.topzones[i] + ',  '
                        }
                    }
                    if(buyer.application)
                    var element = `
                    <tr>
                                <td data-translate="RC">ЖК</td>
                                <td>` + (buyer.application && buyer.application.builderObject?buyer.application.builderObject.name:'') + `</td>
                            </tr>
                            <tr>
                                <td data-translate="propertyType">Вид недвижемости</td>
                                <td>` + buyer.application.origin + `</td>
                            </tr>
                            <tr>
                                <td data-translate="realEstateType">Тип недвижемости</td>
                                <td>` + buyer.application.type + `</td>
                            </tr>
                            <tr>
                                <td data-translate="floor">Етаж</td>
                                <td>` + buyer.application.floorMin + `-` + buyer.application.floorMax + `</td>
                            </tr>
                            <tr>
                                <td data-translate="rooms">Комнат</td>
                                <td>` + buyer.application.roomQuantity + `</td>
                            </tr>
                            <tr>
                                <td data-translate="S_area_sqm">Площадь</td>
                                <td>` + buyer.application.houseAreaMin + `-` + buyer.application.houseAreaMax + `</td>
                            </tr>
                            <tr>
                                <td >Участок</td>
                                <td>` + buyer.application.plotAreaMin + `-` + buyer.application.plotAreaMax + `</td>
                            </tr>
                            <tr>
                                <td data-translate="price">Цена</td>
                                <td>` + buyer.application.priceMin + `-` + buyer.application.priceMax + `</td>
                            </tr>
                    `
                    var content = document.getElementById("main-content")
                    content.innerHTML = `
                <div class="card">
                    <div class="card-header">
                        <h3 data-translate="INFORMATION">Информация
                        <a href="[[@{/buyers/edit/}]]`+buyer.id+`" class="float-end btn btn-primary" data-translate="edit">Редактировать</a>
                        </h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-view">
                            <tr>
                                <td data-translate="fullName">ФИО</td>
                                <td>` + buyer.middleName + ` ` + buyer.name + ` ` + buyer.surname + `</td>
                            </tr>
                            <tr>
                                <td data-translate="phone">Телефон</td>
                                <td>` + buyer.phone+ `</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>` + buyer.email + `</td>
                            </tr>
                            <tr>
                                <td data-translate="branch">Филиал</td>
                                <td>` + (buyer.realtor?buyer.realtor.branch.name:'') + `</td>
                            </tr>
                            <tr>
                                <td data-translate="realtor">Риелтор</td>
                                <td>` + (buyer.realtor?buyer.realtor.name:'') + `</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        `+ (buyer.comment || '') +`
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-header">
                        <h3 data-translate="application">Заявка</h3
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-view">
                            <tr>
                                <td data-translate="district">Райони</td>
                                <td>` + (districts || '') + `</td>
                            </tr>
                            <tr>
                                <td data-translate="topzone">Топзона</td>
                                <td>` + (topzones || '') + `</td>
                            </tr>
                            `+ (element||'') +`
                        </table>
                    </div>
                </div>
                `
                    refreshAllTranslate();
                    },
                error: function (error) {
                    console.log(error);
                }
            })
            refreshAllTranslate();
        })

    </script>
</section>

</body>
</html>