<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}"
        xmlns:layout="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Content page</title>
    <link rel="stylesheet" th:href="@{/vendor/libs/flatpickr/flatpickr.css}"/>
    <script th:src="@{/vendor/libs/flatpickr/flatpickr.js}"></script>
    <script th:src="@{/vendor/libs/autosize/autosize.js}"></script>
    <script th:src="@{/vendor/libs/cleavejs/cleave.js}"></script>
    <script th:src="@{/vendor/libs/cleavejs/cleave-phone.js}"></script>
</head>


<body>

<section layout:fragment="content">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="d-flex justify-content-between">
            <h4 class="fw-bold" data-translate="buyer">Покупатель</h4>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}" data-translate="main">Главная</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/buyer}" data-translate="buyers">Покупатели</a></li>
                    <li class="breadcrumb-item active" aria-current="page" data-translate="buyer">Покупатель</li>
                </ol>
            </nav>
        </div>

        <ul class="nav nav-pills mb-3" role="tablist">
            <li class="nav-item">
                <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" id="navs-pills-top-info"
                        data-bs-target="#top-info" aria-controls="navs-pills-top-home"
                        aria-selected="true" data-translate="INFORMATION">
                    Информация
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" id="navs-pills-top-application"
                        data-bs-target="#top-application" aria-controls="navs-pills-top-application"
                        aria-selected="false" data-translate="request">
                    Заявка
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" id="navs-pills-top-note"
                        data-bs-target="#top-note" aria-controls="navs-pills-top-note"
                        aria-selected="false" data-translate="notes">
                    Заметки
                </button>
            </li>
        </ul>
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" aria-labelledby="navs-pills-top-info" id="top-info">
                        <div class="row">
                            <div class="col" data-translate="lastName">
                                Фамилия
                            </div>
                            <div class="col" data-translate="firstName">
                                Имя
                            </div>
                            <div class="col" data-translate="middleName">
                                Отчество
                            </div>
                            <div class="col" data-translate="phone">
                                Телефон
                            </div>
                            <div class="col">
                                Email
                            </div>
                            <div class="col" data-translate="realtor">
                                Риелтор
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input class="form-control" id="surname">
                            </div>
                            <div class="col">
                                <input class="form-control" id="name">
                            </div>
                            <div class="col">
                                <input class="form-control" id="middleName">
                            </div>
                            <div class="col">
                                <input class="form-control phone" id="phone">
                            </div>
                            <div class="col">
                                <input class="form-control" id="email">
                            </div>
                            <div class="col">
                                <select id="realtorSelect2" name="realtor"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2" data-translate="passport">
                                Паспорт Серия/Номер
                            </div>
                            <div class="col-2" data-translate="dateOfBirth">
                                Дата рождения
                            </div>
                            <div class="col-2" data-translate="information_source">
                                Источник информации
                            </div>
                            <div class="col-2" data-translate="last_contact_date">
                                Дата последнего контакта
                            </div>
                            <div class="col-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <input class="form-control" id="passport" placeholder="XX 1234">
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control flatpickr-datetime" placeholder="YYYY/MM/DD"
                                       id="birthdate"/>
                            </div>
                            <div class="col-2">
                                <select id="informationSourceSelect2" name="informationSource"></select>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control flatpickr-datetime" placeholder="YYYY/MM/DD"
                                       id="lastVisit"/>
                            </div>
                            <div class="col-4">
                                <a class="btn btn-success" data-translate="check_phone_number" style="color: black">Проверить номер телефона</a>
                            </div>
                        </div>
                        <p data-translate="comment">Коментарий</p>

                        <textarea class="form-control bootstrap-maxlength-example" id="comment" rows="5"></textarea>
                        <div class="row mt-2">
                            <div class="col-5">
                                <p  data-translate="attach_files">Прикрепить файли</p>
                                <input type="file" class="form-control" id="files" accept=".pdf" multiple>
                            </div>
                            <div class="col-7">
                            </div>
                        </div>
                        <div id="block-for-file">
                        </div>
                    </div>
                    <div class="tab-pane fade show" aria-labelledby="navs-pills-top-application" id="top-application">
                        <div class="row">
                            <div class="col-4" >
                                <p data-translate="district">Район</p>
                                <select class="form-control" id="district" multiple></select>
                                <br>
                                <p data-translate="topzone">Топзона</p>
                                <select class="form-control" id="topzone" multiple></select>
                            </div>
                            <div class="col-3">
                                <p data-translate="property.numberOfRooms">Количество комнат</p>
                                1 <input type="radio" class="form-check-input roomNumbers" name="roomNumbers" value="1">
                                2 <input type="radio" class="form-check-input roomNumbers" name="roomNumbers" value="2">
                                3 <input type="radio" class="form-check-input roomNumbers" name="roomNumbers" value="3">
                                >3 <input type="radio" class="form-check-input roomNumbers" name="roomNumbers" value="4">
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <div class="col">
                                        <p data-translate="floor">Этаж:</p>
                                        <div style="display: flex">
                                            <input class="form-control" id="floorMin">
                                            <div class="mt-2">&mdash;</div>
                                            <input class="form-control" id="floorMax">
                                        </div>
                                    </div>
                                    <div class="col">
                                       <div  data-translate="price"> Цена ($):</div>
                                        <div style="display: flex">
                                            <input class="form-control" id="priceMin">
                                            <div class="mt-2">&mdash;</div>
                                            <input class="form-control" id="priceMax">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p data-translate="plotArea">Участок(кв. м):</p>                                        <div style="display: flex">
                                            <input class="form-control" id="plotAreaMin">
                                            <div class="mt-2">&mdash;</div>
                                            <input class="form-control" id="plotAreaMax">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p data-translate="S_area_sqm">Площадь(кв. м):</p>
                                        <div style="display: flex">
                                            <input class="form-control" id="houseAreaMin">
                                            <div class="mt-2">&mdash;</div>
                                            <input class="form-control" id="houseAreaMax">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-2">
                                <div  data-translate="RC">ЖК</div>

                                <select class="form-control" id="builderObjects" name="builderObject"></select>
                            </div>
                            <div class="col-2">
                                <div data-translate="status"> Статус</div>

                                <select class="form-control" id="status"></select>
                            </div>
                            <div class="col-3">
                                <div  data-translate="propertyType"> Вид недвижемости</div>
                                <select class="form-control" id="propertyOrigin"></select>
                            </div>
                            <div class="col-3">
                                <div  data-translate="real_estate_type">Тип недвижимости</div>
                                <select class="form-control" id="propertyApplicationType"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <div data-translate="phone">Телефон:</div>
                                <input class="form-control phone" id="phoneExample2">
                            </div>
                            <div class="col-4">
                                <div data-translate="realtor">Риелтор:</div>
                                <select class="form-control" id="realtorSelect2example2"></select>
                            </div>
                        </div>
                        <br/>
                        <h3 data-translate="comment">Коментарий</h3>
                        <textarea class="form-control bootstrap-maxlength-example" id="commentExample"
                                  rows="4"></textarea>
                        <a href="#" onclick="showModal()" data-translate="showChangeHistory">Показать историю изменений</a>
                    </div>
                    <div class="tab-pane fade show" aria-labelledby="navs-pills-top-note" id="top-note">
                        <div id="noteBlock"></div>
                        <div style="width: 100%; display: flex; justify-content: flex-end">
                            <button type="button" onclick="addNoteBlock()" class="btn btn-success mb-1" data-translate="addNote">Добавить
                                заметку
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-end mt-2">
                <a th:href="@{/realtors}" class="btn btn-default"  data-translate="cancel">Отменить</a>
                <button onclick="sendForm()" class="btn btn-success"  data-translate="save">Сохранить</button>
            </div>
        </div>
    </div>
    <div class="modal animate__animated animate__flipInX" id="modalForHistory" tabindex="-1"
         aria-labelledby="flipInXAnimationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" data-translate="changeHistory">История изменений</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" name="history" rows="12"
                              disabled></textarea>
                </div>
            </div>
        </div>
    </div>
    <script>
        var ID
        var APPLICATION_ID
        $(document).ready(function () {

            var buyerId = getLastDigitFromPath(window.location.pathname)
            if (buyerId != null) {

                $.ajax({
                    type: "GET",
                    url: '[[@{/buyers/getById/}]]' + buyerId,
                    success: function (buyer) {
                        ID = buyer.id
                        if(buyer.application)APPLICATION_ID = buyer.application.id
                        $("#surname").val(buyer.surname || '')
                        $("#name").val(buyer.name || '')
                        $("#middleName").val(buyer.middleName || '')
                        $("#phone").val(buyer.phone || '')
                        $("#email").val(buyer.email || '')
                        $("#passport").val(buyer.passport)
                        $("#birthdate").val(buyer.birthdate?buyer.birthdate.replace(/-/g, '/'):'')
                        $("#lastVisit").val(buyer.lastContactDate?buyer.lastContactDate.replace(/-/g, '/'):'')
                        $("#comment").val(buyer.comment||'')
                        for (var note of buyer.notes) {
                            addNoteBlock(note.id, note.comment)
                        }
                        for (let file of buyer.files) {
                            var blockForFile = $("#block-for-file");

                            var row = $("<div class='row' style='margin-top: 5px'></div>");
                            var col1 = $("<div class='col-2'><a href='#' class='text-decoration-none'>Скачать файл</a></div>");
                            col1.find('a').on("click", function () {
                                downloadFileFrom(file);
                            });

                            var col2 = $("<div class='col' ><a href='#' class='text-decoration-none for-delete'> <button class=\"btn btn-danger\" style='padding: 5px'   width=\"18\"\n" +
                                "                                     height=\"18\"   type=\"button\">\n" +
                                "                                <svg xmlns=\"http://www.w3.org/2000/svg\" className=\"icon icon-tabler icon-tabler-trash\"\n" +
                                "                                     width=\"20\"\n" +
                                "                                     height=\"20\" viewBox=\"0 0 24 24\" stroke-width=\"2\" stroke=\"currentColor\" fill=\"none\"\n" +
                                "                                     stroke-linecap=\"round\" stroke-linejoin=\"round\">\n" +
                                "                                    <path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\"></path>\n" +
                                "                                    <path d=\"M4 7l16 0\"></path>\n" +
                                "                                    <path d=\"M10 11l0 6\"></path>\n" +
                                "                                    <path d=\"M14 11l0 6\"></path>\n" +
                                "                                    <path d=\"M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12\"></path>\n" +
                                "                                    <path d=\"M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3\"></path>\n" +
                                "                                </svg>\n" +
                                "                            </button></a></div>");
                            col2.find('a').on("click", function () {
                                deleteFile(this, file);
                            });


                            row.append(col1);
                            row.append(col2);

                            blockForFile.append(row);
                        }

                        if(APPLICATION_ID) {
                            $(".roomNumbers[value='" + buyer.application.roomQuantity + "']").prop("checked", true);

                            $("#floorMin").val(buyer.application.floorMin)
                            $("#floorMax").val(buyer.application.floorMax)
                            $("#priceMin").val(buyer.application.priceMin)
                            $("#priceMax").val(buyer.application.priceMax)
                            $("#plotAreaMin").val(buyer.application.plotAreaMin)
                            $("#plotAreaMax").val(buyer.application.plotAreaMax)
                            $("#houseAreaMin").val(buyer.application.houseAreaMin)
                            $("#houseAreaMax").val(buyer.application.houseAreaMax)

                            $("#phoneExample2").val(buyer.application.phone)
                            $("#commentExample").val(buyer.application.comment)


                            forSelect2WithSearch(buyer.application.realtor.id, buyer.application.realtor.name, "#realtorSelect2example2", "/realtors/for/select");
                            forSelect2WithSearch(buyer.application.builderObject.id, buyer.application.builderObject.name, "#builderObjects", "/builder_objects/for/select", "builderObject");
                        }else {
                            forSelect2WithSearch(undefined, undefined, "#realtorSelect2example2", "/realtors/for/select");
                            forSelect2WithSearch(undefined, undefined, "#builderObjects", "/builder_objects/for/select");
                        }
                        $("#district").select2({
                            minimumResultsForSearch: -1,
                            placeholder: "Елемент",
                            ajax: {
                                url: contextPath + "/enum/district",
                                dataType: 'json',
                                processResults: function (data) {
                                    var index = 0;
                                    var results = data.map(function (data) {
                                        if (data.id) return {id: data.id, text: data.name};
                                        return {id: data, text: data};
                                    });
                                    return {
                                        results: results
                                    };
                                },
                            }
                        })
                        if(buyer.application && buyer.application.districts)
                        for (var district of buyer.application.districts) {
                            $("#district").append(new Option(district, district, true, true));
                            $("#district").trigger('change');
                        }

                        $("#topzone").select2({
                            minimumResultsForSearch: -1,
                            placeholder: "Елемент",
                            ajax: {
                                url: contextPath + "/enum/topzone",
                                dataType: 'json',
                                processResults: function (data) {
                                    var index = 0;
                                    var results = data.map(function (data) {
                                        if (data.id) return {id: data.id, text: data.name};
                                        return {id: data, text: data};
                                    });
                                    return {
                                        results: results
                                    };
                                },
                            }
                        })
                        if(buyer.application && buyer.application.topzones)
                        for (var topzone of buyer.application.topzones) {
                            $("#topzone").append(new Option(topzone, topzone, true, true));
                            $("#topzone").trigger('change');
                        }
                        if(buyer.application) {
                            forSelect2(buyer.application.status, buyer.application.status, "#status", "/enum/applicationStatus");
                            forSelect2(buyer.application.origin, buyer.application.origin, "#propertyOrigin", "/enum/propertyOrigin");
                            forSelect2(buyer.application.type, buyer.application.type, "#propertyApplicationType", "/enum/propertyApplicationType");
                        }else {
                            forSelect2(undefined, undefined, "#status", "/enum/applicationStatus");
                            forSelect2(undefined, undefined, "#propertyOrigin", "/enum/propertyOrigin");
                            forSelect2(undefined, undefined, "#propertyApplicationType", "/enum/propertyApplicationType");
                        }
                        buyer.realtor?realtorSelect2(buyer.realtor.id, buyer.realtor.name):realtorSelect2(undefined, undefined)
                        buyer.informationSource?informationSourceSelect2(buyer.informationSource, buyer.informationSource):informationSourceSelect2(undefined, undefined)
                    }
                })


            } else {
                forSelect2WithSearch(undefined, undefined, "#realtorSelect2example2", "/realtors/for/select")
                forSelect2WithSearch(undefined, undefined, "#builderObjects", "/builder_objects/for/select", "builderObject")
                forSelect2(undefined, undefined, "#topzone", "/enum/topzone")
                forSelect2(undefined, undefined, "#district", "/enum/district")
                forSelect2(undefined, undefined, "#status", "/enum/applicationStatus")
                forSelect2(undefined, undefined, "#propertyOrigin", "/enum/propertyOrigin")
                forSelect2(undefined, undefined, "#propertyApplicationType", "/enum/propertyApplicationType")
                realtorSelect2()
                informationSourceSelect2()
            }

            var flatpickrDateTimes = document.querySelectorAll(".flatpickr-datetime");

            flatpickrDateTimes.forEach(function (element) {
                element.flatpickr({
                    dateFormat: "Y/m/d"
                });
            });

            $(".bootstrap-maxlength-example").each(function () {
                autosize(this);
            })
            new Cleave("#passport", {
                blocks: [2, 4],
                uppercase: true
            })
        })
        function downloadFileFrom(url) {
            $.ajax({
                type: "GET",
                url: "[[@{/users/download}]]",
                xhrFields: {
                    responseType: 'blob'
                },
                data: {
                    url: url
                },
                success: function (data) {
                    var blob = new Blob([data], {type: 'application/octet-stream'});
                    var filename = "file.pdf";

                    if (window.navigator.msSaveOrOpenBlob) {
                        window.navigator.msSaveOrOpenBlob(blob, filename);
                    } else {
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = filename;
                        link.click();
                    }
                },
                error: function () {
                    console.log("Помилка завантаження файлу");
                }
            });
        }
        function deleteFile(button, url) {
            $('#confirmationModal').modal('show');

            $('.confirm-delete').on('click', function () {
                var rowElement = button.closest('.row');
                if (rowElement) {
                    rowElement.remove();
                }

                $.ajax({
                    type: "Get",
                    url: '[[@{/buyers/delete/file}]]',
                    data: {
                        id: ID,
                        url: url,
                    },
                    success: function (response) {
                        showToast(response, "success")
                    },
                });

                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
            $('#confirmationModal .close, #confirmationModal [data-dismiss="modal"]').on('click', function () {
                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
        }
        function saveNote(buyer) {
            var inputs = $('.for-note');
            for (var i = 0; i < inputs.length; i += 3) {
                var date = inputs[i].value
                var text = inputs[i + 1].value
                var id = inputs[i + 2].value
                $.ajax({
                    type: "POST",
                    url: '[[@{/buyers/add/note}]]',
                    data: {
                        id: id,
                        date: date,
                        comment: text,
                        buyer: buyer
                    },
                    success: function (response) {
                        showToast(response, "success")
                    }
                })
            }
            return
        }
        function addNoteBlock(id, text) {
            var newElement = document.createElement("p");
            var currentDate = new Date().toISOString().split('T')[0].replace(/-/g, '/')
            newElement.innerHTML = `
        <div class="card">
            <div class="card-header">
                ` + new Date().toLocaleDateString() + `
                <input type="text" value="` + currentDate + `" class="form-control for-note" hidden>
                <button class="btn" onclick="deleteBlock(this)" style='float: right;'>
                    <i class='fa fa-trash'></i>
                </button>
            </div>
            <div class="card-body">
                <textarea rows="5" class="form-control for-note" placeholder="текст заметки тут"  data-translate-placeholder="noteText">` + (text == undefined ? "" : text) + `</textarea>
                <input value="` + (id == undefined ? "" : id) + `" type="text" class="form-control for-note" hidden>
            </div>
        </div>
    `;
            var noteBlock = document.getElementById("noteBlock");
            noteBlock.appendChild(newElement);
            refreshAllTranslate();
        }
        function deleteBlock(button) {
            $('#confirmationModal').modal('show');

            $('.confirm-delete').on('click', function () {
                var cardElement = button.closest(".card");
                var inputElements = cardElement.querySelectorAll("input");
                if (inputElements[1].value !== '') {
                    $.ajax({
                        type: "GET",
                        url: '[[@{/buyers/delete/note/}]]' + inputElements[1].value,
                        success: function (response) {
                            showToast(response, "success")
                        }
                    })
                }
                if (cardElement) {
                    cardElement.parentNode.removeChild(cardElement);
                }

                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
            $('#confirmationModal .close, #confirmationModal [data-dismiss="modal"]').on('click', function () {
                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
        }
        function saveApplication(buyer) {
            var districts = $("#district")
            var topzones = $("#topzone")
            var roomQuantity = $(".roomNumbers")
            var floorMin = $("#floorMin")
            var floorMax = $("#floorMax")
            var priceMin = $("#priceMin")
            var priceMax = $("#priceMax")
            var plotAreaMin = $("#plotAreaMin")
            var plotAreaMax = $("#plotAreaMax")
            var houseAreaMin = $("#houseAreaMin")
            var houseAreaMax = $("#houseAreaMax")

            var builderObjects = $("#builderObjects")
            var status = $("#status")
            var origin = $("#propertyOrigin")
            var type = $("#propertyApplicationType")
            var phone = $("#phoneExample2")
            var realtor = $("#realtorSelect2example2")
            var comment = $("#commentExample")


            let formData = new FormData();
            formData.append("districts", districts.val());
            formData.append("topzones", topzones.val());
            formData.append("roomQuantity", $(".roomNumbers:checked").val());
            formData.append("floorMin", floorMin.val());
            formData.append("floorMax", floorMax.val());
            formData.append("priceMin", priceMin.val());
            formData.append("priceMax", priceMax.val());
            formData.append("plotAreaMin", plotAreaMin.val());
            formData.append("plotAreaMax", plotAreaMax.val());
            formData.append("houseAreaMin", houseAreaMin.val());
            formData.append("houseAreaMax", houseAreaMax.val());
            formData.append("builderObject", builderObjects.val());
            formData.append("status", status.val());
            formData.append("origin", origin.val());
            formData.append("type", type.val());
            formData.append("phone", phone.val());
            formData.append("realtor", realtor.val());
            formData.append("comment", comment.val());
            formData.append("buyer", buyer);
            if(APPLICATION_ID)formData.append("id", APPLICATION_ID);


            $.ajax({
                url: '[[@{/buyers/add/application}]]',
                method: "POST",
                cache: false,
                processData: false,
                contentType: false,
                data: formData,
                success: function (response) {
                    showToast(response, "success")
                },
                error: function (xhr, status, error) {
                    var errors = JSON.parse(xhr.responseText);
                    errors.forEach(function (error) {
                        console.log("Ошибка: " + error);
                        showNotification("Ошибка!", error, false);
                    });
                }
            })
        }
        function sendForm() {
            cleanInputs()

            var districts = $("#district")
            var topzones = $("#topzone")
            var roomQuantity = $(".roomNumbers")
            var floorMin = $("#floorMin")
            var floorMax = $("#floorMax")
            var priceMin = $("#priceMin")
            var priceMax = $("#priceMax")
            var plotAreaMin = $("#plotAreaMin")
            var plotAreaMax = $("#plotAreaMax")
            var houseAreaMin = $("#houseAreaMin")
            var houseAreaMax = $("#houseAreaMax")

            var builderObjects = $("#builderObjects")
            var status = $("#status")
            var origin = $("#propertyOrigin")
            var type = $("#propertyApplicationType")
            var phone = $("#phoneExample2")
            var realtor = $("#realtorSelect2example2")
            var comment = $("#commentExample")


            districts.next().find(".select2-selection").css("border-color", "")
            if (!validSelect2(districts)) {
                return
            }
            topzones.next().find(".select2-selection").css("border-color", "")
            if (!validSelect2(topzones)) {
                return
            }
            floorMin.css("border-color", "")
            floorMax.css("border-color", "")
            if (!validateNumber(1, 200, floorMin)) {
                floorMin.css("border-color", "#ff0000")
                floorMax.css("border-color", "#ff0000")
                return
            }
            if (!validateNumber(1, 200, floorMax)) {
                floorMin.css("border-color", "#ff0000")
                floorMax.css("border-color", "#ff0000")
                return
            }
            if (parseInt(floorMin.val()) > parseInt(floorMax.val())) {
                floorMin.css("border-color", "#ff0000")
                floorMax.css("border-color", "#ff0000")
                showToast("Поверх 'від' повинен бути менший за поверх 'до'", "danger")
                return
            }
            priceMin.css("border-color", "")
            priceMax.css("border-color", "")
            if (!validateNumber(1, 20000000, priceMin)) {
                priceMin.css("border-color", "#ff0000")
                priceMax.css("border-color", "#ff0000")
                return
            }
            if (!validateNumber(1, 20000000, priceMax)) {
                priceMin.css("border-color", "#ff0000")
                priceMax.css("border-color", "#ff0000")
                return
            }
            if (parseInt(priceMin.val()) > parseInt(priceMax.val())) {
                priceMin.css("border-color", "#ff0000")
                priceMax.css("border-color", "#ff0000")
                showToast("Ціна 'від' повина бути менша за ціну 'до'", "danger")
                return
            }
            plotAreaMin.css("border-color", "")
            plotAreaMax.css("border-color", "")
            if (!validateNumber(1, 800, plotAreaMin)) {
                plotAreaMin.css("border-color", "#ff0000")
                plotAreaMax.css("border-color", "#ff0000")
                return
            }
            if (!validateNumber(1, 800, plotAreaMax)) {
                plotAreaMin.css("border-color", "#ff0000")
                plotAreaMax.css("border-color", "#ff0000")
                return
            }
            if (parseInt(plotAreaMin.val()) > parseInt(plotAreaMax.val())) {
                plotAreaMin.css("border-color", "#ff0000")
                plotAreaMax.css("border-color", "#ff0000")
                showToast("Участок 'від' повинен бути меншим за участок 'до'", "danger")
                return;
            }
            houseAreaMin.css("border-color", "")
            houseAreaMax.css("border-color", "")
            if (!validateNumber(1, 2000, houseAreaMin)) {
                houseAreaMin.css("border-color", "#ff0000")
                houseAreaMax.css("border-color", "#ff0000")
                return
            }
            if (!validateNumber(1, 2000, houseAreaMax)) {
                houseAreaMin.css("border-color", "#ff0000")
                houseAreaMax.css("border-color", "#ff0000")
                return
            }
            if (parseInt(houseAreaMin.val()) > parseInt(houseAreaMax.val())) {
                houseAreaMin.css("border-color", "#ff0000")
                houseAreaMax.css("border-color", "#ff0000")
                showToast("Площина 'від' повина бути менша за площину 'до'", "danger")
                return;
            }
            if (builderObjects.val() === null) {
                showToast("Елемент має бути вибрано", "danger");
                builderObjects.next().find(".select2-selection").css("border", "1px solid #ff0000")
                return;
            }

            if (status.val() === null) {
                showToast("Елемент має бути вибрано", "danger");
                status.next().find(".select2-selection").css("border", "1px solid #ff0000")
                return;
            }

            if (origin.val() === null) {
                showToast("Елемент має бути вибрано", "danger");
                origin.next().find(".select2-selection").css("border", "1px solid #ff0000");
                return;
            }

            if (type.val() === null) {
                showToast("Елемент має бути вибрано", "danger");
                type.next().find(".select2-selection").css("border", "1px solid #ff0000");
                return;
            }

            if (!validatePhoneNumber(phone)) {
                return;
            }

            if (realtor.val() === null) {
                showToast("Елемент має бути вибрано", "danger");
                realtor.next().find(".select2-selection").css("border", "1px solid #ff0000");
                return;
            }

            if (!validString('1', '1000', comment)) {
                return;
            }

            var surname = $("#surname")
            var name = $("#name")
            var middleName = $("#middleName")
            var phone = $("#phone")
            var email = $("#email")
            var realtor = $("#realtorSelect2")
            var passport = $("#passport")
            var birthdate = $("#birthdate")
            var informationSourceSelect2 = $("#informationSourceSelect2")
            var lastVisit = $("#lastVisit")
            var files = $("#files")
            var comment = $("#comment")

            surname.css("border-color", "");
            if (!validString("3", "50", surname)) {
                return;
            }
            name.css("border-color", "");
            if (!validString("3", "50", name)) {
                return;
            }
            middleName.css("border-color", "");
            if (!validString("3", "50", middleName)) {
                return;
            }
            phone.css("border-color", "");
            if (!validatePhoneNumber(phone)) {
                return;
            }
            email.css("border-color", "");
            if (!validateEmail(email)) {
                return;
            }
            realtor.next().find(".select2-selection").css("border", "");
            if (realtor.val() === null) {
                showToast("Елемент має бути вибрано", "danger")
                $("#realtorSelect2").next().find(".select2-selection").css("border", "1px solid #ff0000");
                return;
            }
            informationSourceSelect2.next().find(".select2-selection").css("border", "");
            if (informationSourceSelect2.val() == null) {
                showToast("Елемент має бути вибрано", "danger")
                $("#informationSourceSelect2").next().find(".select2-selection").css("border", "1px solid #ff0000");
                return;
            }
            passport.css("border-color", "")
            var regex = /^[A-Za-z]{2}\d{4}$/;
            if (!regex.test(passport.val().replace(/\s/g, ''))) {
                showToast("Серія паспорта повина бути в такому форматі: XX 1234", "danger")
                passport.css("border-color", "#ff0000")
                return;
            }
            birthdate.css("border-color", "")
            if (!validateDate(birthdate)) {
                return;
            }
            lastVisit.css("border-color", "")
            if (!validateDate(lastVisit)) {
                return;
            }
            comment.css("border-color", "")
            if (!validString("5", "300", comment)) {
                return;
            }
            files.css("border-color", "")
            if (files[0].files.length <= 0 && !ID) {
                showToast("Файл повинен бути вибраний", "danger")
                files.css("border-color", "#ff0000")
                return;
            } else {
                Array.from(files[0].files).forEach(function (file) {
                    if (!validateOneFile(file, ['.pdf'])) {
                        files.css("border-color", "#ff0000")
                        document.getElementById("#files").value = ''
                        return;
                    }
                });
            }


            var inputs = $('.for-note');
            for (var i = 0; i < inputs.length; i += 3) {
                if (!validString("3", "300", $(inputs[i + 1]))) return
            }


            showToast('Файли успішно завантажено', 'success');

            let formData = new FormData();
            formData.append("surname", surname.val());
            formData.append("name", name.val());
            formData.append("middleName", middleName.val());
            formData.append("phone", phone.val().replace(/\s/g, ''));
            formData.append("email", email.val());
            formData.append("realtor", realtor.val());
            formData.append("passport", passport.val());
            formData.append("birthdate", birthdate.val());
            formData.append("informationSource", informationSourceSelect2.val());
            formData.append("lastContactDate", lastVisit.val());
            formData.append("comment", comment.val());
            if(ID) formData.append("id", ID);

            var filesElement = files[0].files;
            for (var i = 0; i < filesElement.length; i++) {
                formData.append("files", filesElement[i]);
            }
            $.ajax({
                url: '[[@{/buyers/add}]]',
                method: "POST",
                cache: false,
                processData: false,
                contentType: false,
                data: formData,
                success: function (id) {
                    saveNote(id)
                    saveApplication(id)
                    showToast("Покупця успішно збережено", "success")
                },
                error: function (xhr, status, error) {
                    var errors = JSON.parse(xhr.responseText);
                    errors.forEach(function (error) {
                        console.log("Ошибка: " + error);
                        showNotification("Ошибка!", error, false);
                    });
                }
            })
        }
        function showModal() {

            var modal = new bootstrap.Modal(document.getElementById('modalForHistory'))
            var modalElement = document.getElementById('modalForHistory')
            var vall = ''
            if (ID) {
                $.ajax({
                    type: "GET",
                    url: '[[@{/buyers/get/application/history/}]]' + ID,
                    success: function (histories) {
                        for (let i = 0; i < histories.length; i++) {
                            vall += histories[i].date + '\n' + histories[i].description + "\n"
                        }
                        modalElement.querySelector('textarea[name="history"]').value = vall
                        modal.show()
                    }
                })
            }else{
                modalElement.querySelector('textarea[name="history"]').value = 'Історія змін пуста'
                modalElement.querySelector('textarea[name="history"]').setAttribute("data-translate-value", "changeHistoryEmpty");
                modal.show()
                refreshAllTranslate()
            }

        }
    </script>
</section>

</body>
</html>