<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        layout:decorate="~{layout.html}"
        xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title data-translate="питання"></title>
</head>

<body>

<section layout:fragment="content">
    <div class="content-wrapper">
        <div class="container-fluid">
            <br>
            <div class="d-flex justify-content-between">
                <h4 class="fw-bold" data-translate="questions.title">Вопроси</h4>
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/}" data-translate="main">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page" data-translate="questions.title">
                            Вопроси
                        </li>
                    </ol>
                </nav>
            </div>
            <hr style="margin-top: -5px">
            <div class="card border">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped linkedRow" id="questionTable">
                            <thead>
                            <tr>
                                <th data-translate="questions.question">Вопрос</th>
                                <th data-translate="questions.answer">Ответ</th>
                                <th style="min-width: 130px"></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <ul class="pagination pagination-sm m-0 mt-1" style="display: flex; justify-content: flex-end"
                        id="pagination_container">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal animate__animated animate__flipInX" id="flipInXAnimationModal" tabindex="-1"
         aria-labelledby="flipInXAnimationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" data-translate="questions.question">Вопрос1</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <span data-translate="firstName"></span>
                    <input id="id" hidden>
                    <input class="form-control" id="name" placeholder="Денис">
                    Email
                    <input class="form-control" id="email" placeholder="some.email@gmail.com">
                    <span data-translate="phone"></span>
                    <input class="form-control" id="phone" placeholder="+380123456789">
                    <span data-translate="questions.question"></span>
                    <textarea class="form-control" id="question"
                              placeholder="Питання питання питання питанння ..."></textarea>
                    <span data-translate="questions.answer">Ответ</span>
                    <textarea class="form-control" id="answer"
                              placeholder="Відповідь відповідь відповідь ..."></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-translate="cancel">
                        Сancel
                    </button>
                    <button type="button" class="btn btn-primary" onclick="saveElement()" data-translate="save">Save
                        changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/pagination.js}"></script>
    <script>
        $(document).ready(function () {
            getPageWithFilter(0)
            autosize(document.querySelector("#answer"));
            autosize(document.querySelector("#question"))
        })

        function deleteElement(button, id) {
            $('#confirmationModal').modal('show');

            $('.confirm-delete').on('click', function () {
                var table = document.getElementById("questionTable");
                var row = button.parentElement.parentElement;
                table.deleteRow(row.rowIndex);
                showBlockForAllBody(true)
                $.ajax({
                    type: "Get",
                    url: '[[@{/questions/delete/}]]' + id,
                    success: function (response) {
                        getPageWithFilter(page)
                        showToast(response, "success")
                        showBlockForAllBody(false)
                    },
                });

                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
            $('#confirmationModal .close, #confirmationModal [data-dismiss="modal"]').on('click', function () {
                $('#confirmationModal').modal('hide');
                $('.confirm-delete').off('click');
            });
        }

        function saveElement() {
            var modalElement = document.getElementById('flipInXAnimationModal')

            var id = $("#id");
            var name = $("#name");
            var email = $("#email");
            var phone = $("#phone");
            var question = $("#question");
            var answer = $("#answer");

            name.css("border-color", "")
            if (!validString(3, 25, name)) {
                return;
            }
            email.css("border-color", "")
            if (!validateEmail(email)) {
                return;
            }
            phone.css("border-color", "")
            if (!validatePhoneNumber(phone)) {
                return;
            }
            question.css("border-color", "")
            if (!validString(5, 1500, question)) {
                return;
            }
            answer.css("border-color", "")
            if (!validString(5, 1500, answer)) {
                return;
            }

            let formData = new FormData();
            formData.append("id", id.val())
            formData.append("name", name.val())
            formData.append("email", email.val())
            formData.append("phone", phone.val())
            formData.append("question", question.val())
            formData.append("answer", answer.val())
            showBlockForAllBody(true)
            $.ajax({
                url: '[[@{/questions/edit}]]',
                method: "POST",
                cache: false,
                processData: false,
                contentType: false,
                data: formData,
                headers: {'X-XSRF-TOKEN': '[[${_csrf.token}]]'},
                success: function (response) {
                    showToast(response, "success")
                    showBlockForAllBody(false)
                }
            })
        }

        function editQuestion(id) {
            $.ajax({
                type: "Get",
                url: '[[@{/questions/getById}]]',
                data: {
                    id: id
                },
                success: function (question) {
                    var modal = new bootstrap.Modal(document.getElementById('flipInXAnimationModal'))
                    var modalElement = document.getElementById('flipInXAnimationModal')
                    modalElement.querySelector('input[id="id"]').value = question.id
                    modalElement.querySelector('input[id="name"]').value = question.name
                    modalElement.querySelector('input[id="email"]').value = question.email
                    modalElement.querySelector('input[id="phone"]').value = question.phone
                    modalElement.querySelector('textarea[id="question"]').value = question.question
                    if (question.answer) {
                        modalElement.querySelector('textarea[id="answer"]').value = question.answer
                    }
                    modalElement.querySelector('textarea[id="answer"]').setAttribute('rows', 6);
                    modalElement.querySelector('textarea[id="question"]').setAttribute('rows', 6);


                    modal.show()
                }
            })


        }

        function getPageWithFilter(page) {
            this.page = page
            $.ajax({
                type: "Get",
                url: '[[@{/questions/get-all}]]',
                data: {
                    page: page
                },
                success: function (questions) {
                    var table = document.getElementById("questionTable");
                    var tbody = table.querySelector("tbody");
                    $('#questionTable tbody').empty();

                    for (var question of questions.content) {
                        var newRow = tbody.insertRow();
                        var questionId = question.id;
                        var cell1 = newRow.insertCell(0);
                        cell1.innerHTML = textForTable(question.question, 40);
                        // cell1.setAttribute('onclick', 'window.location.href="[[@{/questions/}]]' + questionId + '"');

                        var cell2 = newRow.insertCell(1);
                        if (question.answer) {
                            cell2.innerHTML = textForTable(question.answer, 40);
                        } else {
                            cell2.innerHTML = textForTable('', 40);
                        }
                        // cell2.setAttribute('onclick', 'window.location.href="[[@{/realtors/}]]' + questionId + '"');

                        var cell3 = newRow.insertCell(2);
                        cell3.innerHTML = `
                        <button class='btn btn-default btn-sm float-right' onclick="deleteElement(this, ` + question.id + `);" title='Удалить'><i class='fa fa-trash'></i></button>
                        <button class='btn btn-default btn-sm float-right' onclick="editQuestion(` + question.id + `)" title='Редактировать'><i class='fa fa-pencil-alt'></i></button>`;
                    }
                    $('#pagination_container').empty();
                    if (questions.totalPages > 1) updatePagination(page, questions.totalPages, 'pagination_container')
                },
            });
        }
    </script>
</section>

</body>
</html>